Repository orb-community/orb, pull requests merged in 2021-08, with the labels that each got.

#61 Resolves issues #50 #52 #53 #55 - Sink management
  cmd/sinks/main.go
  docker/nginx/nginx-key.conf
  go.mod
  go.sum
  pkg/config/config.go
  sinks/api/endpoint.go
  sinks/api/endpoint_test.go
  sinks/api/logging.go
  sinks/api/metrics.go
  sinks/api/openapi.yaml
  sinks/api/requests.go
  sinks/api/responses.go
  sinks/api/transport.go
  sinks/backend/backend.go
  sinks/backend/prometheus/prometheus.go
  sinks/mocks/auth.go
  sinks/mocks/commons.go
  sinks/mocks/sinks.go
  sinks/postgres/database.go
  sinks/postgres/init.go
  sinks/postgres/setup_test.go
  sinks/postgres/sinks.go
  sinks/postgres/sinks_test.go
  sinks/redis/producer/events.go
  sinks/redis/producer/streams.go
  sinks/service.go
  sinks/sinks.go
  sinks/sinks_service.go
  sinks/sinks_service_test.go
Labels: orb-backend

#87 feat(angular-prod-env): add api versioning to endpoint urls
  ui/src/environments/environment.defaults.ts
  ui/src/environments/environment.prod.ts
Labels: orb-ui

#84 Resolves #76 Agent group read endpoint
  fleet/agent_group_service.go
  fleet/agent_group_service_test.go
  fleet/agent_groups.go
  fleet/api/endpoint.go
  fleet/api/endpoint_test.go
  fleet/api/logging.go
  fleet/api/metrics.go
  fleet/api/requests.go
  fleet/api/responses.go
  fleet/api/transport.go
  fleet/mocks/agent.go
  fleet/mocks/agent_groups.go
  fleet/mocks/auth.go
  fleet/mocks/commons.go
  fleet/mocks/things.go
  fleet/postgres/agent_groups.go
  fleet/postgres/agent_groups_test.go
  fleet/redis/consumer/streams.go
  fleet/redis/producer/streams.go
Labels: orb-backend

#90 feat(ui-env-config): minor improvements on environment config.
  ui/src/environments/environment.defaults.ts
  ui/src/environments/environment.prod.ts
Labels: orb-ui

#97 feat/sink-details-ui
  ui/src/app/pages/sinks/details/sinks.details.component.ts
Labels: orb-ui, orb-sink

#96 ORB-69: Sink Add Page
  ui/src/app/common/interfaces/orb/sink.config/prometheus.config.interface.ts
  ui/src/app/common/interfaces/orb/sink.config/sink.config.interface.ts
  ui/src/app/common/interfaces/orb/sink.interface.ts
  ui/src/app/common/interfaces/sink.interface.ts
  ui/src/app/common/services/sinks/sinks.service.ts
  ui/src/app/pages/pages-routing.module.ts
  ui/src/app/pages/pages.module.ts
  ui/src/app/pages/sinks/add/sinks.add.component.html
  ui/src/app/pages/sinks/add/sinks.add.component.ts
  ui/src/app/pages/sinks/details/sinks.details.component.ts
  ui/src/app/pages/sinks/sinks.component.html
  ui/src/app/pages/sinks/sinks.component.ts
  ui/src/app/shared/components/table/table.component.html
  ui/src/app/shared/components/table/table.component.ts
  ui/src/assets/text/strings.ts
Labels: orb-ui, orb-sink

#99 feat(ORB-UI-SINK-ADD): Add Sink Page following design spec
  ui/package.json
  ui/src/app/@theme/styles/orb/_orb-overrides.scss
  ui/src/app/@theme/styles/styles.scss
  ui/src/app/@theme/styles/themes.scss
  ui/src/app/app.module.ts
  ui/src/app/common/services/sinks/sinks.service.ts
  ui/src/app/pages/pages-routing.module.ts
  ui/src/app/pages/pages.module.ts
  ui/src/app/pages/sinks/add/sinks.add.component.html
  ui/src/app/pages/sinks/add/sinks.add.component.scss
  ui/src/app/pages/sinks/add/sinks.add.component.ts
  ui/src/assets/text/strings.ts
  ui/yarn.lock
Labels: orb-ui, orb-sink

#103 Fix/orb UI docker and urls
  ui/README.md
  ui/angular.json
  ui/package.json
  ui/proxy-config.json
  ui/src/environments/environment.defaults.ts
  ui/src/environments/environment.prod.ts
  ui/src/index.html
Labels: bug, help wanted, orb-ui, docker-ui-img

#100 feat(sink-breadcrumbs): Add breadcrumbs to sink pages
  ui/src/app/app-routing.module.ts
  ui/src/app/pages/pages-routing.module.ts
  ui/src/app/pages/sinks/add/sinks.add.component.html
  ui/src/app/pages/sinks/add/sinks.add.component.scss
  ui/src/app/pages/sinks/sinks.component.html
  ui/src/app/pages/sinks/sinks.component.scss
  ui/src/app/pages/sinks/sinks.component.ts
  ui/yarn.lock
Labels: orb-ui, orb-sink

#105 feat(orb-sink orb-ui sink-dashboard): improve css and icons of sink d…
  ui/src/app/@theme/styles/themes.scss
  ui/src/app/pages/sinks/sinks.component.html
  ui/src/app/pages/sinks/sinks.component.scss
  ui/src/app/shared/components/table/table.component.html
  ui/src/app/shared/components/table/table.component.scss
Labels: orb-ui, orb-sink

#104 fix(orb-ui env.prod-angular): wrong login endpoint. not versioned yet.
  ui/src/environments/environment.defaults.ts
Labels: bug, orb-ui

#94 Resolves issues #73 #74 #75 #77 #78 #80 #82 Feature/agent group read and update
  agent/rpc_from.go
  cmd/policies/main.go
  fleet/agent_group_service.go
  fleet/agent_group_service_test.go
  fleet/agent_groups.go
  fleet/api/endpoint.go
  fleet/api/endpoint_test.go
  fleet/api/logging.go
  fleet/api/metrics.go
  fleet/api/requests.go
  fleet/api/responses.go
  fleet/api/transport.go
  fleet/comms.go
  fleet/comms_rpc.go
  fleet/mocks/agent_groups.go
  fleet/mocks/comms.go
  fleet/postgres/agent_groups.go
  fleet/postgres/agent_groups_test.go
  fleet/postgres/init.go
  fleet/redis/producer/events.go
  fleet/redis/producer/streams.go
  policies/api/grpc/server.go
  policies/api/http/logging.go
  policies/api/http/metrics.go
  policies/mocks/policies.go
  policies/policies.go
  policies/postgres/policies.go
  policies/redis/consumer/doc.go
  policies/redis/consumer/events.go
  policies/redis/consumer/streams.go
  policies/redis/producer/events.go
  policies/redis/producer/streams.go
  policies/service.go
Labels: orb-backend

#101 Resolves #83 Sink validation endpoint
  sinks/api/endpoint.go
  sinks/api/endpoint_test.go
  sinks/api/logging.go
  sinks/api/metrics.go
  sinks/api/openapi.yaml
  sinks/api/requests.go
  sinks/api/responses.go
  sinks/api/transport.go
  sinks/redis/producer/streams.go
  sinks/sinks.go
  sinks/sinks_service.go
  sinks/sinks_service_test.go
Labels: orb-backend

#108 feat(agent): openapi specification for agent
  fleet/api/openapi.yaml
Labels: documentation, orb-backend

#120 feat(sink): create new config fields to available backends
  sinks/api/endpoint_test.go
  sinks/api/transport.go
  sinks/backend/backend.go
  sinks/backend/prometheus/prometheus.go
Labels: orb-backend

#146 feat(ui-navbar-style-improv): Improve styling on navbar and dashboard in general
  ui/src/app/@theme/components/header/header.component.html
  ui/src/app/@theme/components/header/header.component.scss
  ui/src/app/@theme/layouts/one-column/one-column.layout.ts
  ui/src/app/@theme/styles/themes.scss
  ui/src/app/pages/pages-menu.ts
  ui/src/app/pages/pages.component.scss
  ui/src/app/pages/pages.component.ts
  ui/src/app/pages/sinks/delete/sinks.delete.component.html
  ui/src/app/pages/sinks/delete/sinks.delete.component.scss
  ui/src/app/pages/sinks/delete/sinks.delete.component.ts
  ui/src/app/pages/sinks/details/sinks.details.component.html
  ui/src/app/pages/sinks/details/sinks.details.component.scss
  ui/src/app/shared/components/table/table.component.html
  ui/src/app/shared/components/table/table.component.scss
  ui/src/app/styles/mainflux.scss
  ui/src/assets/images/nav_logo.png
Labels: orb-ui

#138 WIP - feat(orb-ui login): Login Page
  ui/src/app/@theme/components/header/header.component.ts
  ui/src/app/app-routing.module.ts
  ui/src/app/app.module.ts
  ui/src/app/auth/auth.module.ts
  ui/src/app/auth/auth.routing.module.ts
  ui/src/app/auth/components/auth.component.scss
  ui/src/app/auth/components/auth.component.ts
  ui/src/app/pages/login/login.component.html
  ui/src/app/pages/login/login.component.scss
  ui/src/app/pages/login/login.component.ts
  ui/src/app/pages/pages-routing.module.ts
  ui/src/app/pages/pages.module.ts
  ui/src/assets/images/orb_logo_original.png
  ui/src/assets/text/strings.ts
Labels: orb-ui

#116 Feature/orb filter by tags
  fleet/api/transport.go
  fleet/postgres/agent_groups.go
  internal/httputil/query.go
Labels: orb-backend

#155 Feature/orb agent edit
  fleet/agent_group_service_test.go
  fleet/agent_service.go
  fleet/agent_service_test.go
  fleet/agents.go
  fleet/api/endpoint.go
  fleet/api/endpoint_test.go
  fleet/api/logging.go
  fleet/api/metrics.go
  fleet/api/openapi.yaml
  fleet/api/requests.go
  fleet/api/responses.go
  fleet/api/transport.go
  fleet/mocks/agent.go
  fleet/postgres/agent_groups.go
  fleet/postgres/agents.go
  fleet/postgres/agents_test.go
  fleet/redis/producer/streams.go
Labels: orb-backend

#119 feat(orb-agent-group-listing)
  ui/angular.json
  ui/package.json
  ui/proxy-config.json
  ui/src/app/@theme/components/header/header.component.html
  ui/src/app/@theme/layouts/three-columns/three-columns.layout.ts
  ui/src/app/@theme/layouts/two-columns/two-columns.layout.ts
  ui/src/app/@theme/styles/_overrides.scss
  ui/src/app/@theme/styles/orb/_orb-overrides.scss
  ui/src/app/@theme/styles/orb/ngx-datatable/ngx-datatable.scss
  ui/src/app/@theme/styles/orb/orb-dark.scss
  ui/src/app/@theme/styles/styles.scss
  ui/src/app/app.module.ts
  ui/src/app/common/common.module.ts
  ui/src/app/common/interfaces/orb/agent.group.interface.ts
  ui/src/app/common/interfaces/orb/agent.interface.ts
  ui/src/app/common/services/agents/agents.mock.service.ts
  ui/src/app/common/services/agents/agents.service.ts
  ui/src/app/pages/agents/add/agent.add.component.html
  ui/src/app/pages/agents/add/agent.add.component.scss
  ui/src/app/pages/agents/add/agent.add.component.ts
  ui/src/app/pages/agents/add/agents.add.component.html
  ui/src/app/pages/agents/add/agents.add.component.scss
  ui/src/app/pages/agents/add/agents.add.component.ts
  ui/src/app/pages/agents/agents.component.html
  ui/src/app/pages/agents/agents.component.scss
  ui/src/app/pages/agents/agents.component.ts
  ui/src/app/pages/agents/delete/agent.delete.component.html
  ui/src/app/pages/agents/delete/agent.delete.component.scss
  ui/src/app/pages/agents/delete/agent.delete.component.ts
  ui/src/app/pages/agents/details/agent.details.component.html
  ui/src/app/pages/agents/details/agent.details.component.scss
  ui/src/app/pages/agents/details/agent.details.component.ts
  ui/src/app/pages/agents/details/agents.details.component.html
  ui/src/app/pages/agents/details/agents.details.component.scss
  ui/src/app/pages/agents/details/agents.details.component.ts
  ui/src/app/pages/pages-menu.ts
  ui/src/app/pages/pages-routing.module.ts
  ui/src/app/pages/pages.module.ts
  ui/src/app/styles/mainflux.scss
  ui/src/assets/text/strings.ts
  ui/yarn.lock
Labels: orb-ui, orb-agent

#157 feat(orb-ui design): Figma Inputs
  ui/src/app/@theme/styles/material/_material-light.scss
  ui/src/app/@theme/styles/orb/ngx-datatable/ngx-datatable.scss
  ui/src/app/@theme/styles/orb/orb-dark.scss
  ui/src/app/@theme/styles/orb/theme.orb-dark.ts
  ui/src/app/@theme/styles/themes.scss
  ui/src/app/pages/agents/agents.component.html
  ui/src/app/pages/dashboard/dashboard.component.html
  ui/src/app/pages/pages-menu.ts
  ui/src/app/pages/pages-routing.module.ts
  ui/src/app/pages/pages.module.ts
  ui/src/app/pages/showcase/showcase.component.html
  ui/src/app/pages/showcase/showcase.component.scss
  ui/src/app/pages/showcase/showcase.component.ts
  ui/src/app/pages/sinks/add/sinks.add.component.html
Labels: design, orb-ui, sp3

#158 Feature/orb agent read
  fleet/agent_service.go
  fleet/agent_service_test.go
  fleet/agents.go
  fleet/api/endpoint.go
  fleet/api/endpoint_test.go
  fleet/api/logging.go
  fleet/api/metrics.go
  fleet/api/transport.go
  fleet/mocks/agent.go
  fleet/mocks/commons.go
  fleet/redis/producer/streams.go
Labels: orb-backend

#107 Feature/orb 64 agent group creation endpoint
  fleet/agent_group_service.go
  fleet/agent_group_service_test.go
  fleet/agent_groups.go
  fleet/agents.go
  fleet/api/endpoint.go
  fleet/api/endpoint_test.go
  fleet/api/logging.go
  fleet/api/metrics.go
  fleet/api/openapi.yaml
  fleet/api/responses.go
  fleet/api/transport.go
  fleet/mocks/agent.go
  fleet/mocks/agent_groups.go
  fleet/postgres/agents.go
  fleet/redis/producer/streams.go
Labels: orb-backend

#162 feat(orb-ui table-pagination): add new datable with pagination
  ui/package.json
  ui/src/app/@theme/styles/_layout.scss
  ui/src/app/@theme/styles/orb/ngx-datatable/ngx-datatable.scss
  ui/src/app/common/interfaces/mainflux.interface.ts
  ui/src/app/common/interfaces/orb/pagination.ts
  ui/src/app/common/services/agents/agents.service.ts
  ui/src/app/pages/agents/agents.component.html
  ui/src/app/pages/agents/agents.component.scss
  ui/src/app/pages/agents/agents.component.ts
  ui/src/app/pages/pages.module.ts
  ui/src/app/shared/decorators/utils.ts
  ui/yarn.lock
Labels: orb-ui

#147 feat(orb-ui #119): agent group creation page
  ui/angular.json
  ui/proxy-config.json
  ui/src/app/app-routing.module.ts
  ui/src/app/common/interfaces/orb/agent.group.interface.ts
  ui/src/app/common/interfaces/orb/agent.interface.ts
  ui/src/app/common/interfaces/orb/sink.config/prometheus.config.interface.ts
  ui/src/app/common/interfaces/orb/sink.config/sink.config.interface.ts
  ui/src/app/common/interfaces/orb/sink.interface.ts
  ui/src/app/common/interfaces/orb/tag.match.interface.ts
  ui/src/app/common/services/agents/agents.service.ts
  ui/src/app/pages/agents/add/agent.add.component.html
  ui/src/app/pages/agents/add/agent.add.component.scss
  ui/src/app/pages/agents/add/agent.add.component.ts
  ui/src/app/shared/directives/tag-input.validator.ts
  ui/src/app/shared/directives/valid-tag-input.directive.ts
  ui/src/app/shared/pipes/tagchip.pipe.ts
  ui/src/app/shared/shared.module.ts
  ui/src/assets/text/strings.ts
  ui/yarn.lock
Labels: orb-ui, orb-agent

#169 bugfix(orb#141): UI sink edit
  ui/src/app/common/services/sinks/sink.settings.ts
  ui/src/app/pages/sinks/add/sinks.add.component.html
  ui/src/app/pages/sinks/add/sinks.add.component.ts
  ui/src/app/pages/sinks/delete/sinks.delete.component.html
  ui/src/app/pages/sinks/delete/sinks.delete.component.ts
  ui/src/app/pages/sinks/sinks.component.html
  ui/src/app/pages/sinks/sinks.component.ts
  ui/src/app/shared/components/table/table.component.html
  ui/src/assets/text/strings.ts
Labels: bug, orb-ui, sp3, p1

#165 bugfix(orb-ui sink#delete): Fix Sink Delete on Modal being closed
  ui/src/app/pages/sinks/delete/sinks.delete.component.html
  ui/src/app/pages/sinks/delete/sinks.delete.component.ts
Labels: bug, orb-ui, orb-sink, sp3

#170 refactor(orb-ui sinks#table): remove hover event
  ui/src/app/shared/components/table/table.component.html
Labels: orb-ui
