Repository orb-community/orb, pull requests merged in 2021-12, with the labels that each got.

#568 added agent groups feature test
  python-test/features/agentGroups.feature
  python-test/features/environment.py
  python-test/features/steps/control_plane_agent_groups.py
  python-test/features/steps/control_plane_agents.py
  python-test/features/steps/local_agent.py
  python-test/features/steps/utils.py
Labels: test

#592 fix(orb-ui): #579 handlers filters
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.ts
Labels: bug, orb-ui

#594 feat(orb-ui): #507 UI handler name template
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.ts
Labels: enhancement, orb-ui

#597 558 dataset tests
  python-test/README.md
  python-test/features/agentGroups.feature
  python-test/features/agentsProvider.feature
  python-test/features/datasets.feature
  python-test/features/environment.py
  python-test/features/steps/control_plane_agent_groups.py
  python-test/features/steps/control_plane_agents.py
  python-test/features/steps/control_plane_datasets.py
  python-test/features/steps/control_plane_policies.py
  python-test/features/steps/control_plane_sink.py
  python-test/features/steps/local_agent.py
  python-test/test_config.ini.tpl
Labels: test

#605 fix(orb-ui): #362 UI reload incomplete
  ui/src/app/common/services/agents/agent.groups.service.ts
  ui/src/app/common/services/agents/agent.policies.service.ts
  ui/src/app/common/services/agents/agents.service.ts
  ui/src/app/common/services/dataset/dataset.policies.service.ts
  ui/src/app/common/services/sinks/sinks.service.ts
  ui/src/app/pages/datasets/list/dataset.list.component.ts
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.ts
  ui/src/app/pages/fleet/agents/list/agent.list.component.ts
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.ts
  ui/src/app/pages/sinks/list/sink.list.component.ts
Labels: bug, orb-ui

#603 feat(orb-ui): Add reset-password page
  ui/src/app/auth/auth.module.ts
  ui/src/app/auth/auth.routing.module.ts
  ui/src/app/pages/request-password/request-password.component.html
  ui/src/app/pages/request-password/request-password.component.scss
  ui/src/app/pages/request-password/request-password.component.ts
  ui/src/app/pages/reset-password/reset-password.component.html
  ui/src/app/pages/reset-password/reset-password.component.scss
  ui/src/app/pages/reset-password/reset-password.component.ts
Labels: enhancement, orb-ui

#602 fix(sinks): fix status code response of sink ceration
  sinks/api/http/endpoint.go
  sinks/api/http/endpoint_test.go
Labels: orb-backend

#630 fix(orb-ui): #613 agent tags not required
  ui/src/app/pages/fleet/agents/add/agent.add.component.html
  ui/src/app/pages/fleet/agents/details/agent.details.component.html
Labels: bug, orb-ui

#629 fix(orb-ui): #621 sink tags not required
  ui/src/app/pages/sinks/add/sink.add.component.html
  ui/src/app/pages/sinks/details/sink.details.component.html
Labels: bug, orb-ui

#628 fix(orb-ui): #622 dataset details view
  ui/src/app/pages/datasets/add/dataset.add.component.html
  ui/src/app/pages/datasets/details/dataset.details.component.html
Labels: bug, orb-ui

#639 fix(orb-ui): #612 fix agent view copy command button
  ui/src/app/pages/fleet/agents/view/agent.view.component.html
  ui/src/app/pages/fleet/agents/view/agent.view.component.ts
Labels: bug, orb-ui

#636 fix(orb-ui): #624 fix menu items order
  ui/src/app/pages/pages-menu.ts
Labels: bug, orb-ui

#634 fix(orb-ui): #617 agent group creation agent matches
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.ts
Labels: bug, orb-ui

#632 fix(orb-ui): #619 agent policy detail view version required asterisk
  ui/src/app/pages/datasets/policies.agent/details/agent.policy.details.component.html
Labels: bug, orb-ui

#631 fix(orb-ui): fix error msg
  ui/src/app/common/services/agents/agents.service.ts
Labels: bug, orb-ui

#627 fix(orb-ui): fix display of agent tags on agent group details view
  ui/src/app/pages/fleet/groups/details/agent.group.details.component.html
Labels: bug, orb-ui

#637 fix(orb-ui): #625 fix order on dashboard page
  ui/src/app/pages/dashboard/dashboard.component.html
Labels: bug, orb-ui

#660 fix(dataset): Fix http patch to put on edition.
  policies/api/http/endpoint_test.go
  policies/api/http/transport.go
Labels: bug, orb-backend

#601 Feat/orb otelco
  .github/workflows/go.yml
  agent/agent.go
  agent/backend/backend.go
  agent/backend/pktvisor/pktvisor.go
  agent/config/types.go
  agent/otel/pktvisorreceiver/config.go
  agent/otel/pktvisorreceiver/config_test.go
  agent/otel/pktvisorreceiver/e2e_test.go
  agent/otel/pktvisorreceiver/factory.go
  agent/otel/pktvisorreceiver/factory_test.go
  agent/otel/pktvisorreceiver/receiver.go
  agent/otel/pktvisorreceiver/receiver_test.go
  agent/otel/pktvisorreceiver/setup_test.go
  agent/otel/pktvisorreceiver/testdata/config.yaml
  cmd/agent/main.go
  go.mod
  go.sum
  sinker/prometheus/client.go
Labels: orb-backend, orb-agent

#659 enhancement(orb-ui): #657 improve home page card ordering for user actions
  ui/src/app/pages/dashboard/dashboard.component.html
Labels: enhancement

#595 feat(orb-ui): re-enable profile page
  ui/src/app/pages/pages-routing.module.ts
  ui/src/app/pages/profile/profile.component.html
  ui/src/app/pages/profile/profile.component.scss
  ui/src/app/pages/profile/profile.component.ts
  ui/src/app/pages/register/register.component.ts
Labels: enhancement, orb-ui

#623 Feature/orb sinks send metrics to prometheus
  cmd/sinks/main.go
  sinks/api/http/metrics.go
Labels: orb-backend

#618 feat(policies): add service metrics to api
  cmd/policies/main.go
  docker/configs/prometheus.yml
  policies/api/http/metrics.go
Labels: orb-backend
