Repository orb-community/orb, pull requests merged in 2021-11, with the labels that each got.

#415 refactor sinker prom label generation
  agent/backend/pktvisor/pktvisor.go
  fleet/agent_service.go
  fleet/agents.go
  fleet/api/grpc/client.go
  fleet/api/grpc/endpoint.go
  fleet/api/grpc/responses.go
  fleet/api/grpc/server.go
  fleet/api/http/logging.go
  fleet/api/http/metrics.go
  fleet/comms_rpc.go
  fleet/mocks/agent.go
  fleet/pb/fleet.pb.go
  fleet/pb/fleet.proto
  fleet/postgres/agents.go
  fleet/redis/producer/streams.go
  sinker/backend/backend.go
  sinker/backend/pktvisor/pktvisor.go
  sinker/service.go
Labels: orb-agent, orb-sinker, orb-fleet

#413 fix(orb-dockers): change mainflux version for docker builds
  docker/.env
Labels: bug

#398 feat(orb-ui): agent policies fixes
  cmd/agent/orb-agent.db
  ui/src/app/common/interfaces/orb/dynamic.form.interface.ts
  ui/src/app/common/interfaces/orb/policy/policy.tap.interface.ts
  ui/src/app/common/services/agents/agent.policies.service.ts
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.ts
  ui/src/app/pages/pages.module.ts
Labels: bug, enhancement, orb-ui, sp8

#422 (orb-ui): all tags should be optional
  ui/src/app/pages/fleet/agents/add/agent.add.component.html
  ui/src/app/pages/fleet/agents/add/agent.add.component.ts
  ui/src/app/pages/sinks/add/sink.add.component.html
  ui/src/app/pages/sinks/add/sink.add.component.ts
Labels: orb-ui

#421 fix(orb-ui): fix agent provisioning command
  ui/src/app/pages/fleet/agents/key/agent.key.component.ts
  ui/src/app/pages/fleet/agents/view/agent.view.component.ts
Labels: orb-ui

#411 Handle agent group remove rpc
  agent/comms.go
  agent/rpc_from.go
  fleet/comms.go
  fleet/comms_rpc.go
  policies/redis/consumer/events.go
  policies/redis/consumer/streams.go
Labels: sp8

#428 fix matching agents when we have more tags on query than on agents or…
  fleet/postgres/agents.go
Labels: bug

#427 fix(orb-ui): change to ETH-INTERFACE to mock
  ui/src/app/pages/fleet/agents/key/agent.key.component.html
  ui/src/app/pages/fleet/agents/key/agent.key.component.scss
  ui/src/app/pages/fleet/agents/key/agent.key.component.ts
  ui/src/app/pages/fleet/agents/view/agent.view.component.html
  ui/src/app/pages/fleet/agents/view/agent.view.component.ts
Labels: bug, orb-ui

#439 Hotfix/orb docker volume handlers inputs
  fleet/api/http/endpoint_test.go
  fleet/api/http/transport.go
  fleet/backend/pktvisor/pktvisor.go
  fleet/backend/pktvisor/transport.go
Labels: bug, orb-backend

#440 fix(orb-ui): enable production service routes, remove mocked object data
  ui/src/app/common/services/agents/agent.policies.service.ts
  ui/src/environments/environment.defaults.ts
Labels: bug, enhancement, orb-ui

#444 Hotfix/agents backends wrong url
  fleet/api/http/endpoint_test.go
  fleet/api/http/transport.go
Labels: bug, orb-backend

#414 Feature/handle dataset remove rpc
  agent/backend/backend.go
  agent/backend/pktvisor/pktvisor.go
  agent/comms.go
  agent/policies/repo.go
  agent/policyMgr/manager.go
  agent/rpc_from.go
  fleet/comms.go
  fleet/comms_rpc.go
  fleet/mocks/comms.go
  fleet/redis/consumer/events.go
  fleet/redis/consumer/streams.go
  policies/api/http/endpoint.go
  policies/redis/producer/events.go
  policies/redis/producer/streams.go
Labels: orb-backend

#455 fix: #369 align handler add button
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
Labels: bug, orb-ui

#454 feature: #425 add orb link to login page
  ui/src/app/pages/login/login.component.html
  ui/src/assets/text/strings.ts
Labels: orb-ui

#453 feature: show toast message with agent key modal
  ui/src/app/pages/fleet/agents/add/agent.add.component.ts
Labels: orb-ui

#452 fix: #380 change copy icon after click
  ui/src/app/pages/fleet/agents/key/agent.key.component.html
  ui/src/app/pages/fleet/agents/key/agent.key.component.ts
Labels: bug, orb-ui

#447 fix: remove dataset dates related comlumns
  ui/src/app/pages/datasets/list/dataset.list.component.ts
Labels: bug, orb-ui

#462 fix(orb-io): dataset edit #430 #432 #378 #456
  ui/src/app/pages/datasets/add/dataset.add.component.html
  ui/src/app/pages/datasets/add/dataset.add.component.ts
  ui/src/app/pages/pages-routing.module.ts
Labels: bug, orb-ui

#461 hotfix(policies) change policy_id to agent_policy_id
  policies/api/http/responses.go
Labels: bug, orb-backend

#458 hotfix(fleet):lower case backends json keys
  fleet/backend/pktvisor/pktvisor.go
Labels: bug, orb-backend

#468 fix(orb-ui): fix dataset stepper controls on edit/create
  ui/src/app/pages/datasets/add/dataset.add.component.html
  ui/src/app/pages/datasets/add/dataset.add.component.ts
Labels: bug, orb-ui

#463 Fix/policy add and edit
  ui/src/app/common/services/agents/agent.policies.service.ts
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.ts
Labels: bug, orb-ui

#450 feat(agent) Create version check for too old agents
  agent/rpc_from.go
  fleet/agents.go
  fleet/comms.go
  fleet/comms_rpc.go
  fleet/mocks/comms.go
  fleet/postgres/agents.go
  fleet/postgres/init.go
  go.mod
  go.sum
  version.go
Labels: orb-backend

#502 fix(orb-ui): Fix docker-compose.yml
  docker/docker-compose.yml
Labels: bug, orb-ui, docker-ui-img

#493 hotfix(policies): Fix valid field always with false
  policies/api/http/endpoint.go
Labels: bug, orb-backend

#504 Hotfix/orb wrong matching agents
  agent/rpc_from.go
  fleet/postgres/agents.go
Labels: bug, orb-backend

#505 fix: minor ui adjustments
  ui/src/app/pages/datasets/add/dataset.add.component.html
  ui/src/app/pages/datasets/add/dataset.add.component.ts
  ui/src/app/pages/datasets/details/dataset.details.component.html
  ui/src/app/pages/datasets/list/dataset.list.component.ts
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
  ui/src/app/pages/datasets/policies.agent/details/agent.policy.details.component.html
  ui/src/app/pages/fleet/agents/list/agent.list.component.html
  ui/src/app/pages/fleet/groups/details/agent.group.details.component.html
  ui/src/app/pages/sinks/add/sink.add.component.html
  ui/src/app/pages/sinks/details/sink.details.component.html
Labels: bug, enhancement, orb-ui

#515 fix(orb-ui): add agent policy filter config options
  ui/src/app/common/interfaces/orb/policy/policy.tap.interface.ts
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.ts
Labels: bug, orb-ui

#516 fix(orb-ui): remove regions text
  ui/src/app/pages/fleet/agents/list/agent.list.component.html
Labels: bug, orb-ui

#519 fix: policy payload fix
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.ts
Labels: bug, orb-ui

#518 Hotfix/orb remove policy
  fleet/comms.go
  fleet/mocks/comms.go
  fleet/redis/consumer/events.go
  fleet/redis/consumer/streams.go
  policies/redis/producer/events.go
  policies/redis/producer/streams.go
Labels: bug, orb-backend

#533 fix(orb-ui): #485 'save' instead of 'next'
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
Labels: bug, orb-ui, p3

#549 fix(orb-ui): #528 add company name field to register page
  ui/src/app/@core/core.module.ts
  ui/src/app/pages/register/register.component.html
  ui/src/app/pages/register/register.component.ts
Labels: enhancement, orb-ui

#554 feat(orb-ui): add style to forgot-password page
  ui/src/app/auth/auth.module.ts
  ui/src/app/auth/auth.routing.module.ts
  ui/src/app/pages/login/request-password.component.html
  ui/src/app/pages/login/request-password.component.scss
  ui/src/app/pages/login/request-password.component.ts
  ui/src/app/pages/pages.module.ts
Labels: enhancement, orb-ui

#550 fix(orb-ui): unable edit {entity} no tags
  ui/src/app/common/interfaces/orb/sink.interface.ts
  ui/src/app/common/interfaces/orb/sink/config/aws.config.interface.ts
  ui/src/app/common/interfaces/orb/sink/config/prometheus.config.interface.ts
  ui/src/app/common/interfaces/orb/sink/sink.config.interface.ts
  ui/src/app/common/interfaces/orb/sink/sink.feature.interface.ts
  ui/src/app/pages/datasets/add/dataset.add.component.html
  ui/src/app/pages/datasets/details/dataset.details.component.html
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.ts
  ui/src/app/pages/fleet/agents/add/agent.add.component.html
  ui/src/app/pages/fleet/agents/add/agent.add.component.ts
  ui/src/app/pages/fleet/agents/details/agent.details.component.html
  ui/src/app/pages/fleet/agents/list/agent.list.component.html
  ui/src/app/pages/fleet/agents/match/agent.match.component.html
  ui/src/app/pages/fleet/agents/view/agent.view.component.html
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.html
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.ts
  ui/src/app/pages/fleet/groups/details/agent.group.details.component.html
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.html
  ui/src/app/pages/profile/profile.component.html
  ui/src/app/pages/sinks/add/sink.add.component.html
  ui/src/app/pages/sinks/add/sink.add.component.ts
  ui/src/app/pages/sinks/details/sink.details.component.html
  ui/src/app/pages/sinks/list/sink.list.component.html
  ui/src/app/shared/pipes/tag-chip.pipe.ts
  ui/src/app/shared/pipes/tag-color.pipe.ts
  ui/src/app/shared/pipes/tagchip.pipe.ts
  ui/src/app/shared/pipes/taglist-chip.pipe.ts
  ui/src/app/shared/shared.module.ts
Labels: bug, orb-ui

#559 Python test
  .gitignore
  python-test/.gitignore
  python-test/README.md
  python-test/features/agentsProvider.feature
  python-test/features/behave.ini
  python-test/features/environment.py
  python-test/features/steps/control_plane_agents.py
  python-test/features/steps/local_agent.py
  python-test/features/steps/test_config.py
  python-test/features/steps/users.py
  python-test/requirements.txt
  python-test/test_config.ini.tpl
Labels: test

#566 doc(fleet): update fleet service openapi spec
  fleet/api/http/openapi.yaml
Labels: documentation, orb-backend
