Repository orb-community/orb, pull requests merged in 2022-02, with the labels that each got.

#818 Avoiding NaN on prometheus
  sinker/backend/pktvisor/pktvisor.go
  sinker/backend/pktvisor/pktvisor_test.go
Labels: orb-backend, p1

#824 (hotfix): @types/node version set to 12.20.42
  ui/package.json
Labels: bug

#826 Fix dataset overriting to empty when edit a policy
  agent/policyMgr/manager.go
Labels: orb-backend

#819 Feat/orb policy last modify
  policies/api/http/endpoint.go
Labels: orb-backend

#835 add undersocre bofore ASN
  sinker/backend/pktvisor/pktvisor.go
Labels: bug, orb-backend

#828 Bug/orb agent tag edition
  agent/agent.go
  agent/comms.go
  agent/heartbeats.go
  agent/rpc_from.go
  fleet/agent_group_service.go
  fleet/agent_service.go
  fleet/comms.go
  fleet/comms_rpc.go
  fleet/comms_types.go
Labels: bug, orb-backend

#837 fix(orb-ui): #96 pactsafe parameters
  ui/src/app/pages/register/register.component.html
Labels: orb-ui, p1, OKR - 1º Quarter

#838 fix(orb-ui): agent provisioning command image tag
  ui/src/app/pages/fleet/agents/key/agent.key.component.ts
  ui/src/app/pages/fleet/agents/view/agent.view.component.ts
Labels: enhancement, orb-ui

#847 creating unit test and fixing topASN label
  sinker/backend/pktvisor/pktvisor.go
  sinker/backend/pktvisor/pktvisor_test.go
Labels: bug, orb-backend, p1

#844 fix(orb-ui): #487 last modified field on policies list page
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.ts
Labels: bug, orb-ui

#845 fix(orb-ui): fix regex pattern for fullname in register form
  ui/src/app/pages/register/register.component.html
Labels: bug, orb-ui

#848 Bug/orb mix tags
  fleet/postgres/agents.go
Labels: orb-backend

#855 fix(orb-ui): fix agent policy edit failing
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
Labels: bug, orb-ui, p1

#846 fix(orb-ui): Add cancel button to all stepper controls in forms
  ui/src/app/pages/datasets/add/dataset.add.component.html
  ui/src/app/pages/datasets/add/dataset.add.component.ts
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.ts
  ui/src/app/pages/fleet/agents/add/agent.add.component.html
  ui/src/app/pages/fleet/agents/view/agent.view.component.html
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.html
  ui/src/app/pages/sinks/add/sink.add.component.html
Labels: enhancement, orb-ui

#877 fix broken unit tests on fleet agents
  fleet/postgres/agents_test.go
Labels: bug, orb-backend

#857 Bug/agent group subscription fail
  agent/agent.go
  agent/policyMgr/manager.go
  agent/rpc_from.go
  fleet/agent_group_service.go
  fleet/agent_service.go
  fleet/comms.go
  fleet/comms_rpc.go
Labels: bug, orb-backend

#856 feat(orb-ui): Agent View Enhancements
  ui/src/app/common/interfaces/orb/agent.interface.ts
  ui/src/app/common/services/agents/agents.service.ts
  ui/src/app/pages/fleet/agents/list/agent.list.component.scss
  ui/src/app/pages/fleet/agents/view/agent.view.component.html
  ui/src/app/pages/fleet/agents/view/agent.view.component.scss
  ui/src/app/pages/fleet/agents/view/agent.view.component.ts
  ui/src/app/shared/pipes/pretty-json.pipe.ts
  ui/src/app/shared/shared.module.ts
Labels: enhancement, orb-ui, OKR Q1

#888 fix(orb-ui): ironclad email issues
  ui/src/app/app.module.ts
  ui/src/app/pages/register/register.component.html
  ui/src/app/pages/register/register.component.ts
  ui/yarn.lock
Labels: bug, orb-ui, beta_orb_live, OKR Q1

#891 fix(orb-ui): agent group add page matching agents table status
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.html
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.scss
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.ts
Labels: bug, design, orb-ui

#893 fix(orb-ui): agent group matching agents list issues
  ui/src/app/@theme/styles/themes.scss
  ui/src/app/pages/datasets/add/dataset.add.component.html
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
  ui/src/app/pages/fleet/agents/add/agent.add.component.html
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.html
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.scss
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.ts
  ui/src/app/pages/sinks/add/sink.add.component.html
  ui/src/app/styles/mainflux.scss
Labels: bug, orb-ui

#898 fix(orb-ui): register redirect issue
  ui/src/app/pages/register/register.component.ts
Labels: bug, orb-ui
