Repository orb-community/orb, pull requests merged in 2022-07, with the labels that each got.

#1202 fix(policy): fix reapply policy after the dataset becomes valid again
  fleet/comms.go
  fleet/comms_test.go
  fleet/metrics.go
  fleet/mocks/comms.go
  fleet/redis/consumer/events.go
  fleet/redis/consumer/streams.go
  policies/policy_service.go
  policies/redis/producer/events.go
  policies/redis/producer/streams.go
Labels: orb-backend

#1422 fix conflict policy name editing scenarios
  python-test/features/steps/control_plane_policies.py
Labels: test

#1376 adding new log to policy removal
  python-test/features/integration.feature
Labels: test

#1429 fixing undefined scenario
  python-test/features/integration.feature
Labels: bug, test

#1433 fix(orb-ui): #1412 - Use pointer cursor on agent names
  ui/src/app/pages/fleet/agents/match/agent.match.component.scss
Labels: bug, orb-ui

#1434 fix(orb-ui): #1406 - Align add handler button to the left
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.scss
Labels: bug, orb-ui

#1435 fix(orb-ui): #1106 - Fix add components sizes
  ui/src/app/pages/fleet/agents/add/agent.add.component.html
  ui/src/app/pages/fleet/agents/add/agent.add.component.scss
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.html
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.scss
Labels: bug, orb-ui

#1431 Improving the information returned when a test scenario fails
  python-test/features/environment.py
  python-test/features/integration.feature
  python-test/features/steps/control_plane_agent_groups.py
  python-test/features/steps/control_plane_agents.py
  python-test/features/steps/control_plane_datasets.py
  python-test/features/steps/control_plane_policies.py
  python-test/features/steps/control_plane_sink.py
  python-test/features/steps/local_agent.py
Labels: test

#1438 fix(orb-ui): #1403 - Block register button for repeated emails
  ui/src/app/auth/pages/register/register.component.html
  ui/src/app/auth/pages/register/register.component.ts
Labels: enhancement, orb-ui

#1444 fix(orb-ui): #1439 - Include backend type and version on agent page
  ui/src/app/shared/components/orb/agent/agent-information/agent-information.component.html
  ui/src/app/shared/components/orb/agent/agent-information/agent-information.component.ts
Labels: enhancement, orb-ui

#1445 fix(orb-ui): #1395 - Implement agent name error messages
  ui/src/app/pages/fleet/agents/add/agent.add.component.html
Labels: enhancement, orb-ui

#1441 fix(orb-ui): #1018 - Improve policy error msgs
  policies/api/http/endpoint.go
  ui/src/app/common/services/agents/agent.policies.service.ts
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.ts
Labels: enhancement, orb-ui, orb-policy

#1443 feat(agent): successfully on lost connection restore all subs and policies.
  agent/backend/pktvisor/pktvisor.go
  agent/comms.go
Labels: orb-agent

#1466 standardizing the wait time
  python-test/features/agentGroups.feature
  python-test/features/agentProviderUi.feature
  python-test/features/agentsProvider.feature
  python-test/features/environment.py
  python-test/features/integration.feature
  python-test/features/sinks.feature
  python-test/features/steps/control_plane_agents.py
  python-test/features/steps/local_agent.py
  python-test/features/steps/utils.py
Labels: test

#1436 fix(ui): #1285 filter tool
  ui/src/app/app.module.ts
  ui/src/app/auth/pages/register/register.component.ts
  ui/src/app/common/common.module.ts
  ui/src/app/common/interfaces/orb/agent.group.interface.ts
  ui/src/app/common/interfaces/orb/agent.interface.ts
  ui/src/app/common/interfaces/orb/agent.policy.interface.ts
  ui/src/app/common/interfaces/orb/dataset.policy.interface.ts
  ui/src/app/common/interfaces/orb/filter-option.ts
  ui/src/app/common/interfaces/orb/orb.entity.interface.ts
  ui/src/app/common/interfaces/orb/sink.interface.ts
  ui/src/app/common/services/agents/agent.groups.service.ts
  ui/src/app/common/services/agents/agent.policies.service.ts
  ui/src/app/common/services/agents/agents.service.ts
  ui/src/app/common/services/dataset/dataset.policies.service.ts
  ui/src/app/common/services/filter.service.ts
  ui/src/app/common/services/orb.service.ts
  ui/src/app/common/services/sinks/sinks.service.ts
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.html
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.scss
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.ts
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.ts
  ui/src/app/pages/fleet/agents/add/agent.add.component.ts
  ui/src/app/pages/fleet/agents/list/agent.list.component.html
  ui/src/app/pages/fleet/agents/list/agent.list.component.scss
  ui/src/app/pages/fleet/agents/list/agent.list.component.ts
  ui/src/app/pages/fleet/agents/match/agent.match.component.scss
  ui/src/app/pages/fleet/agents/match/agent.match.component.ts
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.ts
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.html
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.scss
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.ts
  ui/src/app/pages/pages.module.ts
  ui/src/app/pages/sinks/list/sink.list.component.html
  ui/src/app/pages/sinks/list/sink.list.component.scss
  ui/src/app/pages/sinks/list/sink.list.component.ts
  ui/src/app/shared/components/filter/filter.component.html
  ui/src/app/shared/components/filter/filter.component.scss
  ui/src/app/shared/components/filter/filter.component.ts
  ui/src/app/shared/components/orb/agent/agent-groups/agent-groups.component.ts
  ui/src/app/shared/components/orb/agent/agent-information/agent-information.component.ts
  ui/src/app/shared/components/orb/agent/agent-policies-datasets/agent-policies-datasets.component.ts
  ui/src/app/shared/components/orb/dataset/grouped-agents/grouped-agents.component.ts
  ui/src/app/shared/components/orb/policy/policy-details/policy-details.component.ts
  ui/src/app/shared/components/poll-control/poll-control.component.html
  ui/src/app/shared/components/poll-control/poll-control.component.scss
  ui/src/app/shared/components/poll-control/poll-control.component.ts
  ui/src/app/shared/shared.module.ts
Labels: orb-ui

#1467 feat(orb-ui): #1286 preserve filters
  ui/src/app/common/interfaces/orb/filter-option.ts
  ui/src/app/common/services/filter.service.ts
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.ts
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.ts
  ui/src/app/pages/fleet/agents/list/agent.list.component.ts
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.ts
  ui/src/app/pages/sinks/list/sink.list.component.ts
  ui/src/app/shared/components/filter/filter.component.html
  ui/src/app/shared/components/filter/filter.component.scss
  ui/src/app/shared/components/filter/filter.component.ts
Labels: enhancement, orb-ui

#1472 fix(orb-ui): #1456 Agent View Fix
  ui/src/app/shared/components/orb/agent/agent-information/agent-information.component.ts
Labels: bug, orb-ui

#1490 fix(orb-ui): #1015 Make advanced options button look clickable
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.scss
Labels: enhancement, orb-ui

#1496 fix(orb-ui): #1471 Remove selection from reload button once clicked and make it rotate while fetching data
  ui/src/app/shared/components/poll-control/poll-control.component.html
  ui/src/app/shared/components/poll-control/poll-control.component.scss
  ui/src/app/shared/components/poll-control/poll-control.component.ts
Labels: enhancement, orb-ui

#1497 fix(orb-ui): #1470 Dismiss dataset modal when clicking outside it
  ui/src/app/shared/components/orb/agent/agent-policies-datasets/agent-policies-datasets.component.ts
Labels: bug, orb-ui

#1499 fix(orb-ui): #1491 Change navbar link color while hovering and when route is active
  ui/src/app/@theme/styles/_overrides.scss
  ui/src/app/pages/pages-menu.ts
  ui/src/app/shared/components/orb/agent/agent-policies-datasets/agent-policies-datasets.component.ts
Labels: enhancement, orb-ui

#1505 fix(orb-ui): #1502 Align policy names at the left of table row
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.scss
Labels: enhancement, orb-ui

#1507 hotfix(orb-ui): agents list error
  ui/src/app/common/services/agents/agents.service.ts
Labels: bug, orb-ui, quick_fix

#1510 hotfix(orb-ui): UI Page listing errors.
  ui/src/app/common/services/agents/agent.groups.service.ts
  ui/src/app/common/services/agents/agent.policies.service.ts
  ui/src/app/common/services/agents/agents.service.ts
  ui/src/app/common/services/dataset/dataset.policies.service.ts
  ui/src/app/common/services/orb.service.ts
  ui/src/app/common/services/sinks/sinks.service.ts
  ui/src/app/pages/datasets/dataset-from/dataset-from.component.ts
  ui/src/app/pages/datasets/list/dataset.list.component.ts
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.ts
  ui/src/app/shared/components/orb/policy/policy-groups/policy-groups.component.ts
Labels: bug, orb-ui, quick_fix

#1516 Fix/remove policy stream
  policies/api/http/logging.go
  policies/api/http/metrics.go
  policies/policies.go
  policies/policy_service.go
  policies/policy_service_test.go
  policies/redis/producer/streams.go
Labels: p1

#1520 feat(orb-ui): #1519 change policy edit from stepper to policy view component
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.html
Labels: enhancement, orb-ui

#1532 fix(orb-ui): #1531 Only add filter property if it is not empty
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.ts
Labels: bug, orb-ui

#1528 fix(services): fix ts encoding as iso
  cmd/agent/main.go
  cmd/fleet/main.go
  cmd/migrate/main.go
  cmd/policies/main.go
  cmd/sinker/main.go
  cmd/sinks/main.go
Labels: enhancement

#1530 fix(orb-ui): fix page issues after filter/poll update
  ui/src/app/@theme/styles/_overrides.scss
  ui/src/app/common/interfaces/orb/agent.policy.interface.ts
  ui/src/app/common/interfaces/orb/dataset.policy.interface.ts
  ui/src/app/common/services/agents/agent.groups.service.ts
  ui/src/app/common/services/agents/agent.policies.service.ts
  ui/src/app/common/services/agents/agents.service.ts
  ui/src/app/common/services/dataset/dataset.policies.service.ts
  ui/src/app/common/services/orb.service.ts
  ui/src/app/common/services/sinks/sinks.service.ts
  ui/src/app/pages/datasets/add/dataset.add.component.ts
  ui/src/app/pages/datasets/dataset-from/dataset-from.component.ts
  ui/src/app/pages/datasets/list/dataset.list.component.html
  ui/src/app/pages/datasets/list/dataset.list.component.ts
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.ts
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.html
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.ts
  ui/src/app/pages/fleet/agents/list/agent.list.component.ts
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.ts
  ui/src/app/pages/sinks/list/sink.list.component.ts
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.html
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.ts
  ui/src/app/shared/components/orb/policy/policy-groups/policy-groups.component.ts
Labels: bug, orb-ui

#1558 feature(orb-ui): #1547 Only add filter property if it is not empty and if it is valid
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.ts
Labels: bug, orb-ui

#1560 fix(orb-ui): #1553 Reduce margin to make clear button near filters
  ui/src/app/shared/components/filter/filter.component.html
  ui/src/app/shared/components/filter/filter.component.scss
Labels: orb-ui

#1559 fix(orb-ui): #1554 fix filter space in tags filter
  ui/src/app/common/interfaces/orb/filter-option.ts
Labels: enhancement, orb-ui

#1564 fix(orb-ui): #1550 Display agent group name and description in column direction and set a limit to text container
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.html
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.scss
Labels: bug, orb-ui

#1563 feat(orb-ui): #1347 agent view policy column
  ui/src/app/common/interfaces/orb/agent.interface.ts
  ui/src/app/common/interfaces/orb/agent.policy.interface.ts
  ui/src/app/common/services/agents/agents.service.ts
  ui/src/app/pages/fleet/agents/list/agent.list.component.html
  ui/src/app/pages/fleet/agents/list/agent.list.component.scss
  ui/src/app/pages/fleet/agents/list/agent.list.component.ts
Labels: enhancement, orb-ui, ux

#1565 feat(orb-ui): auto-complete delete modal
  ui/src/app/pages/datasets/delete/dataset.delete.component.html
  ui/src/app/pages/datasets/policies.agent/delete/agent.policy.delete.component.html
  ui/src/app/pages/fleet/agents/delete/agent.delete.component.html
  ui/src/app/pages/fleet/groups/delete/agent.group.delete.component.html
  ui/src/app/pages/sinks/delete/sink.delete.component.html
Labels: enhancement, orb-ui

#1568 fix(orb-ui): remove duplicate sinks and datasets from policy view
  ui/src/app/common/services/orb.service.ts
Labels: bug, orb-ui, quick_fix

#1569 fix(orb-ui): #1122 Display a message to user when no agent groups or sinks are available
  ui/src/app/pages/datasets/dataset-from/dataset-from.component.html
  ui/src/app/pages/datasets/dataset-from/dataset-from.component.scss
  ui/src/app/pages/datasets/dataset-from/dataset-from.component.ts
Labels: enhancement, orb-ui

#1570 fix(orb-ui): #1543 policy view not showing
  ui/src/app/common/services/dataset/dataset.policies.service.ts
  ui/src/app/common/services/orb.service.ts
  ui/src/app/shared/components/orb/policy/policy-groups/policy-groups.component.html
Labels: bug, orb-ui

#1588 fix(orb-ui): #1573 Listen to enter key event in filter input
  ui/src/app/shared/components/filter/filter.component.ts
Labels: enhancement, orb-ui

#1590 feature(orb-ui): #1136 Change wizard engaging text according to type chosen
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
Labels: enhancement, orb-ui

#1594 fix(orb-ui): #1183 Implement autosuggestion to all removal modal
  ui/src/app/common/services/sinks/sinks.service.ts
  ui/src/app/pages/sinks/delete/sink.delete.component.html
Labels: orb-ui

#1600 feat(orb-ui): String Search enhancements
  ui/src/app/common/interfaces/orb/filter-option.ts
  ui/src/app/common/services/filter.service.ts
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.ts
  ui/src/app/pages/fleet/agents/list/agent.list.component.ts
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.ts
  ui/src/app/pages/sinks/list/sink.list.component.ts
  ui/src/app/shared/components/filter/filter.component.html
  ui/src/app/shared/components/filter/filter.component.scss
  ui/src/app/shared/components/filter/filter.component.ts
Labels: enhancement, orb-ui

#1610 fix(orb-ui): #1543 fix policy view not rendering when deleting all sinks
  ui/src/app/common/services/orb.service.ts
Labels: bug, orb-ui
