Repository orb-community/orb, pull requests merged in 2022-08, with the labels that each got.

#1593 inserting log to validate policy update after editing
  python-test/features/integration.feature
  python-test/features/steps/control_agents_ui.py
  python-test/features/steps/control_plane_agents.py
  python-test/features/steps/control_plane_policies.py
  python-test/requirements.txt
Labels: test

#1613 fix(orb-ui): #1347 count of policies fixed
  ui/src/app/common/services/agents/agents.service.ts
Labels: bug, orb-ui

#1614 fix(orb-ui): #1535 fix display value when exact match
  ui/src/app/shared/components/filter/filter.component.html
Labels: bug, orb-ui

#1617 quickfix(orb-ui): #1535 fix display value when exact match
  ui/src/app/shared/components/filter/filter.component.html
Labels: bug, orb-ui, quick_fix

#1615 fix(orb-ui): #1586 dataset modal not showing sinks when re opened
  ui/src/app/pages/datasets/dataset-from/dataset-from.component.ts
Labels: bug, orb-ui

#1620 fix(orb-ui): #1595 fix filter by description not working
  ui/src/app/common/interfaces/orb/filter-option.ts
Labels: bug, orb-ui

#1621 fix(orb-ui): #1579 fix filter by version
  ui/src/app/common/interfaces/orb/filter-option.ts
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.ts
  ui/src/app/shared/components/filter/filter.component.html
Labels: bug, orb-ui

#1625 headless ui test
  python-test/README.md
  python-test/features/environment.py
  python-test/features/steps/control_agents_ui.py
  python-test/features/steps/login_ui.py
  python-test/features/steps/ui_utils.py
  python-test/test_config.ini.tpl
Labels: test

#1130 fix(orb-ui): #1106 - remove dataset list from home page
  ui/src/assets/text/strings.ts
Labels: bug, orb-ui

#1624 fix(orb-ui): #948 agent view fixes
  ui/src/app/common/services/dataset/dataset.policies.service.ts
  ui/src/app/common/services/orb.service.ts
  ui/src/app/pages/fleet/agents/view/agent.view.component.html
  ui/src/app/pages/fleet/agents/view/agent.view.component.ts
  ui/src/app/shared/components/orb/agent/agent-groups/agent-groups.component.html
  ui/src/app/shared/components/orb/agent/agent-groups/agent-groups.component.ts
  ui/src/app/shared/components/orb/agent/agent-information/agent-information.component.ts
  ui/src/app/shared/components/orb/agent/agent-policies-datasets/agent-policies-datasets.component.html
  ui/src/app/shared/components/orb/agent/agent-policies-datasets/agent-policies-datasets.component.ts
Labels: bug, orb-ui

#1627 fix(orb-ui): #1586 dataset component error
  ui/src/app/pages/datasets/dataset-from/dataset-from.component.ts
Labels: bug, orb-ui

#1626 cleanup(orb-ui): remove dead code
  ui/mock-json-server/certs/selfsigned.crt
  ui/mock-json-server/certs/selfsigned.key
  ui/mock-json-server/mock-server.js
  ui/mock-json-server/mock/sink-management-crud.js
  ui/mock-json-server/mock/sink-management.json
Labels: orb-ui

#1628 fix(orb-ui): refresh policy view after dataset changes
  ui/src/app/pages/datasets/dataset-from/dataset-from.component.ts
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.ts
Labels: bug, orb-ui

#1629 quickfix(orb-ui): fix access to undefined sink_ids array
  ui/src/app/pages/datasets/dataset-from/dataset-from.component.ts
Labels: bug, orb-ui, quick_fix

#1634 fix/(orb-ui): #948 agent view fixes
  ui/src/app/common/services/orb.service.ts
  ui/src/app/pages/fleet/agents/view/agent.view.component.ts
  ui/src/app/shared/components/orb/agent/agent-groups/agent-groups.component.html
  ui/src/app/shared/components/orb/agent/agent-groups/agent-groups.component.scss
  ui/src/app/shared/components/orb/agent/agent-groups/agent-groups.component.ts
  ui/src/app/shared/components/orb/agent/agent-policies-datasets/agent-policies-datasets.component.html
  ui/src/app/shared/components/orb/agent/agent-policies-datasets/agent-policies-datasets.component.scss
  ui/src/app/shared/components/orb/agent/agent-policies-datasets/agent-policies-datasets.component.ts
Labels: bug, orb-ui

#1635 quickfix: fix dataset mapping
  ui/src/app/common/services/orb.service.ts
Labels: bug, orb-ui, quick_fix

#1631 when agent fails to reconnecting with MQTT container is exited
  python-test/features/agentsProvider.feature
  python-test/features/integration.feature
  python-test/features/steps/local_agent.py
Labels: test

#1642 hotfix(orb-ui): fix assignment order after data fetching
  ui/src/app/pages/datasets/dataset-from/dataset-from.component.ts
Labels: bug, orb-ui, quick_fix

#1638 feat(orb-ui): #1534 agent view groups card
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.html
  ui/src/app/pages/fleet/agents/view/agent.view.component.html
  ui/src/app/shared/components/orb/agent/agent-groups/agent-groups.component.html
  ui/src/app/shared/components/orb/policy/policy-groups/policy-groups.component.ts
Labels: enhancement, orb-ui

#1651 Fixes metric labels
  cmd/sinker/main.go
  sinker/service.go
Labels: bug

#1655 fix(orb-ui): redirect to login page when token expires
  ui/package.json
  ui/src/app/auth/auth.token.interceptor.service.ts
Labels: bug, orb-ui

#1646 create policy ui
  python-test/features/agentGroupUi.feature
  python-test/features/agentProviderUi.feature
  python-test/features/login_orb_ui.feature
  python-test/features/policiesUI.feature
  python-test/features/steps/control_agent_group_ui.py
  python-test/features/steps/control_agents_ui.py
  python-test/features/steps/control_plane_policies.py
  python-test/features/steps/control_policies_ui.py
  python-test/features/steps/login_ui.py
  python-test/features/steps/page_objects.py
  python-test/features/steps/ui_utils.py
  python-test/features/steps/utils.py
Labels: test

#1684 fix(orb-ui): #1604 remove hover border from sink button
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.html
Labels: bug, orb-ui

#1686 fix(orb-ui): #1602 max length input field
  ui/src/app/pages/datasets/dataset-from/dataset-from.component.html
  ui/src/app/pages/datasets/dataset-from/dataset-from.component.ts
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.ts
  ui/src/app/pages/fleet/agents/add/agent.add.component.html
  ui/src/app/pages/fleet/agents/add/agent.add.component.ts
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.html
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.ts
  ui/src/app/pages/sinks/add/sink.add.component.html
  ui/src/app/pages/sinks/add/sink.add.component.ts
  ui/src/app/shared/components/orb/tag-control/tag-control.component.html
Labels: bug, orb-ui

#1687 feat(orb-ui): #1676 docker command
  ui/src/app/pages/fleet/agents/key/agent.key.component.ts
  ui/src/app/shared/components/orb/agent/agent-provisioning/agent-provisioning.component.ts
Labels: enhancement, orb-ui

#1688 fix(orb-ui): #1534 when click group in agent view, show matching agents
  ui/src/app/shared/components/orb/agent/agent-groups/agent-groups.component.html
  ui/src/app/shared/components/orb/agent/agent-groups/agent-groups.component.ts
Labels: bug, orb-ui

#1711 fix(orb-ui): fix unable to save policy
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.ts
Labels: bug, orb-ui

#1717 feat(orb-ui): #1715 fix policy handlers when empty filters
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.ts
  ui/src/app/pages/datasets/policies.agent/add/handler.policy.add.component.ts
Labels: bug, orb-ui
