Repository orb-community/orb, pull requests merged in 2022-11, with the labels that each got.

#1940 feat(ui): Add Policy backend and version information
  ui/src/app/shared/components/orb/policy/policy-details/policy-details.component.html
Labels: enhancement, orb-ui

#1941 fix(ui): Sink 'backend' property standardization on UI nomenclature.
  ui/src/app/pages/sinks/add/sink.add.component.html
  ui/src/app/pages/sinks/list/sink.list.component.ts
  ui/src/assets/text/strings.ts
Labels: orb-ui, quick_fix

#1951 feat(maestro): remove quotes from config.
  maestro/config/config_builder.go
Labels: opentelemetry

#1956 feat(maestro): add debug and pass along context for cancellation prop…
  maestro/config/config_builder.go
  maestro/config/config_builder_test.go
  maestro/redis/consumer/streams.go
  maestro/service.go
  sinker/config/types.go
  sinker/config_state_check.go
Labels: opentelemetry

#1957 Fix/quote remove
  maestro/config/config_builder.go
  maestro/config/config_builder_test.go
  sinker/redis/consumer/streams.go
Labels: opentelemetry

#1962 feat(agent): allow and use default values only not changed in configu…
  agent/backend/pktvisor/scrape.go
  agent/otel/pktvisorreceiver/factory.go
Labels: opentelemetry

#1950 feat(ui): #1392 sink error message
  ui/src/app/@theme/styles/_overrides.scss
  ui/src/app/pages/datasets/dataset-from/dataset-from.component.scss
  ui/src/app/pages/datasets/details/dataset.details.component.scss
  ui/src/app/pages/datasets/policies.agent/details/agent.policy.details.component.scss
  ui/src/app/pages/fleet/agents/details/agent.details.component.scss
  ui/src/app/pages/fleet/groups/details/agent.group.details.component.scss
  ui/src/app/pages/sinks/details/sink.details.component.html
  ui/src/app/pages/sinks/details/sink.details.component.scss
  ui/src/app/pages/sinks/details/sink.details.component.ts
Labels: enhancement, orb-ui

#1983 [Feat] add changes to otel sinker to match policies sent
  coverage.out
  sinker/backend/pktvisor/promwrapper.go
  sinker/message_handler.go
  sinker/otel/bridgeservice/bridge.go
  sinker/otel/components.go
  sinker/otel/kafkafanoutexporter/authentication.go
  sinker/otel/orbreceiver/factory.go
  sinker/otel/orbreceiver/otlp.go
  sinker/redis/consumer/events.go
  sinker/redis/consumer/streams.go
  sinker/redis/producer/streams.go
  sinker/redis/sinker.go
  sinker/redis/sinker_test.go
  sinker/service.go
Labels: opentelemetry

#1977 [Feat] Agent scrap per policy on OpenTelemetry
  agent/agent.go
  agent/backend/backend.go
  agent/backend/pktvisor/pktvisor.go
  agent/backend/pktvisor/policy.go
  agent/backend/pktvisor/scrape.go
  agent/comms.go
  agent/otel/bridgeservice.go
  agent/otel/otlpmqttexporter/config.go
  agent/otel/otlpmqttexporter/factory.go
  agent/otel/otlpmqttexporter/factory_test.go
  agent/otel/otlpmqttexporter/otlp.go
  agent/otel/pktvisorreceiver/e2e_test.go
  agent/otel/pktvisorreceiver/factory.go
  agent/otel/pktvisorreceiver/receiver.go
  agent/otel/pktvisorreceiver/receiver_test.go
  agent/policyMgr/manager.go
  sinker/backend/pktvisor/pktvisor_test.go
Labels: opentelemetry

#2007 agent provisioning commands
  python-test/features/agentsProvider.feature
  python-test/features/integration.feature
  python-test/features/steps/agent_config_file.py
  python-test/features/steps/control_plane_agents.py
  python-test/features/steps/local_agent.py
Labels: test

#2002 feat(agent): prepare to receive and pass orbTags and agentTags along …
  agent/agent.go
  agent/backend/pktvisor/pktvisor.go
  agent/backend/pktvisor/scrape.go
  agent/otel/bridgeservice.go
  agent/otel/otlpmqttexporter/otlp.go
  fleet/agent_group_service.go
  fleet/agent_service.go
  fleet/comms.go
  fleet/comms_test.go
  fleet/metrics.go
  fleet/mocks/agent.go
  fleet/mocks/comms.go
  fleet/redis/consumer/streams.go
Labels: on_hold, opentelemetry

#2012 fixing_split_pcap_source
  python-test/features/steps/control_plane_policies.py
Labels: bug, test

#2026 feat(sinker): fix typos in formats
  sinker/otel/orbreceiver/otlp.go
Labels: opentelemetry

#2028 fix(sinker): remove agent groups and ownerID from metrics.
  sinker/otel/orbreceiver/otlp.go
Labels: opentelemetry

#2030 Fix/metrics interpolation
  agent/backend/pktvisor/pktvisor.go
  agent/otel/bridgeservice.go
  agent/otel/otlpmqttexporter/otlp.go
  sinker/otel/orbreceiver/otlp.go
Labels: opentelemetry

#2035 fix(agent): fix inject
  agent/otel/otlpmqttexporter/otlp.go
Labels: opentelemetry
