Repository orb-community/orb, pull requests merged in 2022-03, with the labels that each got.

#911 fix(orb-ui): lint missing new line
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.scss
Labels: bug, orb-ui

#912 fix(orb-ui): change provisioning command to be rendered as is.
  ui/src/app/pages/fleet/agents/key/agent.key.component.scss
  ui/src/app/pages/fleet/agents/key/agent.key.component.ts
  ui/src/app/pages/fleet/agents/view/agent.view.component.scss
  ui/src/app/pages/fleet/agents/view/agent.view.component.ts
Labels: enhancement, orb-ui, quick_fix

#884 Bug/orb agent status
  cmd/agent/main.go
  cmd/fleet/main.go
  fleet/agent_group_service_test.go
  fleet/agent_state_check.go
  fleet/agents.go
  fleet/api/http/endpoint_test.go
  fleet/comms_test.go
  fleet/mocks/agent.go
  fleet/postgres/agents.go
  fleet/postgres/agents_test.go
  fleet/service.go
Labels: orb-backend

#913 fix(orb-ui): Datatable pagination and sorting issues
  ui/src/app/@theme/styles/orb/ngx-datatable/ngx-datatable.scss
  ui/src/app/common/interfaces/mainflux.interface.ts
  ui/src/app/common/interfaces/orb/agent.interface.ts
  ui/src/app/common/interfaces/orb/pagination.interface.ts
  ui/src/app/common/services/agents/agent.groups.service.ts
  ui/src/app/common/services/agents/agent.policies.service.ts
  ui/src/app/common/services/agents/agents.service.ts
  ui/src/app/common/services/dataset/dataset.policies.service.ts
  ui/src/app/common/services/sinks/sinks.service.ts
  ui/src/app/pages/datasets/list/dataset.list.component.html
  ui/src/app/pages/datasets/list/dataset.list.component.scss
  ui/src/app/pages/datasets/list/dataset.list.component.ts
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.html
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.ts
  ui/src/app/pages/fleet/agents/add/agent.add.component.html
  ui/src/app/pages/fleet/agents/details/agent.details.component.html
  ui/src/app/pages/fleet/agents/list/agent.list.component.html
  ui/src/app/pages/fleet/agents/list/agent.list.component.ts
  ui/src/app/pages/fleet/agents/match/agent.match.component.html
  ui/src/app/pages/fleet/agents/view/agent.view.component.html
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.html
  ui/src/app/pages/fleet/groups/details/agent.group.details.component.html
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.html
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.ts
  ui/src/app/pages/sinks/add/sink.add.component.html
  ui/src/app/pages/sinks/details/sink.details.component.html
  ui/src/app/pages/sinks/list/sink.list.component.html
  ui/src/app/pages/sinks/list/sink.list.component.scss
  ui/src/app/pages/sinks/list/sink.list.component.ts
  ui/src/app/shared/components/table/table.component.html
  ui/src/app/shared/components/table/table.component.scss
Labels: bug, orb-ui, OKR Q1

#917 fix(orb-ui): remove extra line from provisioning command on agent view
  ui/src/app/pages/fleet/agents/view/agent.view.component.ts
Labels: bug, orb-ui

#920 fix(orb-ui): fix correct prop tracking 'version'
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.html
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.ts
Labels: bug, orb-ui

#921 fix(orb-ui): define custom tag comparator for ngx-datatables
  ui/src/app/pages/fleet/agents/list/agent.list.component.ts
  ui/src/app/pages/fleet/agents/match/agent.match.component.ts
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.ts
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.ts
  ui/src/app/pages/sinks/list/sink.list.component.ts
Labels: bug, orb-ui

#918 Bug missing owner_id redis sinker update
  sinker/redis/consumer/streams.go
  sinks/api/http/endpoint.go
  sinks/api/http/logging.go
  sinks/api/http/metrics.go
  sinks/redis/producer/streams.go
  sinks/sinks.go
  sinks/sinks_service.go
  sinks/sinks_service_test.go
Labels: bug, orb-backend

#924 fix(orb-ui): fix handler modal button positions
  ui/src/app/pages/datasets/policies.agent/add/handler.policy.add.component.html
  ui/src/app/pages/datasets/policies.agent/add/handler.policy.add.component.scss
Labels: bug, orb-ui

#932 fix(orb-ui): fullName and company not sent on register
  ui/src/app/pages/register/register.component.ts
Labels: bug, orb-ui

#933 fix: remote write url instead of remote host property title
  ui/src/assets/text/strings.ts
Labels: bug, orb-ui

#902 Bug/orb fleet fail subscribe only one group
  agent/rpc_from.go
  fleet/comms.go
Labels: bug, orb-backend

#929 Feat/orb broken agent reset
  agent/backend/pktvisor/pktvisor.go
Labels: orb-backend

#915 change view to get mix of agents
  agent/cloud_config/cloud_config.go
  fleet/agent_service.go
  fleet/api/http/endpoint.go
  fleet/api/http/requests.go
  fleet/postgres/init.go
Labels: bug, orb-backend

#939 fix(orb-ui): fix broken dataset details view
  ui/src/app/pages/datasets/details/dataset.details.component.ts
Labels: bug, orb-ui

#943 fix(orb-ui): fix agent view datasets showing in wrong policy nest
  ui/src/app/pages/fleet/agents/view/agent.view.component.html
  ui/src/app/pages/fleet/agents/view/agent.view.component.ts
Labels: bug, orb-ui, quick_fix

#944 fix(orb-ui): fix wrong conditional in version templatecell
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.html
Labels: bug, orb-ui

#892 Feat/orb expose fleet metrics
  cmd/fleet/main.go
  cmd/sinker/main.go
  fleet/agent_service.go
  fleet/comms.go
  fleet/comms_test.go
  fleet/metrics.go
  fleet/mocks/comms.go
  sinker/service.go
Labels: orb-backend

#958 fix(orb-ui): agent policy list version number
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.html
Labels: bug, orb-ui

#963 automated tests for sink removal
  python-test/docs/development_guide.md
  python-test/features/datasets.feature
  python-test/features/integration.feature
  python-test/features/steps/control_plane_agents.py
  python-test/features/steps/control_plane_datasets.py
  python-test/features/steps/control_plane_policies.py
  python-test/features/steps/control_plane_sink.py
Labels: test

#962 fix(orb-ui): agent provisioning text
  ui/src/app/pages/fleet/agents/key/agent.key.component.html
  ui/src/app/pages/fleet/agents/view/agent.view.component.html
  ui/src/app/pages/fleet/agents/view/agent.view.component.ts
Labels: enhancement, orb-ui

#973 fix(orb-ui): add information text for total of policies
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.html
Labels: bug, orb-ui

#972 fix dataset sink list display style
  ui/src/app/pages/datasets/add/dataset.add.component.html
  ui/src/app/pages/datasets/add/dataset.add.component.scss
  ui/src/app/pages/datasets/add/dataset.add.component.ts
Labels: enhancement, design, orb-ui, design_needed

#971 fix: deletions no longer case insensitive
  ui/src/app/pages/datasets/delete/dataset.delete.component.ts
  ui/src/app/pages/datasets/policies.agent/delete/agent.policy.delete.component.ts
  ui/src/app/pages/fleet/agents/delete/agent.delete.component.ts
  ui/src/app/pages/fleet/groups/delete/agent.group.delete.component.ts
Labels: bug, orb-ui

#959 Fix/unable to editing dataset name and sink name
  policies/api/http/endpoint.go
  policies/api/http/requests.go
  policies/policy_service.go
  policies/postgres/policies.go
  sinks/api/http/endpoint.go
  sinks/postgres/sinks.go
  sinks/sinks_service.go
Labels: orb-backend

#970 fix(orb-ui): fix wrong text on agent create provisioning command view.
  ui/src/app/pages/fleet/agents/key/agent.key.component.html
Labels: bug, orb-ui

#969 fix(orb-ui): fix for agent wizard second step not forwarding to third step
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
Labels: bug, orb-ui

#976 fix(orb-ui): more resilient agent view page
  ui/src/app/shared/components/orb/agent/groups/agent-groups.component.html
  ui/src/app/shared/components/orb/agent/groups/agent-groups.component.ts
  ui/src/app/shared/components/orb/agent/information/agent-information.component.html
  ui/src/app/shared/components/orb/agent/policies-datasets/agent-policies-datasets.component.html
  ui/src/app/shared/components/orb/agent/policies-datasets/agent-policies-datasets.component.ts
Labels: bug, orb-ui

#975 fix(orb-ui): tab navigation issues
  ui/src/app/common/interfaces/orb/tag.ts
  ui/src/app/pages/datasets/add/dataset.add.component.html
  ui/src/app/pages/datasets/add/dataset.add.component.ts
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.ts
  ui/src/app/pages/fleet/agents/add/agent.add.component.html
  ui/src/app/pages/fleet/agents/add/agent.add.component.scss
  ui/src/app/pages/fleet/agents/add/agent.add.component.ts
  ui/src/app/pages/fleet/agents/key/agent.key.component.html
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.html
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.ts
  ui/src/app/pages/pages.module.ts
  ui/src/app/pages/sinks/add/sink.add.component.html
  ui/src/app/pages/sinks/add/sink.add.component.ts
  ui/src/app/pages/sinks/list/sink.list.component.ts
  ui/src/app/shared/components/orb/tag-control/tag-control.component.html
  ui/src/app/shared/components/orb/tag-control/tag-control.component.scss
  ui/src/app/shared/components/orb/tag-control/tag-control.component.ts
  ui/src/app/shared/components/orb/tag-display/tag-display.component.html
  ui/src/app/shared/components/orb/tag-display/tag-display.component.scss
  ui/src/app/shared/components/orb/tag-display/tag-display.component.ts
  ui/src/app/shared/shared.module.ts
Labels: bug, enhancement, orb-ui, ux

#979 fix(orb-ui): agent group match not showing in screen
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.html
Labels: bug, orb-ui

#942 feature(policy): add support for yaml formatted policy
  fleet/comms_test.go
  policies/api/http/endpoint.go
  policies/api/http/endpoint_test.go
  policies/api/http/logging.go
  policies/api/http/metrics.go
  policies/api/http/responses.go
  policies/api/openapi.yaml
  policies/backend/pktvisor/pktvisor.go
  policies/backend/pktvisor/types.go
  policies/policies.go
  policies/policy_service.go
  policies/policy_service_test.go
  policies/postgres/init.go
  policies/postgres/policies.go
  policies/redis/producer/streams.go
Labels: orb-backend

#1004 fix(orb-ui): move click event listener to button container
  ui/src/app/shared/components/orb/agent/provisioning/agent-provisioning.component.html
Labels: bug, orb-ui, quick_fix

#1003 fix(orb-ui): add example of yaml policy to editor
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.ts
Labels: orb-ui, quick_fix

#1009 fix(orb-ui): agent view policy status
  ui/src/app/common/interfaces/orb/agent.interface.ts
  ui/src/app/shared/components/orb/agent/policies-datasets/agent-policies-datasets.component.html
  ui/src/app/shared/components/orb/agent/policies-datasets/agent-policies-datasets.component.scss
  ui/src/app/shared/components/orb/agent/policies-datasets/agent-policies-datasets.component.ts
Labels: bug, orb-ui

#1010 fix(orb-ui): agent view group listing css
  ui/src/app/shared/components/orb/agent/groups/agent-groups.component.html
  ui/src/app/shared/components/orb/agent/groups/agent-groups.component.scss
Labels: bug, orb-ui

#1006 ui command quick fix
  python-test/features/steps/local_agent.py
Labels: test

#1002 orb(ui): fix dataset details modal failed state
  ui/src/app/common/services/agents/agent.groups.service.ts
  ui/src/app/common/services/agents/agent.policies.service.ts
  ui/src/app/common/services/sinks/sinks.service.ts
  ui/src/app/pages/datasets/details/dataset.details.component.html
  ui/src/app/pages/datasets/details/dataset.details.component.ts
  ui/src/app/shared/components/orb/sink/sink-display/sink-display.component.html
  ui/src/app/shared/components/orb/sink/sink-display/sink-display.component.scss
  ui/src/app/shared/components/orb/sink/sink-display/sink-display.component.ts
  ui/src/app/shared/shared.module.ts
Labels: bug, orb-ui

#1012 feat(orb-ui): #984 agent policy view
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.html
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.ts
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.html
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.scss
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.ts
  ui/src/app/pages/pages-routing.module.ts
  ui/src/app/pages/pages.module.ts
  ui/src/app/shared/components/orb/agent/agent-capabilities/agent-capabilities.component.html
  ui/src/app/shared/components/orb/agent/agent-capabilities/agent-capabilities.component.scss
  ui/src/app/shared/components/orb/agent/agent-capabilities/agent-capabilities.component.ts
  ui/src/app/shared/components/orb/agent/agent-groups/agent-groups.component.html
  ui/src/app/shared/components/orb/agent/agent-groups/agent-groups.component.scss
  ui/src/app/shared/components/orb/agent/agent-groups/agent-groups.component.ts
  ui/src/app/shared/components/orb/agent/agent-information/agent-information.component.html
  ui/src/app/shared/components/orb/agent/agent-information/agent-information.component.scss
  ui/src/app/shared/components/orb/agent/agent-information/agent-information.component.ts
  ui/src/app/shared/components/orb/agent/agent-policies-datasets/agent-policies-datasets.component.html
  ui/src/app/shared/components/orb/agent/agent-policies-datasets/agent-policies-datasets.component.scss
  ui/src/app/shared/components/orb/agent/agent-policies-datasets/agent-policies-datasets.component.ts
  ui/src/app/shared/components/orb/agent/agent-provisioning/agent-provisioning.component.html
  ui/src/app/shared/components/orb/agent/agent-provisioning/agent-provisioning.component.scss
  ui/src/app/shared/components/orb/agent/agent-provisioning/agent-provisioning.component.ts
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.html
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.scss
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.ts
  ui/src/app/shared/components/orb/policy/policy-details/policy-details.component.html
  ui/src/app/shared/components/orb/policy/policy-details/policy-details.component.scss
  ui/src/app/shared/components/orb/policy/policy-details/policy-details.component.ts
  ui/src/app/shared/components/orb/policy/policy-interface/policy-interface.component.html
  ui/src/app/shared/components/orb/policy/policy-interface/policy-interface.component.scss
  ui/src/app/shared/components/orb/policy/policy-interface/policy-interface.component.ts
  ui/src/app/shared/shared.module.ts
Labels: enhancement, orb-ui
