Repository orb-community/orb, pull requests merged in 2022-10, with the labels that each got.

#1843 fixing_ui_tests
  python-test/features/agentGroupUi.feature
  python-test/features/agentProviderUi.feature
  python-test/features/integration_ui.feature
  python-test/features/policiesUI.feature
  python-test/features/sinkManagementUi.feature
  python-test/features/steps/control_agent_group_ui.py
Labels: test

#1845 fix(orb-ui): #1804 fix tag display on policy view
  ui/src/app/shared/components/orb/policy/policy-details/policy-details.component.html
  ui/src/app/shared/components/orb/policy/policy-details/policy-details.component.ts
Labels: bug, orb-ui

#1839 Add automated tests considering tap_selector for apply policies
  python-test/features/environment.py
  python-test/features/integration.feature
  python-test/features/steps/agent_config_file.py
  python-test/features/steps/control_plane_agents.py
  python-test/features/steps/control_plane_policies.py
  python-test/features/steps/taps.py
  python-test/features/steps/utils.py
Labels: test

#1857 fix(ui): fix dataset input feedback text
  ui/src/app/pages/datasets/dataset-from/dataset-from.component.html
Labels: enhancement, orb-ui

#1868 removing policies that fails to apply
  python-test/features/integration.feature
Labels: test

#1879 is_credentials_registered default true
  python-test/features/steps/test_config.py
Labels: test

#1859 fix(ui): fix policy backend select statuses
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
Labels: enhancement, orb-ui

#1867 fix(ui): fix package version inconsistencies
  ui/package.json
Labels: bug, orb-ui

#1887 check next hb
  python-test/features/integration.feature
Labels: test

#1848 feat(sinker): prepare methods to export YAML configuration based on s…
  go.mod
  go.sum
  sinker/configBuilder.go
  sinker/config_builder.go
  sinker/config_builder_test.go
  sinker/message_handler.go
Labels: orb-sinker, opentelemetry

#1890 ignore_ssl_and_certificate_errors default false
  python-test/features/steps/control_plane_agents.py
  python-test/features/steps/test_config.py
Labels: test

#1886 propagation of policies status "unknown" and backend state check
  python-test/features/environment.py
  python-test/features/integration.feature
  python-test/features/steps/control_plane_agents.py
  python-test/requirements.txt
Labels: test

#1802 fix(agent): add nil safe for all agent's chan
  agent/agent.go
  agent/backend/pktvisor/pktvisor.go
Labels: orb-agent, quick_fix

#1919 enabling otel on agents used on integration tests
  python-test/README.md
  python-test/features/steps/local_agent.py
  python-test/features/steps/test_config.py
Labels: test

#1921 feat(ui): add otel toggle for sink creation
  ui/src/app/pages/sinks/add/sink.add.component.html
  ui/src/app/pages/sinks/add/sink.add.component.ts
Labels: enhancement, orb-ui

#1936 feat(sinker): Fix encoding filter
  sinks/api/grpc/client.go
Labels: opentelemetry

#1937 Fix/maestro sinks grpc
  sinks/api/grpc/client.go
Labels: opentelemetry

#1932 fix(ui): #1795 Matching Agents Redirect
  ui/src/app/pages/fleet/agents/view/agent.view.component.ts
Labels: orb-ui

#1933 feat(ui): Change 'mock' to 'auto' interface
  ui/src/app/pages/fleet/agents/key/agent.key.component.html
  ui/src/app/pages/fleet/agents/key/agent.key.component.ts
  ui/src/app/shared/components/orb/agent/agent-provisioning/agent-provisioning.component.html
  ui/src/app/shared/components/orb/agent/agent-provisioning/agent-provisioning.component.ts
Labels: orb-ui

#1938 feat(ui): user to select policy backend
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.scss
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.ts
Labels: enhancement, orb-ui

#1939 Fix/maestro sinks grpc
  sinks/api/grpc/client.go
Labels: opentelemetry
