Repository orb-community/orb, pull requests merged in 2022-04, with the labels that each got.

#1022 fix(orb-ui): fix yaml policy example
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.ts
Labels: bug, orb-ui

#1013 fix(orb-ui): #957 orb pagination
  ui/src/app/common/services/agents/agent.groups.service.ts
  ui/src/app/common/services/agents/agent.policies.service.ts
  ui/src/app/common/services/agents/agents.service.ts
  ui/src/app/common/services/dataset/dataset.policies.service.ts
  ui/src/app/common/services/fleets/fleets.service.ts
  ui/src/app/common/services/sinks/sinks.service.ts
  ui/src/app/common/services/users/groups.service.ts
Labels: bug, orb-ui

#1017 fix(orb-ui): general fixes to agent and policy view components
  ui/src/app/shared/components/orb/agent/agent-groups/agent-groups.component.scss
  ui/src/app/shared/components/orb/agent/agent-groups/agent-groups.component.ts
  ui/src/app/shared/components/orb/agent/agent-provisioning/agent-provisioning.component.html
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.ts
  ui/src/app/shared/components/orb/policy/policy-details/policy-details.component.html
Labels: bug, orb-ui

#978 Feat/orb fleet matching groups
  fleet/agent_groups.go
  fleet/agent_service.go
  fleet/agent_service_test.go
  fleet/agents.go
  fleet/api/http/endpoint.go
  fleet/api/http/endpoint_test.go
  fleet/api/http/logging.go
  fleet/api/http/metrics.go
  fleet/api/http/openapi.yaml
  fleet/api/http/responses.go
  fleet/api/http/transport.go
  fleet/mocks/agent_groups.go
  fleet/postgres/agent_groups.go
  fleet/postgres/agent_groups_test.go
  fleet/postgres/agents.go
  fleet/postgres/agents_test.go
  fleet/redis/producer/streams.go
  pkg/types/maps.go
Labels: orb-backend

#977 Fix/950 validate dataset after editing
  policies/api/http/endpoint_test.go
  policies/mocks/policies.go
  policies/policies.go
  policies/policy_service.go
  policies/policy_service_test.go
  policies/postgres/datasets_test.go
  policies/postgres/policies.go
Labels: orb-backend

#1032 fix(orb-ui): #997 agent policy yaml editing
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.ts
Labels: bug, orb-ui

#1023 fix(orb-ui): improve failed to fetch message
  ui/src/app/pages/datasets/details/dataset.details.component.html
Labels: enhancement, orb-ui

#1035 feat(orb-ui): added agent reset button
  ui/src/app/common/services/agents/agents.service.ts
  ui/src/app/pages/fleet/agents/view/agent.view.component.html
  ui/src/app/pages/fleet/agents/view/agent.view.component.scss
  ui/src/app/pages/fleet/agents/view/agent.view.component.ts
Labels: enhancement, orb-ui

#1046 fix(orb-ui): #362 lists are not properly refreshed after item deletion
  ui/src/app/pages/datasets/list/dataset.list.component.ts
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.ts
  ui/src/app/pages/fleet/agents/list/agent.list.component.ts
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.ts
  ui/src/app/pages/sinks/list/sink.list.component.ts
Labels: bug, orb-ui

#1047 hotfix(orb-ui): Change Agent Policy View page title
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.html
Labels: bug, orb-ui

#1048 hotfix(orb-ui): change agent reset button placement
  ui/src/app/pages/fleet/agents/view/agent.view.component.html
  ui/src/app/pages/fleet/agents/view/agent.view.component.scss
  ui/src/app/pages/fleet/agents/view/agent.view.component.ts
  ui/src/app/shared/components/orb/agent/agent-information/agent-information.component.html
  ui/src/app/shared/components/orb/agent/agent-information/agent-information.component.scss
  ui/src/app/shared/components/orb/agent/agent-information/agent-information.component.ts
Labels: enhancement, orb-ui

#1050 hotfix(orb-ui): improvements on agent view page css and error messages
  ui/src/app/common/interfaces/orb/orb.entity.interface.ts
  ui/src/app/common/services/agents/agent.groups.service.ts
  ui/src/app/shared/components/orb/agent/agent-groups/agent-groups.component.html
  ui/src/app/shared/components/orb/agent/agent-groups/agent-groups.component.scss
  ui/src/app/shared/components/orb/agent/agent-groups/agent-groups.component.ts
  ui/src/app/shared/components/orb/agent/agent-policies-datasets/agent-policies-datasets.component.html
  ui/src/app/shared/components/orb/agent/agent-policies-datasets/agent-policies-datasets.component.scss
Labels: bug, enhancement, orb-ui

#1029 Fix/1005 orb remove deleted group from dataset db
  policies/api/http/logging.go
  policies/api/http/metrics.go
  policies/mocks/policies.go
  policies/policies.go
  policies/policy_service.go
  policies/policy_service_test.go
  policies/postgres/datasets_test.go
  policies/postgres/policies.go
  policies/redis/consumer/streams.go
  policies/redis/producer/streams.go
Labels: orb-backend

#1016 feat(orb-ui): #985 agent policy groups
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.html
  ui/src/app/shared/components/orb/policy/policy-groups/policy-groups.component.html
  ui/src/app/shared/components/orb/policy/policy-groups/policy-groups.component.scss
  ui/src/app/shared/components/orb/policy/policy-groups/policy-groups.component.ts
  ui/src/app/shared/shared.module.ts
Labels: enhancement, orb-ui

#1063 Fix/1007 orb remove deleted policy from dataset db
  policies/mocks/policies.go
  policies/policies.go
  policies/policy_service.go
  policies/postgres/datasets_test.go
  policies/postgres/policies.go
Labels: orb-backend

#1061 hotfix(orb-ui): #362 force clean cache on every operation
  ui/src/app/pages/datasets/list/dataset.list.component.ts
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.ts
  ui/src/app/pages/fleet/agents/list/agent.list.component.ts
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.ts
  ui/src/app/pages/pages.module.ts
  ui/src/app/pages/sinks/list/sink.list.component.ts
Labels: bug, orb-ui, quick_fix

#1065 hotfix(orb-ui): remove unecessary code
  ui/package.json
  ui/src/app/common/common.module.ts
  ui/src/app/common/services/channels/channels.service.ts
  ui/src/app/common/services/gateways/gateways.service.ts
  ui/src/app/common/services/lora/lora.service.ts
  ui/src/app/common/services/messages/messages.service.ts
  ui/src/app/common/services/mqtt/mqtt.manager.service.ts
  ui/src/app/common/services/opcua/opcua.service.ts
  ui/src/app/common/services/twins/twins.service.ts
  ui/src/app/common/store/opcua.store.ts
  ui/src/app/shared/components/chart/chart.colors.ts
  ui/src/app/shared/components/chart/chart.component.html
  ui/src/app/shared/components/chart/chart.component.scss
  ui/src/app/shared/components/chart/chart.component.ts
  ui/src/app/shared/components/chart/chart.module.ts
  ui/src/app/shared/components/map/leaflet/map.leaflet.component.html
  ui/src/app/shared/components/map/leaflet/map.leaflet.component.scss
  ui/src/app/shared/components/map/leaflet/map.leaflet.component.ts
  ui/src/app/shared/components/map/map.module.ts
  ui/src/app/shared/components/message-monitor/message-monitor.component.html
  ui/src/app/shared/components/message-monitor/message-monitor.component.scss
  ui/src/app/shared/components/message-monitor/message-monitor.component.ts
  ui/src/app/shared/shared.module.ts
  ui/yarn.lock
Labels: enhancement, orb-ui, quick_fix

#1097 feat(orb-ui): Remove Dataset menu item
  ui/src/app/pages/pages-menu.ts
Labels: enhancement, orb-ui

#1098 feat(orb-ui): few changes to dataset modal
  ui/src/app/pages/datasets/dataset-from/dataset-from.component.html
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.ts
Labels: enhancement, orb-ui

#1030 feat(orb-ui): maintenance flag
  ui/scripts/setenv.ts
  ui/src/app/auth/auth.module.ts
  ui/src/app/auth/auth.routing.module.ts
  ui/src/app/auth/pages/login/login.component.html
  ui/src/app/auth/pages/login/login.component.scss
  ui/src/app/auth/pages/login/login.component.ts
  ui/src/app/auth/pages/logout/logout.component.ts
  ui/src/app/auth/pages/register/register.component.html
  ui/src/app/auth/pages/register/register.component.scss
  ui/src/app/auth/pages/register/register.component.ts
  ui/src/app/auth/pages/request-password/request-password.component.html
  ui/src/app/auth/pages/request-password/request-password.component.scss
  ui/src/app/auth/pages/request-password/request-password.component.ts
  ui/src/app/auth/pages/reset-password/reset-password.component.html
  ui/src/app/auth/pages/reset-password/reset-password.component.scss
  ui/src/app/auth/pages/reset-password/reset-password.component.ts
  ui/src/app/pages/login/login.component.ts
  ui/src/environments/environment.defaults.ts
  ui/src/environments/environment.env.ts
Labels: orb-ui, p1, devops, ux

#1127 wrong text for policies, menu without children, key value as tags
  ui/src/app/pages/pages-menu.ts
  ui/src/app/shared/components/orb/agent/agent-information/agent-information.component.html
  ui/src/app/shared/components/orb/policy/policy-groups/policy-groups.component.ts
Labels: bug, orb-ui

#1131 fix(orb-ui): #1079 tags are required in order to create agent group
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.html
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.ts
  ui/src/app/shared/components/orb/tag-control/tag-control.component.html
  ui/src/app/shared/components/orb/tag-control/tag-control.component.scss
Labels: bug, orb-ui

#1064 chore(python-test): add a makefile for testing
  python-test/Makefile
Labels: test, devops

#1133 feat(orb-ui): #1105 show matching agents for agent group in policy view
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.ts
  ui/src/app/shared/components/orb/policy/policy-groups/policy-groups.component.html
  ui/src/app/shared/components/orb/policy/policy-groups/policy-groups.component.scss
  ui/src/app/shared/components/orb/policy/policy-groups/policy-groups.component.ts
  ui/src/app/shared/shared.module.ts
Labels: enhancement, orb-ui

#1138 fix(orb-ui): Policy View text button
  ui/src/app/pages/datasets/dataset-from/dataset-from.component.html
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.html
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.scss
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.html
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.scss
Labels: bug, orb-ui

#1139 fix(orb-ui): improve error messages
  ui/src/app/common/services/dataset/dataset.policies.service.ts
Labels: enhancement, orb-ui

#1143 feat(orb-ui): #988 policy view details inline editing
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.ts
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.html
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.ts
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.html
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.scss
  ui/src/app/shared/components/orb/policy/policy-details/policy-details.component.html
  ui/src/app/shared/components/orb/policy/policy-details/policy-details.component.ts
  ui/src/app/shared/components/orb/policy/policy-interface/policy-interface.component.html
  ui/src/app/shared/components/orb/policy/policy-interface/policy-interface.component.ts
  ui/src/app/shared/shared.module.ts
Labels: enhancement, orb-ui, ux
