Repository orb-community/orb, pull requests merged in 2022-12, with the labels that each got.

#2073 test netprobe policies
  python-test/features/integration_config_file.py.feature
  python-test/features/steps/agent_config_file.py
  python-test/features/steps/control_plane_agents.py
  python-test/features/steps/control_plane_policies.py
  python-test/features/steps/local_agent.py
  python-test/features/steps/taps.py
Labels: test

#2077 provisioning agents using backend default configs for pktvisor
  python-test/features/integration_config_file.feature
  python-test/features/steps/control_plane_agents.py
Labels: test

#2078 using agents.orb.live as mqtt address
  python-test/features/integration_config_file.feature
  python-test/features/steps/control_plane_agents.py
Labels: test

#2089 feat(ui): #1865 expose attached policy version on agent view
  ui/src/app/shared/components/orb/agent/agent-policies-datasets/agent-policies-datasets.component.html
Labels: enhancement, orb-ui

#2095 fix(ui): #1544 Agent Policy Duplicate Redirect
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.ts
Labels: bug, orb-ui

#2100 fix(ui): #1731 fix reload of policy view after edit
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.ts
Labels: bug, orb-ui

#2103 fix(ui): #1589 dataset must not allow agent group editing
  ui/src/app/pages/datasets/dataset-from/dataset-from.component.html
  ui/src/app/pages/datasets/dataset-from/dataset-from.component.ts
Labels: bug, orb-ui

#2107 feat(ui): #2091 ui dataset autogenerated names
  ui/src/app/pages/datasets/dataset-from/dataset-from.component.html
  ui/src/app/pages/datasets/dataset-from/dataset-from.component.ts
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.ts
Labels: enhancement, orb-ui

#2117 enabling_tests_to_self_hosted_versions
  python-test/README.md
  python-test/features/steps/control_plane_agent_groups.py
  python-test/features/steps/control_plane_agents.py
  python-test/features/steps/control_plane_datasets.py
  python-test/features/steps/control_plane_policies.py
  python-test/features/steps/control_plane_sink.py
  python-test/features/steps/local_agent.py
  python-test/features/steps/test_config.py
  python-test/features/steps/users.py
  python-test/test_config.ini.tpl
Labels: test

#2125 fix(ui): Enable Dataset editing and deletion
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.html
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.ts
  ui/src/app/shared/components/orb/policy/policy-groups/policy-groups.component.scss
Labels: bug, orb-ui

#2129 hotfix(orb): add delete callback for button
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.ts
Labels: bug, orb-ui

#2131 hotfix(ui): fix dataset refresh after deleting from within policy view
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.ts
Labels: bug, orb-ui
