Repository orb-community/orb, pull requests merged in 2022-06, with the labels that each got.

#1279 fix(orb-ui): change message for new agent on agent capabilities
  ui/src/app/pages/fleet/agents/view/agent.view.component.html
  ui/src/app/shared/components/orb/agent/agent-capabilities/agent-capabilities.component.html
Labels: enhancement, orb-ui, quick_fix, ux

#1283 fix(orb-ui): agent matching tags not displaying agent tags
  ui/src/app/pages/fleet/agents/match/agent.match.component.ts
Labels: bug, orb-ui

#1282 fix(orb-ui): add tooltips to agent and orb tags display
  ui/src/app/shared/components/orb/combined-tag/combined-tag.component.html
  ui/src/app/shared/components/orb/combined-tag/combined-tag.component.ts
Labels: enhancement, orb-ui

#1271 Feature/1199 add agent tags as sinker labels
  fleet/agent_service.go
  fleet/agent_service_test.go
  fleet/agents.go
  fleet/api/grpc/client.go
  fleet/api/grpc/endpoint.go
  fleet/api/grpc/request.go
  fleet/api/grpc/responses.go
  fleet/api/grpc/server.go
  fleet/api/http/logging.go
  fleet/api/http/metrics.go
  fleet/mocks/agent.go
  fleet/mocks/client.go
  fleet/pb/fleet.pb.go
  fleet/pb/fleet.proto
  fleet/pb/fleet_grpc.pb.go
  fleet/postgres/agents.go
  fleet/postgres/agents_test.go
  fleet/redis/producer/streams.go
  sinker/backend/backend.go
  sinker/backend/pktvisor/pktvisor.go
  sinker/backend/pktvisor/pktvisor_test.go
  sinker/service.go
Labels: orb-backend

#1313 duplicate policy
  python-test/docs/development_guide.md
  python-test/docs/index.md
  python-test/docs/policies/create_3_duplicated_dns_policy_without_insert_new_name_and_1_with_new_name.md
  python-test/docs/policies/create_4_duplicated_policy_with_new_name.md
  python-test/docs/policies/create_duplicated_dhcp_policy_without_insert_new_name.md
  python-test/docs/policies/create_duplicated_dns_policy_without_insert_new_name.md
  python-test/docs/policies/create_duplicated_net_policy_without_insert_new_name.md
  python-test/docs/sanity.md
  python-test/docs/smoke.md
  python-test/features/policies.feature
  python-test/features/steps/control_plane_policies.py
  python-test/features/steps/local_agent.py
  python-test/features/steps/utils.py
Labels: test

#1317 agent route test
  python-test/features/integration.feature
  python-test/features/steps/control_plane_agents.py
  python-test/features/steps/schemas/backends_schema.json
  python-test/features/steps/schemas/handlers_schema.json
  python-test/features/steps/schemas/inputs_schema.json
  python-test/features/steps/schemas/taps_schema.json
  python-test/mkdocs.yml
  python-test/requirements.txt
Labels: test

#1315 feat(orb-ui): #1289 hyperlink everything.
  ui/src/app/pages/fleet/agents/view/agent.view.component.html
  ui/src/app/shared/components/orb/agent/agent-policies-datasets/agent-policies-datasets.component.html
  ui/src/app/shared/components/orb/agent/agent-policies-datasets/agent-policies-datasets.component.scss
  ui/src/app/shared/components/orb/agent/agent-policies-datasets/agent-policies-datasets.component.ts
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.html
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.ts
Labels: enhancement, orb-ui, ux

#1336 fix(agent/fleet): Remove the state update on the handleCapabilities flow
  Makefile
  agent/comms.go
  fleet/comms.go
  go.mod
  go.sum
  python-test/features/integration.feature
Labels: p1, orb-fleet

#1333 fix(orb-ui): #1288 remove button + from sink control
  ui/src/app/shared/components/orb/sink-control/sink-control.component.html
Labels: enhancement, orb-ui

#1325 feat(orb-ui): #1287 Autocomplete Selector
  ui/src/app/pages/datasets/dataset-from/dataset-from.component.html
  ui/src/app/pages/datasets/dataset-from/dataset-from.component.ts
  ui/src/app/pages/pages.module.ts
  ui/src/app/shared/pipes/sort.pipe.ts
  ui/src/app/shared/shared.module.ts
Labels: enhancement, orb-ui

#1198 fix(agent): fix agent unsubscription and heartbeat after deleting a group
  agent/comms.go
  agent/policies/repo.go
  agent/policies/types.go
  agent/policyMgr/manager.go
  agent/rpc_from.go
  fleet/agent_group_service.go
  fleet/comms.go
  fleet/comms_rpc.go
  policies/api/grpc/client.go
  policies/api/grpc/endpoint.go
  policies/api/grpc/responses.go
  policies/api/grpc/server.go
  policies/mocks/policies.go
  policies/pb/policies.pb.go
  policies/pb/policies.proto
  policies/policies.go
  policies/policy_service_test.go
  policies/postgres/policies.go
Labels: orb-agent

#1365 fix(orb-ui): #1304 fix css for save/discard buttons
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.html
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.scss
Labels: bug, orb-ui

#1384 fix(orb-ui): css fixes
  ui/src/app/@theme/styles/themes.scss
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.scss
  ui/src/app/pages/datasets/policies.agent/add/handler.policy.add.component.html
  ui/src/app/pages/datasets/policies.agent/add/handler.policy.add.component.scss
  ui/src/app/pages/fleet/agents/add/agent.add.component.html
  ui/src/app/pages/fleet/agents/list/agent.list.component.html
  ui/src/app/pages/fleet/agents/list/agent.list.component.scss
  ui/src/app/pages/fleet/agents/list/agent.list.component.ts
  ui/src/app/pages/fleet/agents/match/agent.match.component.html
  ui/src/app/pages/fleet/agents/match/agent.match.component.scss
  ui/src/app/pages/fleet/agents/match/agent.match.component.ts
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.html
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.scss
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.ts
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.html
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.scss
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.ts
  ui/src/app/pages/sinks/add/sink.add.component.html
  ui/src/app/shared/components/orb/tag-control/tag-control.component.html
  ui/src/app/shared/components/orb/tag-control/tag-control.component.scss
Labels: bug, enhancement, orb-ui, ux

#1390 fix(orb-ui): #1328 hyperlink matching agents
  ui/src/app/pages/fleet/agents/match/agent.match.component.html
  ui/src/app/pages/fleet/agents/match/agent.match.component.ts
Labels: enhancement, orb-ui

#1318 Feature/orb 1300 add policy status agent list
  fleet/agent_service.go
  fleet/agents.go
  fleet/api/http/endpoint.go
  fleet/api/http/logging.go
  fleet/api/http/metrics.go
  fleet/api/http/responses.go
  fleet/comms_types.go
  fleet/redis/producer/streams.go
Labels: orb-backend

#1353 Tests/subscription to previous groups and removal of failed policies
  python-test/features/integration.feature
  python-test/features/steps/control_plane_agents.py
  python-test/features/steps/control_plane_policies.py
Labels: test

#1388 fix(orb-ui): #1262 and css improvements
  ui/src/app/@theme/styles/_overrides.scss
  ui/src/app/pages/datasets/dataset-from/dataset-from.component.html
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.html
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.ts
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.scss
  ui/src/app/pages/fleet/agents/add/agent.add.component.html
  ui/src/app/pages/fleet/agents/list/agent.list.component.html
  ui/src/app/pages/fleet/agents/view/agent.view.component.html
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.html
  ui/src/app/pages/sinks/list/sink.list.component.html
  ui/src/app/shared/components/orb/agent/agent-groups/agent-groups.component.scss
  ui/src/app/shared/components/orb/agent/agent-information/agent-information.component.html
  ui/src/app/shared/components/orb/agent/agent-policies-datasets/agent-policies-datasets.component.html
  ui/src/app/shared/components/orb/agent/agent-policies-datasets/agent-policies-datasets.component.scss
  ui/src/app/shared/components/orb/agent/agent-provisioning/agent-provisioning.component.html
  ui/src/app/shared/components/orb/combined-tag/combined-tag.component.html
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.html
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.ts
  ui/src/app/shared/components/orb/policy/policy-details/policy-details.component.html
  ui/src/app/shared/components/orb/policy/policy-groups/policy-groups.component.scss
  ui/src/app/shared/components/orb/policy/policy-interface/policy-interface.component.html
  ui/src/app/shared/components/orb/policy/policy-interface/policy-interface.component.scss
  ui/src/app/shared/components/orb/sink-control/sink-control.component.scss
  ui/src/app/shared/components/orb/tag-display/tag-display.component.html
  ui/src/app/shared/components/orb/tag-display/tag-display.component.ts
Labels: bug, enhancement, orb-ui

#1389 fix(orb-ui): #1266 make required an input
  ui/src/app/pages/sinks/add/sink.add.component.html
  ui/src/app/shared/components/orb/tag-control/tag-control.component.html
  ui/src/app/shared/components/orb/tag-control/tag-control.component.ts
Labels: orb-ui, quick_fix
