Repository orb-community/orb, pull requests merged in 2022-01, with the labels that each got.

#681 fix(orb-ui): Agent Policy Fixes
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.scss
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.ts
Labels: bug, orb-ui

#713 feat(fleet): remove last_db_data and agent_metadata from agent list
  fleet/api/http/endpoint.go
Labels: orb-backend

#715 feat(orb-ui): #641 change color of 'mock' string
  ui/src/app/pages/fleet/agents/key/agent.key.component.html
  ui/src/app/pages/fleet/agents/key/agent.key.component.scss
  ui/src/app/pages/fleet/agents/key/agent.key.component.ts
  ui/src/app/pages/fleet/agents/view/agent.view.component.html
  ui/src/app/pages/fleet/agents/view/agent.view.component.scss
  ui/src/app/pages/fleet/agents/view/agent.view.component.ts
Labels: enhancement, orb-ui

#672 Increase sinks service unit tests coverage
  sinks/api/http/endpoint.go
  sinks/api/http/endpoint_test.go
  sinks/postgres/sinks.go
  sinks/postgres/sinks_test.go
  sinks/sinks_service.go
  sinks/sinks_service_test.go
Labels: orb-backend

#665 Feat/orb otelco exporter
  agent/backend/pktvisor/pktvisor.go
  agent/otel/otlpexporter/config.go
  agent/otel/otlpexporter/config_test.go
  agent/otel/otlpexporter/factory.go
  agent/otel/otlpexporter/factory_test.go
  agent/otel/otlpexporter/otlpexporter.go
  agent/otel/otlpexporter/otlpexporter_test.go
  agent/otel/otlpexporter/testdata/config.yaml
  agent/otel/pktvisorreceiver/factory.go
  go.mod
  go.sum
  policies/api/http/metrics.go
  sinks/api/http/endpoint_test.go
  sinks/postgres/sinks_test.go
  sinks/sinks_service_test.go
Labels: orb-backend

#720 Orb-agent heartbeat bug (Removed policies remain with running state)
  agent/backend/pktvisor/pktvisor.go
  agent/policyMgr/manager.go
Labels: orb-backend

#714 feat(orb-ui): #644 add advanced options agent policies configuration
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.scss
  ui/src/app/pages/pages.module.ts
  ui/src/app/shared/pipes/advanced-options.pipe.ts
  ui/src/app/shared/shared.module.ts
Labels: enhancement, orb-ui

#581 feat(orb-ui): integrate pactsafe clickwrapper
  .gitignore
  ui/package.json
  ui/scripts/setenv.ts
  ui/src/app/app.module.ts
  ui/src/app/auth/auth.module.ts
  ui/src/app/pages/register/register.component.html
  ui/src/app/pages/register/register.component.ts
  ui/src/environments/environment.defaults.ts
  ui/src/environments/environment.env.ts
  ui/src/environments/environment.prod.beta.ts
  ui/src/environments/environment.prod.ts
  ui/src/environments/environment.ts
  ui/src/tsconfig.app.json
  ui/yarn-error.log
  ui/yarn.lock
Labels: orb-ui

#671 fix(orb-ui): #525 forgot password page
  ui/src/app/pages/request-password/request-password.component.html
  ui/src/app/pages/request-password/request-password.component.ts
  ui/src/app/pages/reset-password/reset-password.component.ts
Labels: bug, orb-ui

#729 fix(orb-ui): #692 Dataset View
  ui/src/app/common/services/agents/agent.groups.service.ts
  ui/src/app/common/services/agents/agent.policies.service.ts
  ui/src/app/common/services/dataset/dataset.policies.service.ts
  ui/src/app/pages/datasets/details/dataset.details.component.html
  ui/src/app/pages/datasets/details/dataset.details.component.ts
  ui/src/app/pages/datasets/list/dataset.list.component.ts
Labels: orb-ui

#730 fix(orb-ui): remove option to filter dataset by tags
  ui/src/app/pages/datasets/list/dataset.list.component.ts
Labels: bug, orb-ui

#734 fix(orb-ui): Policy Details View
  ui/src/app/pages/datasets/policies.agent/details/agent.policy.details.component.html
  ui/src/app/pages/datasets/policies.agent/details/agent.policy.details.component.scss
  ui/src/app/pages/datasets/policies.agent/details/agent.policy.details.component.ts
Labels: enhancement, orb-ui

#728 Feat/orb agent debug arg
  agent/agent.go
  agent/config/types.go
  cmd/agent/main.go
Labels: enhancement, orb-backend

#740 fix(orb-ui): #737 register button not working
  ui/src/app/app.module.ts
  ui/src/app/auth/auth.module.ts
  ui/src/app/pages/register/register.component.html
  ui/src/app/pages/register/register.component.ts
Labels: bug, orb-ui

#742 Bug/mqtt incoming stoped error
  agent/comms.go
  go.mod
  go.sum
Labels: bug, orb-backend

#741 fix(orb-ui): disable ps contract box if not prod
  ui/scripts/setenv.ts
  ui/src/app/pages/register/register.component.html
  ui/src/app/pages/register/register.component.ts
Labels: enhancement, orb-ui

#744 fix(orb-ui): remove unused imports
  ui/src/app/pages/register/register.component.ts
Labels: bug

#735 feat(orb-ui): #640 display warning when no tags added for agent
  ui/src/app/pages/fleet/agents/add/agent.add.component.html
  ui/src/app/pages/fleet/agents/list/agent.list.component.html
  ui/src/app/pages/sinks/add/sink.add.component.html
Labels: enhancement, orb-ui

#753 fix(orb-ui): #368 all required fields should have asterisk
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
Labels: bug, orb-ui

#635 doc(policy): update dataset and agent policy creation request
  policies/api/openapi.yaml
Labels: documentation

#732 Feat/orb policy associate schema version
  fleet/api/http/openapi.yaml
  fleet/backend/pktvisor/pktvisor.go
  fleet/backend/pktvisor/types.go
  policies/api/http/endpoint.go
  policies/api/http/requests.go
  policies/api/http/responses.go
  policies/api/openapi.yaml
  policies/policies.go
  policies/postgres/init.go
  policies/postgres/policies.go
Labels: orb-backend

#755 Bug/orb sinker ipv6 metrics
  sinker/backend/pktvisor/pktvisor.go
  sinker/backend/pktvisor/promwrapper.go
Labels: bug, orb-backend

#757 fix(orb-ui): add 'e.g.: ' to examples
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
Labels: bug, orb-ui

#758 fix(orb-ui): fix error message during register
  ui/src/app/@core/core.module.ts
  ui/src/app/pages/register/register.component.ts
Labels: bug, orb-ui

#762 fix(orb-ui): fix agent policy not able to apply when filter is empty
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.ts
Labels: bug, orb-ui

#750 refactor(orb-agent): enhancement on log messages
  agent/agent.go
  agent/backend/pktvisor/pktvisor.go
  agent/comms.go
  agent/logging.go
  agent/policyMgr/manager.go
Labels: orb-backend

#774 Fix policies migrations error
  policies/postgres/init.go
Labels: bug, orb-backend

#772 Bug/orb mqtt agent group order creation
  fleet/agent_group_service.go
  fleet/agent_service.go
  fleet/mocks/agent_groups.go
Labels: bug, orb-backend

#789 Remove orb_tag validation on agent edition
  fleet/api/http/requests.go
Labels: orb-backend

#790 change title of prometheus configuration
  sinks/backend/prometheus/prometheus.go
Labels: orb-backend

#781 Feat/orb agent handle multiple datasets
  agent/backend/backend.go
  agent/backend/pktvisor/pktvisor.go
  agent/policyMgr/manager.go
Labels: orb-backend

#799 automated tests: covering integration scenarios
  python-test/features/integration.feature
  python-test/features/steps/control_plane_agent_groups.py
  python-test/features/steps/control_plane_agents.py
  python-test/features/steps/control_plane_datasets.py
  python-test/features/steps/control_plane_policies.py
  python-test/features/steps/control_plane_sink.py
  python-test/features/steps/utils.py
Labels: test

#783 fix(orb-ui): fix advancedOptions filter
  ui/src/app/shared/pipes/advanced-options.pipe.ts
Labels: bug, orb-ui

#816 Feat/orb agent reset
  agent/agent.go
  agent/backend/backend.go
  agent/backend/pktvisor/pktvisor.go
  agent/policyMgr/manager.go
  agent/rpc_from.go
  fleet/agent_service.go
  fleet/agents.go
  fleet/api/http/endpoint.go
  fleet/api/http/logging.go
  fleet/api/http/metrics.go
  fleet/api/http/transport.go
  fleet/comms.go
  fleet/comms_rpc.go
  fleet/mocks/comms.go
  fleet/redis/producer/streams.go
Labels: orb-backend
