Repository orb-community/orb, pull requests merged in 2022-09, with the labels that each got.

#1723 fix(orb-ui): #405 fix tag input
  ui/src/app/shared/components/orb/tag-control/tag-control.component.html
  ui/src/app/shared/directives/empty-input.directive.ts
  ui/src/app/shared/shared.module.ts
Labels: bug, orb-ui

#1739 fix(orb-ui): #1691 matching agents table improvements
  ui/src/app/pages/fleet/agents/match/agent.match.component.scss
  ui/src/app/pages/fleet/agents/match/agent.match.component.ts
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.html
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.scss
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.ts
Labels: bug, orb-ui

#1689 fix(agent): add backoff in waiting pktvisor be in a running state to …
  agent/agent.go
  agent/backend/pktvisor/pktvisor.go
  agent/comms.go
  agent/heartbeats.go
  agent/otel/otlpmqttexporter/otlp.go
  agent/policyMgr/manager.go
  agent/rpc_from.go
  agent/rpc_to.go
  python-test/features/integration.feature
  sinker/prometheus/client.go
Labels: orb-backend, orb-agent, opentelemetry

#1753 feat(orb-ui): #1695 add tag input for policies
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.scss
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.ts
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.ts
  ui/src/app/shared/components/orb/policy/policy-details/policy-details.component.html
  ui/src/app/shared/components/orb/policy/policy-details/policy-details.component.ts
  ui/src/app/shared/components/orb/tag-control/tag-control.component.html
Labels: orb-ui

#1755 fix(orb-ui): #1715-fix-policy-handler-filters
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.ts
Labels: orb-ui

#1760 fix(orb-ui): fix column distribution and html for agent policy list page
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.html
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.ts
Labels: orb-ui

#1790 dnstap and flow agents test
  python-test/features/integration.feature
  python-test/features/steps/agent_config_file.py
  python-test/features/steps/control_plane_agents.py
  python-test/features/steps/control_plane_policies.py
  python-test/features/steps/taps.py
Labels: test

#1792 Doc/update openapi
  fleet/api/http/openapi.yaml
  policies/api/openapi.yaml
  sinks/api/http/openapi.yaml
Labels: documentation

#1806 fix(sinks): add tags param to url decode for list sinks endpoint
  sinks/api/http/endpoint_test.go
  sinks/api/http/transport.go
  sinks/mocks/sinks.go
Labels: orb-backend, quick_fix

#1808 updating docs with searching by tag
  fleet/api/http/openapi.yaml
  policies/api/openapi.yaml
  sinks/api/http/openapi.yaml
Labels: documentation

#1822 feat(hackathon): Apply/remove policy in agent
  agent/backend/cloudprober/cloudprober.go
  agent/otel/cloudprobereceiver/config.go
  agent/otel/cloudprobereceiver/factory.go
  agent/otel/cloudprobereceiver/receiver.go
  agent/otel/cloudprobereceiver/testdata/config.yaml
  agent/policies/repo.go
  agent/policyMgr/manager.go
  cmd/agent/main.go
Labels: hackathon

#1826 feat(cloudprober): enable simple policy support to apply
  agent/backend/cloudprober/cloudprober.go
  agent/backend/cloudprober/cloudprober_test.go
  agent/backend/cloudprober/type.go
  agent/otel/cloudprobereceiver/config_test.go
  agent/otel/cloudprobereceiver/e2e_test.go
  agent/otel/cloudprobereceiver/factory_test.go
  agent/otel/cloudprobereceiver/receiver_test.go
  agent/otel/cloudprobereceiver/setup_test.go
Labels: hackathon

#1834 update policy repo inside agent with policy status after applying on backend
  agent/policyMgr/manager.go
Labels: hackathon

#1835 feat(pinger, ui): add form input for policy backend selection
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.scss
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.ts
Labels: orb-ui, hackathon

#1836 Hack/fleet register cloudprober
  cmd/fleet/main.go
  fleet/backend/cloudprober/cloudprober.go
Labels: hackathon
