Repository orb-community/orb, pull requests merged in 2022-05, with the labels that each got.

#1147 fix(orb-ui): remove unused/excess deps
  ui/angular.json
  ui/package.json
  ui/src/app/app.module.ts
  ui/src/app/common/interfaces/lora.interface.ts
  ui/src/app/common/interfaces/opcua.interface.ts
  ui/src/app/common/interfaces/orb/policy/policy.input.interface.ts
  ui/src/app/common/services/agents/agents.mock.service.ts
  ui/src/assets/env.js
  ui/src/assets/env.template.js
  ui/src/environments/environment.defaults.ts
  ui/src/typings.d.ts
  ui/yarn.lock
Labels: enhancement, orb-ui

#1156 feat(orb-ui): #986 policy view edit handlers
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.ts
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.html
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.ts
  ui/src/app/shared/components/orb/policy/policy-groups/policy-groups.component.ts
  ui/src/app/shared/components/orb/policy/policy-interface/policy-interface.component.html
  ui/src/app/shared/components/orb/policy/policy-interface/policy-interface.component.scss
  ui/src/app/shared/components/orb/policy/policy-interface/policy-interface.component.ts
  ui/src/app/shared/shared.module.ts
Labels: enhancement, orb-ui, ux

#1158 hotfix(orb-ui): add warning message for related datasets to be removed.
  ui/src/app/pages/datasets/policies.agent/delete/agent.policy.delete.component.html
Labels: bug, enhancement, orb-ui

#1160 Revert "feat(orb-ui): #986 policy view edit handlers (#1156)"
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.ts
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.html
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.ts
  ui/src/app/shared/components/orb/policy/policy-groups/policy-groups.component.ts
  ui/src/app/shared/components/orb/policy/policy-interface/policy-interface.component.html
  ui/src/app/shared/components/orb/policy/policy-interface/policy-interface.component.scss
  ui/src/app/shared/components/orb/policy/policy-interface/policy-interface.component.ts
  ui/src/app/shared/shared.module.ts
Labels: bug, orb-ui

#1161 feat(orb-ui): #986 policy view edit handlers
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.ts
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.html
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.ts
  ui/src/app/shared/components/orb/policy/policy-groups/policy-groups.component.ts
  ui/src/app/shared/components/orb/policy/policy-interface/policy-interface.component.html
  ui/src/app/shared/components/orb/policy/policy-interface/policy-interface.component.scss
  ui/src/app/shared/components/orb/policy/policy-interface/policy-interface.component.ts
  ui/src/app/shared/shared.module.ts
Labels: enhancement, orb-ui

#1163 fix(orb-ui): #1110 #1144 fix sink control on dataset-from component.
  ui/src/app/pages/datasets/dataset-from/dataset-from.component.html
  ui/src/app/pages/datasets/dataset-from/dataset-from.component.ts
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.ts
  ui/src/app/shared/components/orb/sink-control/sink-control.component.html
  ui/src/app/shared/components/orb/sink-control/sink-control.component.ts
  ui/src/app/shared/components/orb/sink-display/sink-display.component.html
  ui/src/app/shared/components/orb/sink-display/sink-display.component.ts
Labels: bug, orb-ui

#1166 fix(orb-ui): #1137 remove entry from navbar
  ui/src/app/pages/pages-menu.ts
Labels: good first issue, orb-ui, quick_fix

#1154 hotfix(orb-ui): fleet breadcrumb removal
  ui/src/app/pages/pages-routing.module.ts
Labels: enhancement, question, orb-ui, quick_fix, ux

#1171 ci(build): fix the ifs to build but not push the image on pull_request.
  .github/workflows/go-develop.yml
Labels: devops

#1008 Feature/885 ability duplicate existing policy
  policies/api/http/endpoint.go
  policies/api/http/endpoint_test.go
  policies/api/http/logging.go
  policies/api/http/metrics.go
  policies/api/http/requests.go
  policies/api/http/transport.go
  policies/api/openapi.yaml
  policies/mocks/policies.go
  policies/policies.go
  policies/policy_service.go
  policies/policy_service_test.go
  policies/postgres/policies.go
  policies/postgres/policies_test.go
  policies/redis/producer/streams.go
Labels: orb-backend

#1204 feat(orb-ui): duplicate policy button
  ui/src/app/common/services/agents/agent.policies.service.ts
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.html
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.scss
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.ts
Labels: enhancement, orb-ui

#1100 feat(agent): adapt otlphttpexporter to use mqtt
  .github/workflows/go-develop.yml
  Makefile
  agent/agent.go
  agent/backend/pktvisor/pktvisor.go
  agent/comms.go
  agent/docker/Dockerfile
  agent/otel/otlpexporter/config.go
  agent/otel/otlpexporter/config_test.go
  agent/otel/otlpexporter/factory.go
  agent/otel/otlpexporter/factory_test.go
  agent/otel/otlpexporter/testdata/config.yaml
  agent/otel/otlpmqttexporter/README.md
  agent/otel/otlpmqttexporter/config.go
  agent/otel/otlpmqttexporter/config_test.go
  agent/otel/otlpmqttexporter/doc.go
  agent/otel/otlpmqttexporter/factory.go
  agent/otel/otlpmqttexporter/factory_test.go
  agent/otel/otlpmqttexporter/otlp.go
  agent/otel/otlpmqttexporter/otlp_test.go
  agent/otel/otlpmqttexporter/testdata/bad_empty_config.yaml
  agent/otel/otlpmqttexporter/testdata/config.yaml
  agent/otel/otlpmqttexporter/testdata/test_cert.pem
  agent/otel/pktvisorreceiver/config.go
  agent/otel/pktvisorreceiver/config_test.go
  agent/otel/pktvisorreceiver/factory.go
  agent/otel/pktvisorreceiver/receiver.go
  agent/otel/pktvisorreceiver/testdata/config.yaml
  cmd/agent/main.go
  go.mod
  go.sum
  sinker/service.go
Labels: opentelemetry

#1197 running behavex
  .idea/runConfigurations/int_tests.xml
  python-test/.gitignore
  python-test/README.md
  python-test/features/agentProviderUi.feature
  python-test/features/agentsProvider.feature
  python-test/features/behave.ini
  python-test/features/clean_env.feature
  python-test/features/environment.py
  python-test/features/integration.feature
  python-test/features/policies.feature
  python-test/features/sinks.feature
  python-test/features/steps/control_plane_agent_groups.py
  python-test/features/steps/control_plane_agents.py
  python-test/features/steps/control_plane_datasets.py
  python-test/features/steps/control_plane_policies.py
  python-test/features/steps/control_plane_sink.py
  python-test/features/steps/local_agent.py
  python-test/features/steps/login.py
  python-test/features/steps/ui_utils.py
  python-test/features/steps/utils.py
  python-test/requirements.txt
Labels: test

#1227 fix(orb-ui): #1090 duplicate policy button
  ui/src/app/common/services/agents/agent.policies.service.ts
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.ts
  ui/src/app/shared/shared.module.ts
Labels: orb-ui

#1234 fix(orb-ui): rollback dataset-from rule for showing agent_group_id
  ui/src/app/pages/datasets/dataset-from/dataset-from.component.html
Labels: enhancement, orb-ui

#1235 fix(orb-ui): #1216 agent view/list show unique tags
  ui/src/app/pages/fleet/agents/details/agent.details.component.html
  ui/src/app/shared/components/orb/agent/agent-information/agent-information.component.html
Labels: enhancement, orb-ui

#1226 fix(policy): fix duplicate policy http error response
  policies/policy_service.go
Labels: orb-backend

#1258 fix(orb-ui): #446 add authguard to /pages route
  ui/src/app/app-routing.module.ts
  ui/src/app/app.module.ts
  ui/src/app/auth/auth-guard.service.ts
  ui/src/environments/environment.ts
Labels: bug, orb-ui

#1259 hotfix(orb-ui): #162 remove dataset card sink tooltip
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.html
Labels: bug, orb-ui, p1

#1263 fix(orb-ui): #1135 Redirect to Policy View after creating policy
  ui/src/app/common/services/agents/agent.policies.service.ts
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.ts
  ui/src/app/pages/datasets/policies.agent/add/handler.policy.add.component.html
Labels: enhancement, orb-ui

#1265 fix(orb-ui): #1217 sink selector size
  ui/src/app/pages/datasets/dataset-from/dataset-from.component.scss
  ui/src/app/shared/components/orb/sink-control/sink-control.component.html
  ui/src/app/shared/components/orb/sink-control/sink-control.component.scss
Labels: bug, orb-ui

#1268 fix(orb-ui): add material tooltip #1173
  ui/src/app/shared/components/orb/policy/policy-groups/policy-groups.component.html
  ui/src/app/shared/components/orb/policy/policy-groups/policy-groups.component.ts
Labels: bug, orb-ui

#1270 hotfix(orb-ui): policy duplicate feature feedback notification fixes
  ui/src/app/common/services/agents/agent.policies.service.ts
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.ts
Labels: bug, orb-ui, quick_fix

#1273 Tests/get output
  python-test/print_behavex_output.py
Labels: test
