Repository orb-community/orb, pull requests merged in 2023-01, with the labels that each got.

#2137 metric groups test
  python-test/features/integration_config_file.feature
  python-test/features/metrics.feature
  python-test/features/steps/control_plane_agents.py
  python-test/features/steps/control_plane_policies.py
  python-test/features/steps/utils.py
  python-test/test_config.ini.tpl
Labels: test

#2139 [ORB-223] Fix/partial updates policies
  fleet/agent_group_service.go
  fleet/agent_group_service_test.go
  fleet/agent_groups.go
  fleet/api/http/endpoint.go
  fleet/api/http/endpoint_test.go
  fleet/api/http/requests.go
  fleet/comms_test.go
  fleet/postgres/agent_groups.go
  fleet/postgres/agent_groups_test.go
  policies/api/http/endpoint.go
  policies/api/http/endpoint_test.go
  policies/api/http/requests.go
  policies/mocks/policies.go
  policies/policies.go
  policies/policy_service.go
  policies/policy_service_test.go
  policies/postgres/policies.go
  sinks/api/grpc/endpoint.go
  sinks/api/http/endpoint.go
  sinks/api/http/endpoint_test.go
  sinks/api/http/requests.go
  sinks/postgres/sinks.go
  sinks/postgres/sinks_test.go
  sinks/sinks.go
  sinks/sinks_service.go
  sinks/sinks_service_test.go
Labels: linear

#2130 hotfix(ui): change referrer policy to 'origin'
  ui/src/index.html
Labels: orb-ui

#2144 [ORB-224] partial updates for datasets
  fleet/comms_test.go
  policies/api/grpc/endpoint.go
  policies/api/http/endpoint.go
  policies/api/http/endpoint_test.go
  policies/api/http/requests.go
  policies/mocks/policies.go
  policies/policies.go
  policies/policy_service.go
  policies/policy_service_test.go
  policies/postgres/datasets_test.go
  policies/postgres/policies.go
  policies/postgres/policies_test.go
  policies/redis/consumer/streams.go
  policies/redis/producer/streams.go
Labels: linear

#2149 [ORB-170] add 'noTapMatch' state for policies on agent
  agent/policies/types.go
  agent/policyMgr/manager.go
Labels: linear

#2135 [ORB-203] Enable sink status update by listening to otel-collector logs.
  .gitignore
  Makefile
  cmd/maestro/main.go
  go.mod
  go.sum
  kind/Chart.yaml
  kind/values.yaml
  maestro/config/config_builder.go
  maestro/config/config_builder_test.go
  maestro/config/types.go
  maestro/kubecontrol/kubecontrol.go
  maestro/kubecontrol/monitor.go
  maestro/kubecontrol/sortedset.go
  maestro/redis/consumer/events.go
  maestro/redis/consumer/hashset.go
  maestro/redis/consumer/streams.go
  maestro/redis/events.go
  maestro/service.go
  sinker/config/repo.go
  sinker/config/types.go
  sinker/otel/bridgeservice/bridge.go
  sinker/redis/producer/streams.go
  sinker/redis/sinker.go
  sinks/api/grpc/client.go
  sinks/api/grpc/endpoint.go
  sinks/api/grpc/request.go
  sinks/api/grpc/response.go
  sinks/api/grpc/server.go
  sinks/pb/sinks.pb.go
  sinks/pb/sinks.proto
  sinks/postgres/sinks.go
  sinks/redis/consumer/streams.go
Labels: linear

#2152 fix(fleet): fix group tags editing - make it unable to delete tags
  agent/policies/types.go
  fleet/agent_group_service.go
  fleet/agent_group_service_test.go
  fleet/agent_groups.go
  fleet/agent_service.go
  fleet/agent_service_test.go
  fleet/agents.go
  fleet/api/grpc/endpoint.go
  fleet/api/http/endpoint.go
  fleet/api/http/endpoint_test.go
  fleet/api/http/requests.go
  fleet/comms_test.go
  fleet/postgres/agent_groups.go
  fleet/postgres/agent_groups_test.go
  fleet/postgres/agents.go
  fleet/postgres/agents_test.go
  policies/postgres/policies.go
  sinker/message_handler.go
Labels: linear
