Repository orb-community/orb, pull requests merged in 2023-10, with the labels that each got.

#2675 fix(maestro): fix sqls
  maestro/deployment/repository.go
Labels: golang

#2678 feat(maestro): fix reading event and add logs to errors.
  maestro/redis/consumer/sinker.go
Labels: golang

#2679 feat(maestro): fix args sent to find.
  maestro/deployment/repository.go
Labels: golang

#2688 fix(maestro): fix sql and repository and add unit tests
  maestro/deployment/repository.go
  maestro/deployment/repository_test.go
  maestro/deployment/setup_test.go
Labels: golang

#2690 feat(maestro): fix get deployment and add logs to sink_activity.
  maestro/deployment/service.go
  maestro/service/deploy_service.go
Labels: golang

#2691 feat(maestro): add debug logs to sinker listeners.
  maestro/redis/consumer/sinker.go
Labels: golang

#2692 fix(maestro): fix decode event
  maestro/redis/consumer/sinker.go
  maestro/redis/events.go
  maestro/redis/events_test.go
Labels: golang

#2693 feat(maestro): add logs to understand better the fixes.
  maestro/monitor/monitor.go
  maestro/password/password.go
  maestro/service/deploy_service.go
Labels: golang

#2695 fix(maestro): injection on monitor was missing
  maestro/monitor/monitor.go
  maestro/password/password.go
  maestro/service.go
Labels: golang

#2696 feat(maestro): fix storing decoded auths.
  maestro/deployment/service.go
Labels: golang

#2697 fix (sinks): maestro status event source subscribe on sinks
  cmd/sinks/main.go
Labels: golang

#2698 fix (maestro): event source sink status topic name
  maestro/redis/producer/sink_status.go
Labels: golang

#2699 feat(maestro): fix doubling update.
  maestro/service/deploy_service.go
Labels: golang

#2700 fix (maestro): set sink status when deployment status change
  maestro/deployment/service.go
Labels: golang

#2701 fix(orb-ui): #1281 Accordions and Tabs closing after refresh
  ui/src/app/shared/components/orb/agent/agent-backends/agent-backends.component.html
  ui/src/app/shared/components/orb/agent/agent-backends/agent-backends.component.ts
  ui/src/app/shared/components/orb/agent/agent-policies-datasets/agent-policies-datasets.component.html
  ui/src/app/shared/components/orb/agent/agent-policies-datasets/agent-policies-datasets.component.ts
  ui/src/app/shared/components/orb/policy/policy-groups/policy-groups.component.html
  ui/src/app/shared/components/orb/policy/policy-groups/policy-groups.component.ts
Labels: orb-ui, typescript

#2702 fix(maestro): logs filtering to make it more clear the error
  fleet/api/http/logging.go
  maestro/monitor/monitor.go
  maestro/redis/consumer/sinker.go
  policies/api/http/logging.go
  sinks/api/http/logging.go
Labels: golang

#2704 feat(sinks): add log on receiveing message from maestro.
  sinks/redis/consumer/sink_status_listener.go
Labels: golang

#2705 fix: (maestro) monitor to kill orphaned otelcollectors
  maestro/monitor/monitor.go
  sinks/redis/consumer/sink_status_listener.go
Labels: golang

#2707 feat(logs): adding more logs and add debounce to avoid over publishing on sinker activity
  sinker/otel/bridgeservice/bridge.go
  sinker/otel/kafkafanoutexporter/kafka_exporter.go
  sinks/redis/consumer/sink_status_listener.go
Labels: golang

#2706 fix(orb-ui): improvements on view headers
  ui/src/app/@theme/styles/_overrides.scss
  ui/src/app/pages/fleet/agents/view/agent.view.component.html
  ui/src/app/pages/fleet/agents/view/agent.view.component.scss
  ui/src/app/pages/sinks/view/sink.view.component.html
  ui/src/app/pages/sinks/view/sink.view.component.scss
Labels: orb-ui

#2710 fix(maestro): fix re-uping errored container without update.
  maestro/service/deploy_service.go
  sinker/redis/consumer/sink_key_expire.go
Labels: golang

#2709 fix (sinks): set sink status when deployment status change
  sinks/api/http/logging.go
  sinks/api/http/metrics.go
  sinks/redis/consumer/sink_status_listener.go
  sinks/redis/producer/streams.go
  sinks/sinks.go
Labels: golang

#2711 fix(sinks): add new changes to postgres.
  maestro/monitor/monitor.go
  sinks/postgres/init.go
Labels: golang

#2712 feat(maestro): update error message not showing and on update sink no…
  maestro/deployment/service.go
  sinks/postgres/sinks_test.go
  sinks/sinks_service.go
Labels: golang

#2715 fix(maestro): fix deployment skipping on last status was error
  maestro/deployment/service.go
Labels: golang

#2716 feat(maestro): fix update deployment.
  maestro/service/deploy_service.go
Labels: golang

#2717 fix (maestro): reset error message when sink update
  maestro/deployment/model.go
Labels: golang

#2718 fix(maestro): fix maestro redeploying and changing status
  maestro/deployment/model.go
  maestro/service/deploy_service.go
Labels: golang

#2719 fix (kind): update kind and kubectl to 1.27
  Makefile
  kind/values.yaml
Labels: internal

#2720 fix (maestro): activity and error event synchronization
  maestro/deployment/service.go
  maestro/kubecontrol/kubecontrol.go
  maestro/redis/consumer/sinker.go
  maestro/service.go
  maestro/service/deploy_service.go
Labels: golang

#2721 improvements(orb-ui): Dataset Windows
  ui/src/app/pages/datasets/dataset-from/dataset-from.component.html
  ui/src/app/pages/datasets/dataset-from/dataset-from.component.scss
  ui/src/app/pages/datasets/dataset-from/dataset-from.component.ts
  ui/src/app/pages/datasets/delete/dataset.delete.component.scss
  ui/src/app/pages/fleet/agents/match/agent.match.component.ts
  ui/src/app/pages/sinks/add/sink-add.component.html
  ui/src/app/pages/sinks/view/sink.view.component.html
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.ts
  ui/src/app/shared/components/orb/sink-control/sink-control.component.scss
  ui/src/app/shared/components/orb/sink/sink-config/sink-config.component.html
  ui/src/app/shared/components/orb/sink/sink-config/sink-config.component.scss
  ui/src/app/shared/components/orb/sink/sink-config/sink-config.component.ts
Labels: orb-ui, typescript

#2722 fix: (sinker): idle state based key expire events
  sinker/redis/consumer/sink_key_expire.go
  sinker/redis/sinker_test.go
  sinker/service.go
Labels: golang

#2724 fix (kind): [ENG-1279] psp on kind
  Makefile
Labels: internal

#2726 fix(orb-ui) #1303 Code editors expose syntax errors
  ui/src/app/pages/datasets/dataset-from/dataset-from.component.ts
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.html
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.ts
  ui/src/app/pages/fleet/agents/match/agent.match.component.ts
  ui/src/app/pages/sinks/add/sink-add.component.html
  ui/src/app/pages/sinks/add/sink-add.component.ts
  ui/src/app/pages/sinks/view/sink.view.component.html
  ui/src/app/pages/sinks/view/sink.view.component.ts
  ui/src/app/shared/components/orb/policy/policy-details/policy-details.component.scss
  ui/src/app/shared/components/orb/policy/policy-interface/policy-interface.component.html
  ui/src/app/shared/components/orb/policy/policy-interface/policy-interface.component.scss
  ui/src/app/shared/components/orb/policy/policy-interface/policy-interface.component.ts
  ui/src/app/shared/components/orb/sink/sink-config/sink-config.component.html
  ui/src/app/shared/components/orb/sink/sink-config/sink-config.component.scss
  ui/src/app/shared/components/orb/sink/sink-config/sink-config.component.ts
  ui/src/app/shared/components/orb/sink/sink-details/sink-details.component.scss
Labels: orb-ui, typescript

#2727 fix(orb-ui): Validate agent metadata before searching for agent version
  ui/src/app/pages/fleet/agents/list/agent.list.component.ts
Labels: orb-ui, typescript

#2729 fix: (sinker) idle expire message
  kind/Chart.yaml
  maestro/deployment/service.go
  maestro/postgres/init.go
  maestro/service/deploy_service.go
  sinker/redis/consumer/sink_key_expire.go
  sinker/redis/sinker_test.go
Labels: golang

#2730 fix (maestro): returning sink from idle to active
  maestro/service/deploy_service.go
Labels: golang

#2731 feat(kind): adding local development tools
  kind/README.md
  kind/adminer/deployment.yaml
  kind/redis-commander/deployment.yaml
Labels: markdown

#2728 fix(orb-ui): edit policy validate json config
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.ts
Labels: orb-ui, typescript

#2734 feat(ui): add color to new status
  ui/src/app/pages/sinks/list/sink.list.component.scss
  ui/src/app/pages/sinks/view/sink.view.component.scss
  ui/src/app/shared/components/delete/delete.selected.component.scss
Labels: orb-ui

#2735 feat(orb-ui): Expose warning sink messages
  ui/src/app/@theme/styles/_overrides.scss
  ui/src/app/common/interfaces/orb/sink.interface.ts
  ui/src/app/shared/components/orb/sink/sink-details/sink-details.component.html
Labels: orb-ui, typescript

#2736 fix(orb-ui): Sink state circle colors
  ui/src/app/@theme/styles/_overrides.scss
Labels: orb-ui

#2737 fix(orb-ui): Active policies formatting
  ui/src/app/shared/components/orb/agent/agent-policies-datasets/agent-policies-datasets.component.html
  ui/src/app/shared/components/orb/agent/agent-policies-datasets/agent-policies-datasets.component.scss
Labels: orb-ui

#2742 fix (maestro): create db, add unique constraint
  maestro/postgres/init.go
Labels: golang

#2743 fix (maestro) db and typo on activity variable
  maestro/deployment/repository_test.go
  maestro/postgres/init.go
  maestro/service/deploy_service.go
Labels: golang

#2744 feat(orb-ui): Reset agent confirmation
  ui/src/app/pages/fleet/agents/reset/agent.reset.component.html
  ui/src/app/pages/fleet/agents/reset/agent.reset.component.scss
  ui/src/app/pages/fleet/agents/reset/agent.reset.component.ts
  ui/src/app/shared/components/orb/agent/agent-information/agent-information.component.html
  ui/src/app/shared/components/orb/agent/agent-information/agent-information.component.ts
Labels: orb-ui, typescript

#2746 fix(orb-ui): Provisioning command for low resolution
  ui/src/app/shared/components/orb/agent/agent-provisioning/agent-provisioning.component.scss
Labels: orb-ui

#2748 fix(orb-ui): #1320 Name filter remaining between navigations
  ui/src/app/common/services/filter.service.ts
  ui/src/app/shared/components/filter/filter.component.ts
Labels: orb-ui, typescript

#2749 fix(orb-ui): use a pattern in policies datasets tabs headers
  ui/src/app/shared/components/orb/policy/policy-groups/policy-groups.component.html
  ui/src/app/shared/components/orb/policy/policy-groups/policy-groups.component.scss
Labels: orb-ui

#2750 fix(orb-ui): Dataset table adjustments
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.html
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.scss
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.ts
Labels: orb-ui, typescript

#2751 fix(orb-ui): Layout pattern
  ui/src/app/@theme/styles/_overrides.scss
  ui/src/app/common/services/filter.service.ts
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.scss
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.scss
  ui/src/app/pages/sinks/list/sink.list.component.html
  ui/src/app/shared/components/filter/filter.component.ts
Labels: orb-ui, typescript

#2753 imporvements(orb-ui): Sink Details modal & Group details modal
  ui/src/app/pages/fleet/groups/details/agent.group.details.component.html
  ui/src/app/pages/fleet/groups/details/agent.group.details.component.scss
  ui/src/app/pages/fleet/groups/details/agent.group.details.component.ts
  ui/src/app/pages/sinks/details/sink.details.component.html
  ui/src/app/pages/sinks/details/sink.details.component.scss
  ui/src/app/shared/components/orb/sink/sink-details/sink-details.component.scss
Labels: orb-ui, typescript

#2754 hotfix(orb-ui): Yaml option as default - policy creation
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.ts
Labels: orb-ui, typescript

#2764 fix(orb-ui): Flex dataset table
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.html
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.scss
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.ts
Labels: orb-ui, typescript

#2765 feat(orb-ui): Rows actions context menu
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.html
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.ts
  ui/src/app/pages/fleet/agents/list/agent.list.component.html
  ui/src/app/pages/fleet/agents/list/agent.list.component.ts
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.html
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.ts
  ui/src/app/pages/pages.module.ts
  ui/src/app/pages/sinks/list/sink.list.component.html
  ui/src/app/pages/sinks/list/sink.list.component.ts
  ui/src/app/shared/components/tableContexMenu/table-context-menu-component.html
  ui/src/app/shared/components/tableContexMenu/table-context-menu-component.scss
  ui/src/app/shared/components/tableContexMenu/table-context-menu-component.ts
  ui/src/app/shared/shared.module.ts
Labels: orb-ui, typescript

#2768 fix(orb-ui): Agent view, update active groups component
  ui/src/app/shared/components/orb/agent/agent-groups/agent-groups.component.html
  ui/src/app/shared/components/orb/agent/agent-groups/agent-groups.component.scss
  ui/src/app/shared/components/orb/agent/agent-groups/agent-groups.component.ts
Labels: orb-ui, typescript

#2769 improvement(orb-ui): #1391 Agent Credentials window
  ui/src/app/pages/fleet/agents/add/agent.add.component.html
  ui/src/app/pages/fleet/agents/key/agent.key.component.html
  ui/src/app/pages/fleet/agents/key/agent.key.component.scss
  ui/src/app/pages/fleet/agents/key/agent.key.component.ts
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.html
  ui/src/app/shared/components/delete/delete.selected.component.html
Labels: orb-ui, typescript

#2779 fix(orb-ui): Table checkboxes adjustments
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.ts
  ui/src/app/pages/fleet/agents/list/agent.list.component.ts
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.ts
  ui/src/app/pages/sinks/list/sink.list.component.ts
Labels: orb-ui, typescript

#2781 feat(orb-ui): New filter component V1
  ui/src/app/common/services/filter.service.ts
  ui/src/app/common/services/orb.service.ts
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.ts
  ui/src/app/pages/fleet/agents/list/agent.list.component.ts
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.ts
  ui/src/app/pages/pages.module.ts
  ui/src/app/pages/sinks/list/sink.list.component.ts
  ui/src/app/shared/components/filter/filter.component.html
  ui/src/app/shared/components/filter/filter.component.scss
  ui/src/app/shared/components/filter/filter.component.ts
  ui/src/app/shared/components/tableContexMenu/table-context-menu-component.ts
  ui/src/app/shared/pipes/list-json.pipe.ts
  ui/src/app/shared/shared.module.ts
Labels: orb-ui, typescript

#2782 fix(orb-ui): duplicated filters being added
  ui/src/app/shared/components/filter/filter.component.ts
Labels: orb-ui, typescript

#2783 improvements(orb-ui): Filter component, checkboxes states & agent version as multi select
  ui/src/app/common/interfaces/orb/filter-option.ts
  ui/src/app/common/services/filter.service.ts
  ui/src/app/pages/fleet/agents/list/agent.list.component.ts
  ui/src/app/shared/components/filter/filter.component.html
  ui/src/app/shared/components/filter/filter.component.ts
Labels: orb-ui, typescript

#2788 fix(orb-ui): Filter component bugs
  ui/src/app/common/interfaces/orb/filter-option.ts
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.ts
  ui/src/app/pages/fleet/agents/list/agent.list.component.ts
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.ts
  ui/src/app/pages/sinks/list/sink.list.component.ts
  ui/src/app/shared/components/filter/filter.component.html
  ui/src/app/shared/components/filter/filter.component.ts
Labels: orb-ui, typescript
