Repository orb-community/orb, pull requests merged in 2023-09, with the labels that each got.

#2603 feat(orb-ui): #1106 Agent View, include provisioning command with config file
  ui/src/app/shared/components/orb/agent/agent-provisioning/agent-provisioning.component.html
  ui/src/app/shared/components/orb/agent/agent-provisioning/agent-provisioning.component.scss
  ui/src/app/shared/components/orb/agent/agent-provisioning/agent-provisioning.component.ts
Labels: orb-ui, typescript

#2604 improvement(orb-ui): #1108 Update input and forms styles according to figma
  ui/src/app/@theme/styles/_overrides.scss
  ui/src/app/pages/datasets/dataset-from/dataset-from.component.html
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
  ui/src/app/pages/fleet/agents/add/agent.add.component.html
  ui/src/app/pages/fleet/agents/add/agent.add.component.scss
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.html
  ui/src/app/shared/components/orb/agent/agent-information/agent-information.component.html
  ui/src/app/shared/components/orb/agent/agent-information/agent-information.component.scss
  ui/src/app/shared/components/orb/policy/policy-details/policy-details.component.html
  ui/src/app/shared/components/orb/policy/policy-details/policy-details.component.scss
  ui/src/app/shared/components/orb/sink/sink-details/sink-details.component.html
  ui/src/app/shared/components/orb/tag-control/tag-control.component.html
  ui/src/app/shared/components/orb/tag-control/tag-control.component.scss
Labels: orb-ui

#2606 fix(orb-ui): align itens agent key
  ui/src/app/pages/fleet/agents/key/agent.key.component.html
  ui/src/app/pages/fleet/agents/key/agent.key.component.scss
Labels: orb-ui

#2615 feat(orb-ui): #1110 New user profile page
  ui/src/app/pages/profile/profile.component.html
  ui/src/app/pages/profile/profile.component.scss
  ui/src/app/pages/profile/profile.component.ts
Labels: orb-ui, typescript

#2605 fix(orb-ui): #1097 hide empty description fields and messages on tables
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.html
  ui/src/app/pages/fleet/groups/details/agent.group.details.component.html
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.html
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.ts
  ui/src/app/pages/sinks/details/sink.details.component.html
  ui/src/app/pages/sinks/list/sink.list.component.html
  ui/src/app/shared/components/orb/policy/policy-details/policy-details.component.html
  ui/src/app/shared/components/orb/sink/sink-details/sink-details.component.html
Labels: orb-ui, typescript

#2616 feat(orb-ui): #1127 Active polling control
  ui/src/app/common/services/orb.service.ts
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.ts
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.html
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.ts
  ui/src/app/pages/fleet/agents/list/agent.list.component.ts
  ui/src/app/pages/fleet/agents/view/agent.view.component.html
  ui/src/app/pages/fleet/agents/view/agent.view.component.ts
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.ts
  ui/src/app/pages/sinks/list/sink.list.component.ts
  ui/src/app/pages/sinks/view/sink.view.component.html
  ui/src/app/pages/sinks/view/sink.view.component.ts
  ui/src/app/shared/components/orb/agent/agent-information/agent-information.component.ts
  ui/src/app/shared/components/orb/policy/policy-details/policy-details.component.ts
  ui/src/app/shared/components/orb/policy/policy-interface/policy-interface.component.ts
  ui/src/app/shared/components/orb/sink/sink-config/sink-config.component.ts
  ui/src/app/shared/components/orb/sink/sink-details/sink-details.component.ts
  ui/src/app/shared/components/poll-control/poll-control.component.scss
Labels: orb-ui, typescript

#2617 fix(orb-ui): User being log out after change password fail
  ui/src/app/auth/auth.token.interceptor.service.ts
  ui/src/app/pages/profile/profile.component.ts
Labels: orb-ui, typescript

#2620 improvement(orb-ui): Include view password button, reset input field after cancel edit
  ui/src/app/pages/profile/profile.component.html
  ui/src/app/pages/profile/profile.component.scss
  ui/src/app/pages/profile/profile.component.ts
Labels: orb-ui, typescript

#2621 fix(orb-ui): Remove duplicated logic on policy view polling control
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.ts
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.ts
Labels: orb-ui, typescript

#2622 fix(orb-ui): Minor fixes and updates
  ui/src/app/pages/datasets/delete/dataset.delete.component.scss
  ui/src/app/pages/datasets/policies.agent/delete/agent.policy.delete.component.scss
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.scss
  ui/src/app/pages/fleet/agents/view/agent.view.component.html
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.html
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.scss
  ui/src/app/shared/components/poll-control/poll-control.component.scss
Labels: orb-ui

#2629 fix(orb-ui): Improve poll control
  ui/src/app/common/services/code.editor.service.ts
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.html
  ui/src/app/pages/sinks/view/sink.view.component.html
  ui/src/app/shared/components/orb/policy/policy-details/policy-details.component.ts
  ui/src/app/shared/components/orb/policy/policy-interface/policy-interface.component.ts
  ui/src/app/shared/components/orb/sink/sink-config/sink-config.component.ts
  ui/src/app/shared/components/orb/sink/sink-details/sink-details.component.ts
Labels: orb-ui, typescript

#2628 fix(orb-ui): Dataset table, add messages on empty table cell
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.html
Labels: orb-ui

#2630 fix(orb-ui): #1177 Policy Add page improvements
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.scss
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.ts
Labels: orb-ui, typescript

#2631 feat(orb-ui): #eng-1186 improvements on assigned groups component
  ui/src/app/pages/fleet/agents/match/agent.match.component.ts
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.ts
  ui/src/app/shared/components/orb/policy/policy-groups/policy-groups.component.html
  ui/src/app/shared/components/orb/policy/policy-groups/policy-groups.component.scss
Labels: orb-ui, typescript

#2633 feat(orb-ui): #1185 Search by name on list pages
  ui/src/app/common/services/filter.service.ts
  ui/src/app/shared/components/filter/filter.component.html
  ui/src/app/shared/components/filter/filter.component.scss
  ui/src/app/shared/components/filter/filter.component.ts
Labels: orb-ui, typescript

#2635 fix(orb-ui): Policy add stepper styles
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.scss
Labels: orb-ui

#2634 feat(orb-ui): #1190 Loading Animation
  ui/src/app/@theme/styles/_overrides.scss
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.html
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.scss
  ui/src/app/pages/fleet/agents/list/agent.list.component.scss
  ui/src/app/pages/fleet/agents/view/agent.view.component.html
  ui/src/app/pages/profile/profile.component.html
  ui/src/app/pages/sinks/view/sink.view.component.html
Labels: orb-ui

#2644 fix(orb-ui): Yaml as main and only sink config language
  ui/src/app/pages/sinks/add/sink-add.component.ts
  ui/src/app/pages/sinks/view/sink.view.component.ts
  ui/src/app/shared/components/orb/sink/sink-config/sink-config.component.html
  ui/src/app/shared/components/orb/sink/sink-config/sink-config.component.ts
Labels: orb-ui, typescript

#2645 fixes(orb-ui): Polling stopping | resquest button disabled
  ui/src/app/common/services/orb.service.ts
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.html
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.ts
  ui/src/app/pages/fleet/agents/view/agent.view.component.ts
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.ts
  ui/src/app/pages/profile/profile.component.ts
  ui/src/app/pages/sinks/view/sink.view.component.ts
  ui/src/app/shared/components/orb/agent/agent-information/agent-information.component.ts
  ui/src/app/shared/components/orb/policy/policy-groups/policy-groups.component.scss
  ui/src/app/shared/components/orb/policy/policy-interface/policy-interface.component.scss
Labels: orb-ui, typescript

#2646 fix(orb-ui): V1 Policy View new layout
  ui/src/app/@theme/styles/_overrides.scss
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.html
  ui/src/app/pages/fleet/agents/view/agent.view.component.html
  ui/src/app/pages/fleet/agents/view/agent.view.component.scss
  ui/src/app/shared/components/orb/agent/agent-backends/agent-backends.component.scss
  ui/src/app/shared/components/orb/agent/agent-capabilities/agent-capabilities.component.scss
  ui/src/app/shared/components/orb/agent/agent-groups/agent-groups.component.scss
  ui/src/app/shared/components/orb/agent/agent-information/agent-information.component.scss
  ui/src/app/shared/components/orb/agent/agent-policies-datasets/agent-policies-datasets.component.scss
  ui/src/app/shared/components/orb/agent/agent-provisioning/agent-provisioning.component.scss
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.scss
  ui/src/app/shared/components/orb/policy/policy-details/policy-details.component.html
  ui/src/app/shared/components/orb/policy/policy-details/policy-details.component.scss
  ui/src/app/shared/components/orb/policy/policy-groups/policy-groups.component.scss
  ui/src/app/shared/components/orb/policy/policy-interface/policy-interface.component.scss
Labels: orb-ui

#2649 improvement(orb-ui): #1191 Delete Selected Modal
  ui/src/app/@theme/styles/_overrides.scss
  ui/src/app/pages/datasets/delete/dataset.delete.component.scss
  ui/src/app/pages/datasets/policies.agent/delete/agent.policy.delete.component.scss
  ui/src/app/pages/datasets/policies.agent/duplicate/agent.policy.duplicate.confirmation.scss
  ui/src/app/pages/fleet/agents/delete/agent.delete.component.scss
  ui/src/app/pages/fleet/agents/list/agent.list.component.ts
  ui/src/app/pages/fleet/agents/reset/agent.reset.component.html
  ui/src/app/pages/fleet/agents/reset/agent.reset.component.scss
  ui/src/app/pages/fleet/agents/reset/agent.reset.component.ts
  ui/src/app/pages/fleet/groups/delete/agent.group.delete.component.scss
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.ts
  ui/src/app/pages/sinks/delete/sink.delete.component.scss
  ui/src/app/shared/components/delete/delete.selected.component.html
  ui/src/app/shared/components/delete/delete.selected.component.scss
  ui/src/app/shared/components/delete/delete.selected.component.ts
Labels: orb-ui, typescript

#2619 wip: maestro deployment model
  cmd/maestro/main.go
  cmd/sinker/main.go
  cmd/sinks/main.go
  maestro/config/authentication_builder.go
  maestro/config/config_builder.go
  maestro/config/config_builder_test.go
  maestro/config/service.go
  maestro/deployment/model.go
  maestro/deployment/repository.go
  maestro/deployment/service.go
  maestro/kubecontrol/kubecontrol.go
  maestro/monitor/monitor.go
  maestro/password/password.go
  maestro/password/password_test.go
  maestro/postgres/init.go
  maestro/redis/consumer/hashset.go
  maestro/redis/consumer/sinker.go
  maestro/redis/consumer/sinks.go
  maestro/redis/consumer/streams.go
  maestro/redis/events.go
  maestro/redis/producer/sink_status.go
  maestro/service.go
  maestro/service/deploy_service.go
  pkg/config/config.go
  sinker/backend/backend.go
  sinker/backend/pktvisor/pktvisor.go
  sinker/backend/pktvisor/pktvisor_test.go
  sinker/backend/pktvisor/promwrapper.go
  sinker/backend/pktvisor/types.go
  sinker/config_state_check.go
  sinker/message_handler.go
  sinker/otel/bridgeservice/bridge.go
  sinker/otel/orbreceiver/logs.go
  sinker/otel/orbreceiver/metrics.go
  sinker/otel/orbreceiver/traces.go
  sinker/prometheus/client.go
  sinker/redis/consumer/docs.go
  sinker/redis/consumer/events.go
  sinker/redis/consumer/sink_key_expire.go
  sinker/redis/consumer/streams.go
  sinker/redis/producer/docs.go
  sinker/redis/producer/events.go
  sinker/redis/producer/sink_ttl.go
  sinker/redis/producer/sinker_activity.go
  sinker/redis/producer/sinker_idle.go
  sinker/redis/producer/streams.go
  sinker/redis/setup_test.go
  sinker/redis/sinker.go
  sinker/redis/sinker_test.go
  sinker/service.go
  sinks/redis/consumer/events.go
  sinks/redis/consumer/sink_status_listener.go
  sinks/redis/consumer/streams.go
  sinks/redis/events.go
  sinks/redis/producer/streams.go
  sinks/sinks.go
Labels: golang

#2658 fix(orb-ui): Sink details partial edit
  ui/src/app/pages/sinks/view/sink.view.component.ts
Labels: orb-ui, typescript

#2657 feat(orb-ui): #26 Policy View Tabs
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.html
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.scss
  ui/src/app/pages/sinks/details/sink.details.component.html
  ui/src/app/pages/sinks/view/sink.view.component.html
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.html
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.ts
  ui/src/app/shared/components/orb/policy/policy-interface/policy-interface.component.html
  ui/src/app/shared/components/orb/policy/policy-interface/policy-interface.component.scss
  ui/src/app/shared/components/orb/policy/policy-interface/policy-interface.component.ts
  ui/src/app/shared/components/orb/sink/sink-details/sink-details.component.html
  ui/src/app/shared/components/orb/sink/sink-details/sink-details.component.scss
Labels: orb-ui, typescript

#2659 feat(maestro): adding the subtle pg import.
  maestro/deployment/repository.go
  maestro/postgres/init.go
Labels: golang

#2660 fix:(maestro) migrate query
  maestro/postgres/init.go
Labels: golang

#2661 feat(orb-ui): #1267 Agent View Tabs
  ui/src/app/pages/fleet/agents/view/agent.view.component.html
  ui/src/app/pages/fleet/agents/view/agent.view.component.scss
  ui/src/app/pages/fleet/agents/view/agent.view.component.ts
  ui/src/app/shared/components/orb/agent/agent-backends/agent-backends.component.scss
  ui/src/app/shared/components/orb/agent/agent-groups/agent-groups.component.scss
  ui/src/app/shared/components/orb/agent/agent-provisioning/agent-provisioning.component.html
  ui/src/app/shared/components/orb/agent/agent-provisioning/agent-provisioning.component.scss
  ui/src/app/shared/components/orb/agent/agent-provisioning/agent-provisioning.component.ts
Labels: orb-ui, typescript

#2662 feat(maestro): add observability and logs to new flow on maestro.
  maestro/redis/consumer/sinker.go
  maestro/redis/consumer/sinks.go
  maestro/service.go
  maestro/service/deploy_service.go
  maestro/service/metrics_middleware.go
  sinker/otel/orbreceiver/logs.go
  sinker/otel/orbreceiver/metrics.go
  sinker/otel/orbreceiver/traces.go
Labels: golang

#2664 fix: (maestro) reference for redis streams
  maestro/service.go
Labels: golang

#2663 feat(logs): add more logs to check for errors.
  maestro/deployment/model.go
  maestro/deployment/repository.go
  maestro/deployment/service.go
  maestro/redis/consumer/sinker.go
  maestro/service/deploy_service.go
  sinker/otel/bridgeservice/bridge.go
  sinks/redis/producer/events.go
  sinks/redis/producer/streams.go
Labels: golang

#2665 fix(orb-ui): Minor Adjustments on tabs components
  ui/src/app/@theme/styles/_overrides.scss
  ui/src/app/shared/components/orb/agent/agent-provisioning/agent-provisioning.component.scss
Labels: orb-ui

#2666 fix(maestro): fixes create event flow.
  kind/Chart.lock
  kind/Chart.yaml
  maestro/deployment/service.go
  maestro/service.go
  maestro/service/deploy_service_test.go
  maestro/service/producer_test.go
  maestro/service/repository_test.go
Labels: golang

#2668 fix(maestro): adding backend field on migrate db
  maestro/postgres/init.go
Labels: golang

#2669 fix (maestro): ommiting id once that is default random uuid
  maestro/deployment/repository.go
Labels: golang

#2670 fix (maestro): lastInsertId not necessary
  maestro/deployment/repository.go
Labels: golang

#2667 fix(maestro): adding test cases and fixes logic for handling events
  maestro/config/authentication_builder.go
  maestro/deployment/model.go
  maestro/deployment/service.go
  maestro/service.go
  maestro/service/deploy_service.go
  maestro/service/deploy_service_test.go
  maestro/service/handle_sinker_test.go
  maestro/service/handle_sinks_test.go
  maestro/service/kubectr_test.go
  maestro/service/repository_test.go
Labels: golang

#2671 fix (ci): required step to publish on stg
  .github/workflows/go-develop.yml
Labels: github-actions

#2672 fix(maestro): fixes sink idle event
  maestro/service/deploy_service.go
  maestro/service/handle_sinker_test.go
  maestro/service/handle_sinks_test.go
Labels: golang

#2674 fix(orb-ui): fit height tabs components
  ui/src/app/shared/components/orb/agent/agent-backends/agent-backends.component.scss
  ui/src/app/shared/components/orb/agent/agent-capabilities/agent-capabilities.component.scss
  ui/src/app/shared/components/orb/agent/agent-provisioning/agent-provisioning.component.scss
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.html
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.scss
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.ts
Labels: orb-ui, typescript

#2673 fix(maestro): fix unit tests and flows.
  maestro/deployment/service.go
  maestro/service/deploy_service.go
  maestro/service/handle_sinker_test.go
  maestro/service/handle_sinks_test.go
Labels: golang
