Repository orb-community/orb, pull requests merged in 2023-12, with the labels that each got.

#2841 feat(fleet): fix policy parse in apply agent for otel backend.
  agent/backend/otel/policy.go
  agent/rpc_from.go
  fleet/comms.go
  fleet/comms_rpc.go
  fleet/redis/consumer/streams.go
  policies/api/grpc/client.go
  policies/api/grpc/endpoint.go
  policies/api/grpc/responses.go
  policies/api/http/endpoint.go
  policies/pb/policies.pb.go
  policies/pb/policies.proto
  policies/postgres/policies.go
Labels: golang

#2850 fix(fleet): fix logger no being instantiated.
  cmd/fleet/main.go
  fleet/redis/producer/streams.go
Labels: golang

#2855 fix(labeler): fix config labeler.
  .github/labeler.yml
  .github/workflows/labeler.yaml
Labels: github-actions

#2752 chore: remove refs to deprecated io/ioutil
  agent/backend/diode/utils.go
  agent/backend/pktvisor/utils.go
  agent/cloud_config/cloud_config.go
  cmd/fleet/main.go
  cmd/policies/main.go
  cmd/sinker/main.go
  cmd/sinks/main.go
  sinks/api/http/endpoint_test.go
Labels: golang

#2858 fix(agent): fix agent not updating policies.
  agent/backend/otel/policy.go
  fleet/comms.go
  policies/api/grpc/client.go
  policies/api/grpc/endpoint.go
  policies/api/grpc/server.go
  policies/postgres/policies.go
Labels: golang

#2867 Eng 1512 otel integration tests
  python-test/README.md
  python-test/features/integration_config_file_otel.feature
  python-test/features/integration_config_file_pktvisor.feature
  python-test/features/steps/agent_groups.py
  python-test/features/steps/agents.py
  python-test/features/steps/configs.py
  python-test/features/steps/local_agent.py
  python-test/features/steps/policies.py
  python-test/features/steps/sink.py
Labels: markdown, python

#2868 Test fix
  python-test/features/steps/sink.py
Labels: python

#2870 fix(agent): policy update and remove
  agent/backend/otel/policy.go
Labels: golang

#2869 checking policy version in agent
  python-test/features/integration.feature
  python-test/features/integration_config_file_otel.feature
  python-test/features/steps/agents.py
  python-test/features/steps/policies.py
Labels: python

#2871 fix(agent): change log to debug level, and remove Error on status waiting.
  agent/agent.go
  agent/otel/otlpmqttexporter/otlp.go
Labels: golang

#2876 fix(agent): otel runner - break an infinite loop
  agent/backend/otel/policy.go
Labels: golang

#2879 fix: otel backend integration tests
  python-test/features/integration_config_file_otel.feature
  python-test/features/integration_config_file_pktvisor.feature
  python-test/features/steps/agent_config_file.py
  python-test/features/steps/agents.py
Labels: python

#2877 fix(otel): upgrade to newer version.
  .github/actions/go-lint/Dockerfile
  .github/actions/go-report/Dockerfile
  .github/workflows/agent.yml
  .github/workflows/go-develop.yml
  .github/workflows/go-main.yml
  .github/workflows/go-production.yml
  Makefile
  agent/agent.go
  agent/docker/Dockerfile
  agent/docker/Dockerfile.full
  agent/docker/orb-agent-entry.sh
  agent/docker/run-agent.sh
  docker/Dockerfile
  docker/Dockerfile.debug
  fleet/backend/otel/types.go
  go.mod
  go.sum
  maestro/config/config_builder.go
Labels: github-actions, internal, golang

#2894 fix(sinks): prevent circular config metadata encryption
  sinks/mocks/sinks.go
  sinks/sinks_service.go
  sinks/sinks_service_test.go
Labels: golang

#2895 fix(sinks): decrypt metadata only if password is encrypted
  sinks/api/http/endpoint_test.go
  sinks/sinks_service.go
Labels: golang

#2908 removing test resources in parallel
  python-test/features/steps/agent_groups.py
  python-test/features/steps/agents.py
  python-test/features/steps/local_agent.py
  python-test/features/steps/policies.py
  python-test/features/steps/sink.py
Labels: test
