Repository orb-community/orb, pull requests merged in 2023-07, with the labels that each got.

#2486 fix(maestro): add sink id to error message
  maestro/config/config_builder.go
Labels: golang

#2476 fix(sinker): re-add the agentName in the scope attribute 'agent'
  sinker/message_handler.go
  sinker/otel/orbreceiver/metrics.go
Labels: golang

#2488 feat(sinker): add policy name and id to scope metrics.
  cmd/sinker/main.go
  go.mod
  go.sum
  maestro/redis/consumer/hashset.go
  pkg/config/config.go
  sinker/otel/bridgeservice/bridge.go
  sinker/otel/orbreceiver/logs.go
  sinker/otel/orbreceiver/metrics.go
  sinker/otel/orbreceiver/traces.go
  sinker/service.go
Labels: golang

#2492 [ENG-166] Create sink error message
  fleet/api/http/transport.go
  pkg/errors/types.go
  pkg/types/maps.go
  sinks/api/http/endpoint.go
  sinks/api/http/endpoint_test.go
  sinks/api/http/requests.go
  sinks/api/http/transport.go
  sinks/authentication_type/basicauth/authentication.go
  sinks/backend/otlphttpexporter/configuration.go
  sinks/backend/prometheus/configuration.go
  sinks/sinks_service.go
Labels: golang

#2499 fix(sinker): add ownerID to policy call.
  sinker/otel/bridgeservice/bridge.go
  sinker/otel/orbreceiver/logs.go
  sinker/otel/orbreceiver/metrics.go
  sinker/otel/orbreceiver/traces.go
Labels: golang

#2500 fix(sinks): overall sinks fixes with custom headers and a few sanity tests fixes
  maestro/config/exporter_builder.go
  maestro/config/types.go
  sinker/config/types.go
  sinker/config_state_check.go
  sinker/message_handler.go
  sinker/redis/consumer/streams.go
  sinker/redis/sinker_test.go
  sinks/backend/otlphttpexporter/configuration.go
  sinks/backend/prometheus/configuration.go
  sinks/sinks_service.go
Labels: golang

#2507 fix(orb-ui) All list pages, Add resizeble columns
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.html
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.ts
  ui/src/app/pages/fleet/agents/list/agent.list.component.html
  ui/src/app/pages/fleet/agents/list/agent.list.component.ts
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.html
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.ts
  ui/src/app/pages/sinks/list/sink.list.component.html
  ui/src/app/pages/sinks/list/sink.list.component.ts
Labels: orb-ui, typescript

#2506 fix(orb-ui): sink list, add sink view button on the sink name cell
  ui/src/app/pages/sinks/list/sink.list.component.html
  ui/src/app/pages/sinks/list/sink.list.component.scss
Labels: orb-ui

#2505 fix(orb-ui): only expose last error field when the agent is recovery
  ui/src/app/shared/components/orb/agent/agent-backends/agent-backends.component.html
Labels: orb-ui

#2501 fix: smoke and sanity integration tests are failing.
  agent/backend/pktvisor/scrape.go
  maestro/config/config_builder.go
  maestro/kubecontrol/kubecontrol.go
  maestro/monitor/monitor.go
  maestro/redis/consumer/hashset.go
  maestro/service.go
  sinker/otel/bridgeservice/bridge.go
  sinker/redis/consumer/events.go
  sinker/redis/consumer/streams.go
  sinker/redis/sinker.go
  sinks/redis/producer/events.go
  sinks/sinks_service.go
Labels: golang

#2513 fix(orb-ui): On active datasets table, add resizeable columns
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.html
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.ts
Labels: orb-ui, typescript

#2514 fix(orb-ui): #900 On sink details modal, uptade fields to the new sink json
  ui/src/app/pages/sinks/details/sink.details.component.html
  ui/src/app/pages/sinks/details/sink.details.component.ts
Labels: orb-ui, typescript

#2509 fix(orb-ui): On active policies, add max width for policy name
  ui/src/app/shared/components/orb/agent/agent-policies-datasets/agent-policies-datasets.component.html
  ui/src/app/shared/components/orb/agent/agent-policies-datasets/agent-policies-datasets.component.scss
Labels: orb-ui

#2518 fix(orb-ui): On view sink, fix cards width
  ui/src/app/pages/sinks/view/sink.view.component.scss
  ui/src/app/shared/components/orb/sink/sink-config/sink-config.component.scss
Labels: orb-ui

#2517 fix(maestro): not being able to create deployment entries from database at startup.
  maestro/redis/consumer/hashset.go
  maestro/redis/consumer/streams.go
  maestro/service.go
Labels: golang

#2520 fix(orb-ui) On active policies, width for low resolutions
  ui/src/app/shared/components/orb/agent/agent-policies-datasets/agent-policies-datasets.component.html
  ui/src/app/shared/components/orb/agent/agent-policies-datasets/agent-policies-datasets.component.scss
Labels: orb-ui

#2519 fix(orb-ui): #78 On agent view, remove error message when a deleted dataset is not found
  ui/src/app/common/services/dataset/dataset.policies.service.ts
  ui/src/app/shared/components/orb/agent/agent-policies-datasets/agent-policies-datasets.component.ts
Labels: orb-ui, typescript

#2531 fix(orb-ui): #59 policy states colors
  ui/src/app/pages/fleet/agents/list/agent.list.component.scss
Labels: orb-ui

#2530 fix(orb-ui): #119 sinks states colors
  ui/src/app/pages/sinks/list/sink.list.component.scss
  ui/src/app/shared/components/orb/sink/sink-details/sink-details.component.scss
Labels: orb-ui

#2529 fix(orb-ui) On backends card, add state colors
  ui/src/app/shared/components/orb/agent/agent-backends/agent-backends.component.html
  ui/src/app/shared/components/orb/agent/agent-backends/agent-backends.component.scss
Labels: orb-ui

#2527 feat(sinker): add redundancy to create redis entry when notify active sink.
  VERSION
  python-test/requirements.txt
  sinker/otel/bridgeservice/bridge.go
  sinker/otel/orbreceiver/metrics.go
  sinker/service.go
Labels: golang

#2532 fix(orb-ui) On add agent, policy, group. messages for invalid names
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
  ui/src/app/pages/fleet/agents/add/agent.add.component.html
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.html
Labels: orb-ui

#2533 fix(orb-ui): On edit policy, fix pattern message
  ui/src/app/shared/components/orb/policy/policy-details/policy-details.component.html
Labels: orb-ui

#2537 fix(orb-ui): uptade sink states colors on delete selected modal
  ui/src/app/shared/components/delete/delete.selected.component.scss
Labels: orb-ui

#2534 fix(orb-ui): idle sink color
  ui/src/app/pages/sinks/list/sink.list.component.scss
  ui/src/app/shared/components/orb/sink/sink-details/sink-details.component.scss
Labels: orb-ui

#2536 fix(orb-ui): Notification service stops working after open agent view
  ui/src/app/pages/fleet/agents/view/agent.view.component.ts
Labels: orb-ui, typescript

#2540 improvements(orb-ui): provisioning command copy button adjustments
  ui/src/app/pages/fleet/agents/key/agent.key.component.html
  ui/src/app/pages/fleet/agents/key/agent.key.component.ts
  ui/src/app/shared/components/orb/agent/agent-provisioning/agent-provisioning.component.html
  ui/src/app/shared/components/orb/agent/agent-provisioning/agent-provisioning.component.scss
  ui/src/app/shared/components/orb/agent/agent-provisioning/agent-provisioning.component.ts
Labels: orb-ui, typescript

#2539 fix(orb-ui): Adjustments on forms create edit sink
  ui/src/app/shared/components/orb/sink/sink-details/sink-details.component.html
Labels: orb-ui

#2538 fix(orb-ui) Update side menu when change pages
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.ts
  ui/src/app/pages/fleet/agents/view/agent.view.component.ts
  ui/src/app/pages/pages-menu.ts
  ui/src/app/pages/sinks/view/sink.view.component.ts
Labels: orb-ui, typescript
