Repository orb-community/orb, pull requests merged in 2023-04, with the labels that each got.

#2309 Orb 208 fix
  ui/src/app/pages/datasets/dataset-from/dataset-from.component.html
  ui/src/app/pages/datasets/dataset-from/dataset-from.component.scss
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
  ui/src/app/pages/sinks/add/sink.add.component.html
Labels: orb-ui

#2310 fix #208
  ui/src/app/@theme/styles/themes.scss
  ui/src/app/pages/datasets/dataset-from/dataset-from.component.scss
  ui/src/app/shared/components/orb/sink-control/sink-control.component.scss
Labels: orb-ui

#2289 feat(orb-ui): #722 remove orb otel enable
  ui/src/app/pages/fleet/agents/key/agent.key.component.ts
  ui/src/app/shared/components/orb/agent/agent-provisioning/agent-provisioning.component.ts
Labels: orb-ui

#2329 removing sink status check of flow without metrics
  python-test/features/integration.feature
  python-test/features/integration_config_file.feature
Labels: test

#2332 remove not necessary policy track
  agent/otel/otlpmqttexporter/otlp.go
Labels: bug

#2333 Add orb specific data on scope metrics attributes and not on each metric attributes
  agent/otel/otlpmqttexporter/otlp.go
  sinker/otel/orbreceiver/otlp.go
Labels: opentelemetry

#2338 fix(feat): #215 add the policy status in the matching agents model
  ui/src/app/@theme/styles/_overrides.scss
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.html
  ui/src/app/pages/fleet/agents/match/agent.match.component.html
  ui/src/app/pages/fleet/agents/match/agent.match.component.ts
  ui/src/app/shared/components/orb/policy/policy-groups/policy-groups.component.ts
Labels: orb-ui

#2312 fix(orb-ui): #162 matching agent displayed instead of group details
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.html
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.ts
Labels: orb-ui
