Repository orb-community/orb, pull requests merged in 2023-08, with the labels that each got.

#2550 fix(sinks): fix otlphttp sinks not being created when sent as yaml
  go.sum
  otelcollector/README.md
  otelcollector/otel-col-multi.md
  sinks/backend/otlphttpexporter/configuration.go
  sinks/sinks_internal_test.go
  sinks/sinks_service.go
Labels: orb-sink, golang, markdown

#2551 feat(orb-ui): yaml support create/update sink
  ui/package.json
  ui/src/app/common/interfaces/orb/sink.interface.ts
  ui/src/app/pages/sinks/add/sink-add.component.html
  ui/src/app/pages/sinks/add/sink-add.component.ts
  ui/src/app/pages/sinks/view/sink.view.component.ts
  ui/src/app/shared/components/orb/sink/sink-config/sink-config.component.html
  ui/src/app/shared/components/orb/sink/sink-config/sink-config.component.scss
  ui/src/app/shared/components/orb/sink/sink-config/sink-config.component.ts
  ui/src/app/shared/components/orb/sink/sink-details/sink-details.component.html
Labels: orb-ui, javascript, json, typescript

#2560 fix(orb-ui): partial update validation
  ui/src/app/pages/sinks/view/sink.view.component.ts
Labels: orb-ui, typescript

#2561 fix(eng-984): improve scroolbar colors
  ui/src/app/@theme/styles/_overrides.scss
Labels: orb-ui

#2562 fix(eng 995): Breadcrumbs being lost after refresh
  ui/src/app/app.component.ts
Labels: orb-ui, typescript

#2563 fix(orb-ui): sink view breadcrumb styles
  ui/src/app/pages/sinks/add/sink-add.component.scss
  ui/src/app/pages/sinks/view/sink.view.component.scss
  ui/src/app/shared/components/orb/sink/sink-config/sink-config.component.scss
  ui/src/app/shared/components/orb/sink/sink-details/sink-details.component.scss
Labels: orb-ui

#2564 fix(orb-ui): Cards margins changes after page refresh
  ui/src/app/@theme/styles/_overrides.scss
  ui/src/app/pages/dashboard/dashboard.component.scss
Labels: orb-ui

#2570 fix(orb-ui): sink view components positioning improvements
  ui/src/app/pages/sinks/add/sink-add.component.html
  ui/src/app/pages/sinks/add/sink-add.component.scss
  ui/src/app/pages/sinks/view/sink.view.component.html
  ui/src/app/pages/sinks/view/sink.view.component.scss
  ui/src/app/shared/components/orb/sink/sink-config/sink-config.component.scss
  ui/src/app/shared/components/orb/sink/sink-details/sink-details.component.scss
  ui/src/app/shared/components/orb/tag-control/tag-control.component.html
Labels: orb-ui

#2571 improvement(orb-ui): tags styles according to figma
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.html
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.scss
  ui/src/app/pages/fleet/agents/list/agent.list.component.html
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.html
  ui/src/app/pages/sinks/list/sink.list.component.html
  ui/src/app/shared/components/orb/tag-control/tag-control.component.html
  ui/src/app/shared/components/orb/tag-display/tag-display.component.html
  ui/src/app/shared/components/orb/tag-display/tag-display.component.scss
  ui/src/app/shared/pipes/tag-color.pipe.ts
Labels: orb-ui, typescript

#2572 improvement(orb-ui): Agent view, improve header state
  ui/src/app/pages/fleet/agents/view/agent.view.component.html
  ui/src/app/pages/fleet/agents/view/agent.view.component.scss
Labels: orb-ui

#2573 feat(orb-ui): #1031 edit option on Agent View
  ui/src/app/@theme/styles/_overrides.scss
  ui/src/app/pages/fleet/agents/view/agent.view.component.html
  ui/src/app/pages/fleet/agents/view/agent.view.component.ts
  ui/src/app/shared/components/orb/agent/agent-information/agent-information.component.html
  ui/src/app/shared/components/orb/agent/agent-information/agent-information.component.scss
  ui/src/app/shared/components/orb/agent/agent-information/agent-information.component.ts
Labels: orb-ui, typescript

#2574 fix(orb-ui): #1022 add profile and log out icons
  ui/src/app/@theme/components/header/header.component.ts
Labels: orb-ui, typescript

#2579 improvement(orb-ui): include delete button on view pages
  ui/src/app/@theme/styles/_overrides.scss
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.html
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.html
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.ts
  ui/src/app/pages/fleet/agents/list/agent.list.component.html
  ui/src/app/pages/fleet/agents/view/agent.view.component.html
  ui/src/app/pages/fleet/agents/view/agent.view.component.ts
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.html
  ui/src/app/pages/sinks/list/sink.list.component.html
  ui/src/app/pages/sinks/view/sink.view.component.html
  ui/src/app/pages/sinks/view/sink.view.component.ts
  ui/src/app/shared/components/orb/agent/agent-information/agent-information.component.html
  ui/src/app/shared/components/orb/agent/agent-information/agent-information.component.scss
  ui/src/app/shared/components/orb/policy/policy-details/policy-details.component.html
  ui/src/app/shared/components/orb/policy/policy-interface/policy-interface.component.html
  ui/src/app/shared/components/orb/sink/sink-config/sink-config.component.html
  ui/src/app/shared/components/orb/sink/sink-config/sink-config.component.scss
  ui/src/app/shared/components/orb/sink/sink-details/sink-details.component.html
  ui/src/app/shared/components/orb/sink/sink-details/sink-details.component.ts
Labels: orb-ui, typescript

#2580 improvement(orb-ui): #1064 Sink View header
  ui/src/app/@theme/styles/_overrides.scss
  ui/src/app/pages/sinks/view/sink.view.component.html
  ui/src/app/pages/sinks/view/sink.view.component.scss
  ui/src/app/pages/sinks/view/sink.view.component.ts
  ui/src/app/shared/components/orb/sink/sink-config/sink-config.component.scss
  ui/src/app/shared/components/orb/sink/sink-details/sink-details.component.scss
Labels: orb-ui, typescript

#2581 fix(orb-ui): #1070 disable PUT button to unchanged elements, and block multiple requests
  ui/src/app/pages/datasets/dataset-from/dataset-from.component.html
  ui/src/app/pages/datasets/dataset-from/dataset-from.component.ts
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.ts
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.html
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.ts
  ui/src/app/pages/fleet/agents/add/agent.add.component.html
  ui/src/app/pages/fleet/agents/add/agent.add.component.ts
  ui/src/app/pages/fleet/agents/list/agent.list.component.html
  ui/src/app/pages/fleet/agents/list/agent.list.component.ts
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.html
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.ts
  ui/src/app/pages/sinks/add/sink-add.component.html
  ui/src/app/pages/sinks/add/sink-add.component.ts
  ui/src/app/pages/sinks/view/sink.view.component.html
  ui/src/app/pages/sinks/view/sink.view.component.ts
  ui/src/app/shared/components/orb/agent/agent-information/agent-information.component.html
  ui/src/app/shared/components/orb/agent/agent-information/agent-information.component.scss
  ui/src/app/shared/components/orb/agent/agent-information/agent-information.component.ts
Labels: orb-ui, typescript

#2582 improvement(orb-ui): #1079 add 100% grid and styles on sink view components
  ui/src/app/pages/sinks/view/sink.view.component.html
  ui/src/app/pages/sinks/view/sink.view.component.scss
  ui/src/app/shared/components/orb/sink/sink-config/sink-config.component.scss
  ui/src/app/shared/components/orb/sink/sink-details/sink-details.component.scss
Labels: orb-ui

#2583 emprovement(orb-ui): #1078 ux/ui tag control component
  ui/src/app/shared/components/orb/tag-control/tag-control.component.html
  ui/src/app/shared/components/orb/tag-control/tag-control.component.scss
Labels: orb-ui

#2584 fix(orb-ui): styles being lost on confirmation modals
  ui/src/app/@theme/styles/_overrides.scss
  ui/src/app/pages/datasets/policies.agent/delete/agent.policy.delete.component.scss
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.html
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.scss
  ui/src/app/pages/fleet/agents/delete/agent.delete.component.scss
  ui/src/app/pages/fleet/agents/list/agent.list.component.html
  ui/src/app/pages/fleet/agents/list/agent.list.component.scss
  ui/src/app/pages/fleet/groups/delete/agent.group.delete.component.scss
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.html
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.scss
  ui/src/app/pages/sinks/delete/sink.delete.component.scss
  ui/src/app/pages/sinks/list/sink.list.component.html
  ui/src/app/pages/sinks/list/sink.list.component.scss
  ui/src/app/shared/components/delete/delete.selected.component.html
Labels: orb-ui

#2585 feat(orb-ui): #30 include file config command on agent credentials window
  ui/src/app/pages/fleet/agents/key/agent.key.component.html
  ui/src/app/pages/fleet/agents/key/agent.key.component.scss
  ui/src/app/pages/fleet/agents/key/agent.key.component.ts
Labels: orb-ui, typescript

#2587 improvement(orb-ui): #1088 add 100% grid Add Sink page
  ui/src/app/pages/sinks/add/sink-add.component.html
  ui/src/app/pages/sinks/add/sink-add.component.scss
Labels: orb-ui

#2588 fix(orb-ui): #1098 Users can't redo CREATE request after a error
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.ts
  ui/src/app/pages/fleet/agents/add/agent.add.component.ts
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.ts
  ui/src/app/pages/sinks/add/sink-add.component.ts
Labels: orb-ui, typescript

#2589 feat(maestro): fix probable nil reference error.
  maestro/redis/consumer/hashset.go
Labels: golang

#2596 fix(orb-ui): #1096 Update Matching agent styles
  ui/src/app/@theme/styles/_overrides.scss
  ui/src/app/pages/fleet/agents/match/agent.match.component.html
Labels: orb-ui

#2595 fix(orb-ui): #124 center align agent key
  ui/src/app/pages/fleet/agents/key/agent.key.component.scss
Labels: orb-ui

#2601 improvement(orb-ui): #1095 Add Group page style and design
  ui/src/app/@theme/styles/_overrides.scss
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.scss
  ui/src/app/pages/fleet/agents/add/agent.add.component.html
  ui/src/app/pages/fleet/agents/add/agent.add.component.scss
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.html
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.scss
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.ts
  ui/src/app/pages/fleet/groups/details/agent.group.details.component.html
  ui/src/app/pages/fleet/groups/details/agent.group.details.component.scss
  ui/src/app/shared/components/orb/tag-control/tag-control.component.scss
Labels: orb-ui, typescript

#2602 fix(orb-ui): Adjustments on agent key window, command with config file
  ui/src/app/pages/dashboard/dashboard.component.scss
  ui/src/app/pages/fleet/agents/key/agent.key.component.html
  ui/src/app/pages/fleet/agents/key/agent.key.component.scss
Labels: orb-ui

#2600 fix(maestro): increase log tail on otel-collectors.
  maestro/monitor/monitor.go
Labels: golang
