Repository orb-community/orb, pull requests merged in 2023-11, with the labels that each got.

#2789 feat(orb-ui): New active filters list
  ui/src/app/@theme/styles/_overrides.scss
  ui/src/app/app.module.ts
  ui/src/app/common/services/filter.service.ts
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.scss
  ui/src/app/pages/fleet/agents/list/agent.list.component.html
  ui/src/app/pages/fleet/agents/list/agent.list.component.scss
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.scss
  ui/src/app/pages/pages.module.ts
  ui/src/app/pages/sinks/list/sink.list.component.scss
  ui/src/app/shared/components/filter/filter.component.html
  ui/src/app/shared/components/filter/filter.component.scss
  ui/src/app/shared/components/filter/filter.component.ts
  ui/src/app/shared/pipes/param-format.pipe.ts
  ui/src/app/shared/shared.module.ts
Labels: orb-ui, typescript

#2791 fix(orb-ui): #1463 Update Config File
  ui/src/app/pages/fleet/agents/key/agent.key.component.html
  ui/src/app/pages/fleet/agents/key/agent.key.component.ts
  ui/src/app/shared/components/orb/agent/agent-provisioning/agent-provisioning.component.html
  ui/src/app/shared/components/orb/agent/agent-provisioning/agent-provisioning.component.ts
Labels: orb-ui, typescript

#2793 improvement(orb-ui): Ui tables, better resizeable cells width
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.ts
  ui/src/app/pages/fleet/agents/list/agent.list.component.ts
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.ts
  ui/src/app/pages/sinks/list/sink.list.component.ts
Labels: orb-ui, typescript

#2792 hotfix(orb-ui): Change yaml/json buttons position
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
  ui/src/app/pages/fleet/agents/reset/agent.reset.component.html
Labels: orb-ui

#2794 feat(orb-ui): #1465 Url state for tabs in agent view and policy view
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.html
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.scss
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.ts
  ui/src/app/pages/fleet/agents/view/agent.view.component.html
  ui/src/app/pages/fleet/agents/view/agent.view.component.scss
  ui/src/app/pages/fleet/agents/view/agent.view.component.ts
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.ts
Labels: orb-ui, typescript

#2795 fix(orb-ui): Sink tags not being expose in filter suggestion
  ui/src/app/common/services/orb.service.ts
Labels: orb-ui, typescript

#2796 fix(orb-ui): Apply filter on ENTER
  ui/src/app/shared/components/filter/filter.component.ts
Labels: orb-ui, typescript

#2798 fix(orb-ui): Active filters list overflow
  ui/src/app/shared/components/filter/filter.component.html
  ui/src/app/shared/components/filter/filter.component.scss
  ui/src/app/shared/components/filter/filter.component.ts
Labels: orb-ui, typescript

#2797 fix(orb-ui): # 1411 Expose pattern errors
  ui/src/app/pages/sinks/add/sink-add.component.html
  ui/src/app/pages/sinks/add/sink-add.component.ts
  ui/src/app/shared/components/orb/policy/policy-details/policy-details.component.html
  ui/src/app/shared/components/orb/sink/sink-details/sink-details.component.html
  ui/src/app/shared/components/orb/sink/sink-details/sink-details.component.ts
Labels: orb-ui, typescript

#2799 Block sink config while backend not selected
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.ts
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.ts
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.ts
  ui/src/app/pages/fleet/agents/list/agent.list.component.ts
  ui/src/app/pages/fleet/agents/match/agent.match.component.html
  ui/src/app/pages/fleet/agents/view/agent.view.component.ts
  ui/src/app/pages/fleet/groups/add/agent.group.add.component.html
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.ts
  ui/src/app/pages/sinks/add/sink-add.component.html
  ui/src/app/pages/sinks/add/sink-add.component.ts
  ui/src/app/pages/sinks/list/sink.list.component.ts
  ui/src/app/pages/sinks/view/sink.view.component.ts
  ui/src/app/shared/components/orb/agent/agent-backends/agent-backends.component.scss
  ui/src/app/shared/components/orb/agent/agent-capabilities/agent-capabilities.component.scss
  ui/src/app/shared/components/orb/agent/agent-information/agent-information.component.scss
  ui/src/app/shared/components/orb/sink/sink-config/sink-config.component.html
  ui/src/app/shared/components/orb/sink/sink-config/sink-config.component.scss
  ui/src/app/shared/components/orb/sink/sink-config/sink-config.component.ts
  ui/src/app/shared/components/orb/sink/sink-details/sink-details.component.ts
  ui/src/app/shared/components/orb/tag-control/tag-control.component.html
Labels: orb-ui, typescript

#2800 feat(orb-ui): Multi Select option for tag filters
  ui/src/app/common/interfaces/orb/filter-option.ts
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.ts
  ui/src/app/pages/fleet/agents/list/agent.list.component.ts
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.ts
  ui/src/app/pages/sinks/list/sink.list.component.ts
  ui/src/app/shared/components/filter/filter.component.html
  ui/src/app/shared/components/filter/filter.component.scss
  ui/src/app/shared/components/filter/filter.component.ts
  ui/src/app/shared/components/orb/sink/sink-details/sink-details.component.ts
Labels: orb-ui, typescript

#2780 feat(backend): add opentelemetry backend in orb-agent, policies.
  .gitignore
  .idea/runConfigurations/orb_agent_visor.xml
  Makefile
  agent/agent.go
  agent/backend/backend.go
  agent/backend/diode/diode.go
  agent/backend/diode/scrape.go
  agent/backend/otel/comms.go
  agent/backend/otel/exporter_builder.go
  agent/backend/otel/exporter_builder_test.go
  agent/backend/otel/otel.go
  agent/backend/otel/policy.go
  agent/backend/otel/scrape.go
  agent/backend/pktvisor/pktvisor.go
  agent/backend/pktvisor/policy.go
  agent/backend/pktvisor/scrape.go
  agent/comms.go
  agent/docker/Dockerfile.full
  agent/docker/agent_default_full.yaml
  agent/otel/otlpmqttexporter/factory.go
  agent/otel/otlpmqttexporter/otlp.go
  cmd/agent/main.go
  cmd/fleet/main.go
  fleet/backend/otel/endpoint.go
  fleet/backend/otel/otel.go
  fleet/backend/otel/requests.go
  fleet/backend/otel/responses.go
  fleet/backend/otel/transport.go
  fleet/backend/otel/types.go
  go.mod
  go.sum
  maestro/config/config_builder.go
  policies/api/grpc/endpoint.go
  policies/api/grpc/setup_test.go
  policies/api/http/endpoint_test.go
  policies/backend/otel/otel.go
  policies/policy_service_test.go
  policies/service.go
  python-test/.gitignore
  sinker/otel/orbreceiver/logs.go
  sinker/otel/orbreceiver/metrics.go
  sinker/otel/orbreceiver/otlp.go
  sinker/otel/orbreceiver/traces.go
Labels: enhancement, orb-agent, orb-policy, Epic, opentelemetry, internal, golang

#2805 feat(orb-ui): Otel backend UI updates
  ui/src/app/@theme/styles/_overrides.scss
  ui/src/app/common/interfaces/orb/agent.policy.interface.ts
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.scss
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.ts
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.html
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.ts
  ui/src/app/shared/components/orb/agent/agent-information/agent-information.component.scss
  ui/src/app/shared/components/orb/agent/agent-provisioning/agent-provisioning.component.scss
  ui/src/app/shared/components/orb/sink/sink-config/sink-config.component.ts
  ui/src/app/shared/configurations/configurations.ts
Labels: orb-ui, typescript

#2819 fix(orb-ui): Tags polling conflict in edit mode
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.ts
  ui/src/app/pages/sinks/view/sink.view.component.ts
Labels: orb-ui, typescript

#2818 feat(agent): allow otel to have multiples policies, but disable telemetry in each otel-backend policy running.
  agent/backend/otel/exporter_builder.go
  agent/backend/otel/exporter_builder_test.go
  agent/backend/otel/policy.go
Labels: golang

#2770 hotfix(orb-ui): update OTLP HTTP string
  ui/src/app/common/interfaces/orb/sink.interface.ts
Labels: orb-ui, typescript

#2822 fix(orb-ui): small fixes
  ui/src/app/@theme/styles/_overrides.scss
  ui/src/app/common/services/agents/agents.service.ts
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.scss
  ui/src/app/shared/configurations/configurations.ts
Labels: typescript

#2823 fix(orb-ui): Expose HTTP error name
  ui/package.json
  ui/src/app/common/services/agents/agent.groups.service.ts
  ui/src/app/common/services/agents/agent.policies.service.ts
  ui/src/app/common/services/agents/agents.service.ts
  ui/src/app/common/services/bootstrap/bootstrap.service.ts
  ui/src/app/common/services/dataset/dataset.policies.service.ts
  ui/src/app/common/services/fleets/fleets.service.ts
  ui/src/app/common/services/http-codes.ts
  ui/src/app/common/services/sinks/sinks.service.ts
  ui/src/app/common/services/things/things.service.ts
  ui/src/app/common/services/users/groups.service.ts
  ui/src/app/common/services/users/users.service.ts
  ui/src/app/shared/configurations/configurations.ts
Labels: orb-ui, javascript, json, typescript

#2824 fix(orb-ui): remove opentelemetry field & make backend required
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
  ui/src/app/shared/configurations/configurations.ts
Labels: orb-ui, typescript

#2820 fix(agent): fixing port overriding if not set unless always setting.
  agent/backend/otel/vars.go
  agent/backend/pktvisor/vars.go
  agent/otel/otlpmqttexporter/otlp.go
  cmd/agent/main.go
  python-test/features/integration.feature
Labels: golang

#2826 fix(tests): add nil safe check for running status.
  agent/backend/pktvisor/utils.go
Labels: bug, golang

#2825 fix(orb-ui): Include empty diode config schema
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.ts
  ui/src/app/shared/components/orb/sink/sink-config/sink-config.component.ts
  ui/src/app/shared/configurations/configurations_schemas.ts
Labels: orb-ui, typescript

#2828 fix(orb-ui): User not able to log in after token being expired
  ui/src/app/auth/auth.token.interceptor.service.ts
  ui/src/app/common/services/orb.service.ts
Labels: orb-ui, typescript

#2830 fix(agent): add port logs.
  agent/backend/pktvisor/pktvisor.go
Labels: golang

#2831 fix(agent): pktvisor + otel backends
  agent/backend/otel/scrape.go
  agent/backend/otel/vars.go
  agent/backend/pktvisor/scrape.go
  agent/backend/pktvisor/vars.go
  agent/otel/otlpmqttexporter/factory.go
  cmd/agent/main.go
Labels: golang
