Repository orb-community/orb, pull requests merged in 2023-06, with the labels that each got.

#2393 feat(eng-170): new policy attribute "Usage"
  ui/src/app/common/interfaces/orb/agent.policy.interface.ts
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.html
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.scss
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.ts
Labels: orb-ui

#2397 feat(orb-ui): Orb ui support for Otlp Sinks
  ui/src/app/common/interfaces/orb/sink.interface.ts
  ui/src/app/common/interfaces/orb/sink/config/otlp.config.interface.ts
  ui/src/app/pages/sinks/add/sink-add.component.html
  ui/src/app/pages/sinks/add/sink-add.component.ts
  ui/src/app/pages/sinks/view/sink.view.component.ts
  ui/src/app/shared/components/orb/sink/sink-config/sink-config.component.ts
  ui/src/app/shared/components/orb/sink/sink-details/sink-details.component.html
  ui/src/app/shared/components/orb/sink/sink-details/sink-details.component.ts
Labels: orb-ui

#2398 fix(orb-ui): card size improvements sink view
  ui/src/app/pages/sinks/add/sink-add.component.html
  ui/src/app/pages/sinks/add/sink-add.component.scss
  ui/src/app/shared/components/orb/sink/sink-config/sink-config.component.scss
  ui/src/app/shared/components/orb/sink/sink-details/sink-details.component.scss
Labels: orb-ui

#2405 Test/eng 567 sinks new schema format
  python-test/features/steps/control_plane_sink.py
  python-test/features/steps/schemas/sink_schema.json
Labels: test

#2409 Fix(sinks): config return empty
  sinks/api/http/endpoint.go
Labels: golang

#2411 feat(orb-ui): Agent View, checkboxes in the table and multiples reset requests
  ui/src/app/pages/fleet/agents/list/agent.list.component.html
  ui/src/app/pages/fleet/agents/list/agent.list.component.scss
  ui/src/app/pages/fleet/agents/list/agent.list.component.ts
  ui/src/app/pages/fleet/agents/reset/agent.reset.component.html
  ui/src/app/pages/fleet/agents/reset/agent.reset.component.scss
  ui/src/app/pages/fleet/agents/reset/agent.reset.component.ts
  ui/src/app/pages/pages.module.ts
Labels: orb-ui, typescript

#2412 fix(orb-ui): few adjustments policy list
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.html
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.ts
Labels: orb-ui, typescript

#2413 feat(fleet): add agent metadata to get all agents to display version.
  fleet/api/http/endpoint.go
Labels: golang

#2415 feat(orb-ui): expose the orb version on agent list page
  ui/src/app/pages/fleet/agents/list/agent.list.component.html
  ui/src/app/pages/fleet/agents/list/agent.list.component.ts
Labels: orb-ui, typescript

#2416 feat(orb-ui): #686 list of the elements to be delete in the confirmation modal
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.ts
  ui/src/app/pages/fleet/agents/list/agent.list.component.ts
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.ts
  ui/src/app/pages/sinks/list/sink.list.component.ts
  ui/src/app/shared/components/delete/delete.selected.component.html
  ui/src/app/shared/components/delete/delete.selected.component.scss
  ui/src/app/shared/components/delete/delete.selected.component.ts
Labels: orb-ui, typescript

#2420 fix: remove useless files
  orb_tests/chromedriver.log
  orb_tests/nightwatch.conf.js
  orb_tests/package-lock.json
  orb_tests/package.json
  orb_tests/page_objects/accountRegister.js
  orb_tests/page_objects/agent_groups.js
  orb_tests/page_objects/agents.js
  orb_tests/page_objects/login.js
  orb_tests/page_objects/register.js
  orb_tests/page_objects/sinks.js
  orb_tests/page_objects/topbar.js
  orb_tests/tests/agents/1goToAgentsPage.js
  orb_tests/tests/agents/2agent_page.js
  orb_tests/tests/agents/3newAgent.js
  orb_tests/tests/agents/4agentsVisualization.js
  orb_tests/tests/agents/5agentEdit.js
  orb_tests/tests/agents/9agentsDelete.js
  orb_tests/tests/agents_groups/1goToAgentGroupPage.js
  orb_tests/tests/agents_groups/2list-view.js
  orb_tests/tests/agents_groups/3newAgentWithDescription.js
  orb_tests/tests/agents_groups/4newAgentGroupsWithoutDescription.js
  orb_tests/tests/agents_groups/5agentGroupVisualization.js
  orb_tests/tests/agents_groups/6agentGroupEdit.js
  orb_tests/tests/agents_groups/7removeAgentGroup.js
  orb_tests/tests/agents_groups/new_refactor.js
  orb_tests/tests/login/1invalid_regex_email.js
  orb_tests/tests/login/2layout.js
  orb_tests/tests/login/3password_length.js
  orb_tests/tests/login/4password_required.js
  orb_tests/tests/login/5successful.js
  orb_tests/tests/login/6without_email.js
  orb_tests/tests/login/7wrong_combination.js
  orb_tests/tests/register/creatAccount.js
  orb_tests/tests/sinks/1goToSinkPage.js
  orb_tests/tests/sinks/2newSink.js
  orb_tests/tests/sinks/3duplicateSink.js
  orb_tests/tests/sinks/4sinkVisualization.js
  orb_tests/tests/sinks/5sinkVisualizationAndEditDesc.js
  orb_tests/tests/sinks/6sinkVisuAndEditRH.js
  orb_tests/tests/sinks/7sinkVisualizationAndEditPass.js
  orb_tests/tests/sinks/8sinkVisuAndEditTags.js
  orb_tests/tests/sinks/90sinkVisuAndEditUsername.js
  orb_tests/tests/sinks/91sinkEditDescription.js
  orb_tests/tests/sinks/92sinkEditRH.js
  orb_tests/tests/sinks/93sinkEditUsername.js
  orb_tests/tests/sinks/94sinkEditPassword.js
  orb_tests/tests/sinks/95sinkEditTags.js
  orb_tests/tests/sinks/96sinkEditAll.js
  orb_tests/tests/sinks/97removeSink.js
Labels: javascript, json

#2421 fix(sinker): redis event sink config for legacy pipeline
  sinker/config/types.go
  sinker/redis/consumer/streams.go
Labels: golang

#2422 fix(sinker): redis to new sinkconfig structure
  sinker/config/types.go
  sinker/config_state_check.go
  sinker/message_handler.go
  sinker/redis/consumer/streams.go
  sinker/redis/sinker_test.go
Labels: golang

#2417 improvement(orb-ui): version filter agent list page
  ui/src/app/pages/fleet/agents/list/agent.list.component.ts
  ui/src/app/shared/components/delete/delete.selected.component.html
Labels: orb-ui, typescript

#2418 fix(orb-ui): not cleaning the selected elements after the action
  ui/src/app/pages/datasets/policies.agent/list/agent.policy.list.component.ts
  ui/src/app/pages/fleet/agents/list/agent.list.component.ts
  ui/src/app/pages/fleet/groups/list/agent.group.list.component.ts
  ui/src/app/pages/sinks/list/sink.list.component.ts
  ui/src/app/pages/sinks/view/sink.view.component.ts
Labels: orb-ui, typescript

#2423 fix(sinker): add test in redis
  sinker/redis/sinker_test.go
Labels: golang

#2407 feat(ci): add dependabot
  .github/dependabot.yml
Labels: github-actions

#2449 fix(orb-ui): Active datasets table, add animation to expose all the sinks
  ui/src/app/pages/sinks/list/sink.list.component.ts
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.html
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.scss
  ui/src/app/shared/components/orb/policy/policy-datasets/policy-datasets.component.ts
Labels: orb-ui, typescript

#2410 feat(eng-667): Replace Terms of Service and remove IronClad integration
  Makefile
  ui/docker/Dockerfile
  ui/docker/Dockerfile.buildyarn
  ui/proxy-config.json
  ui/scripts/setenv.ts
  ui/src/app/@core/core.module.ts
  ui/src/app/auth/auth.module.ts
  ui/src/app/auth/pages/login/login.component.scss
  ui/src/app/auth/pages/register/register.component.html
  ui/src/app/auth/pages/register/register.component.ts
  ui/src/environments/environment.defaults.ts
  ui/yarn.lock
Labels: enhancement, orb-ui, internal, javascript, json, typescript

#2450 fix(orb-ui): styles not loading delete and reset selected modals
  ui/src/app/pages/fleet/agents/reset/agent.reset.component.scss
  ui/src/app/shared/components/delete/delete.selected.component.scss
Labels: orb-ui

#2453 Test/eng 567 sinks otlphttp exporter
  python-test/README.md
  python-test/features/steps/control_plane_sink.py
  python-test/features/steps/test_config.py
Labels: test, markdown, python, sql

#2454 Test/eng 567 sinks otlphttp exporter
  python-test/features/steps/schemas/sink_otlphttp_schema.json
Labels: javascript, json

#2452 improvement(orb-ui): #44 expose error when agent fails
  ui/src/app/shared/components/orb/agent/agent-backends/agent-backends.component.html
  ui/src/app/shared/components/orb/agent/agent-backends/agent-backends.component.scss
Labels: orb-ui

#2467 improvement(orb-ui): #153 download agent provisioning command
  ui/src/app/pages/fleet/agents/key/agent.key.component.html
  ui/src/app/pages/fleet/agents/key/agent.key.component.ts
Labels: orb-ui, typescript

#2468 fix(deps): general bumps on dependencies which had vulnerabilities alerted by dependabot
  .github/workflows/agent.yml
  .github/workflows/go-develop.yml
  .github/workflows/go-main.yml
  .github/workflows/go-production.yml
  go.mod
  go.sum
  python-test/requirements.txt
Labels: github-actions

#2469 fix(orb-ui): #73 add missing name validations policy edit
  ui/src/app/shared/components/orb/policy/policy-details/policy-details.component.html
  ui/src/app/shared/components/orb/policy/policy-details/policy-details.component.ts
Labels: orb-ui, typescript

#2470 feat(orb-ui): #145 Create Policy, option to upload a policy configuration yaml file
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.html
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.scss
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.ts
Labels: orb-ui, typescript

#2457 feat: add custom headers support.
  maestro/config/config_builder.go
  maestro/config/config_builder_test.go
  maestro/config/exporter_builder.go
  maestro/config/types.go
  sinks/backend/prometheus/configuration.go
  sinks/backend/prometheus/type.go
Labels: golang

#2471 improvement(orb-ui) Agent View, include policy backend on active policies list
  ui/src/app/shared/components/orb/agent/agent-policies-datasets/agent-policies-datasets.component.html
Labels: orb-ui

#2474 fix(orb-ui): #90 Add elements name on delete modals
  ui/src/app/pages/fleet/agents/delete/agent.delete.component.html
  ui/src/app/pages/fleet/groups/delete/agent.group.delete.component.html
  ui/src/app/pages/sinks/delete/sink.delete.component.html
Labels: orb-ui

#2473 feat(orb-ui): Policy and Agent View, add refresh button
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.html
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.scss
  ui/src/app/pages/datasets/policies.agent/view/agent.policy.view.component.ts
  ui/src/app/pages/fleet/agents/view/agent.view.component.html
  ui/src/app/pages/fleet/agents/view/agent.view.component.scss
  ui/src/app/pages/fleet/agents/view/agent.view.component.ts
Labels: orb-ui, typescript
