Repository orb-community/orb, pull requests merged in 2024-08, with the labels that each got.

#3080 chore: upgrade to go 1.22
  .github/actions/go-lint/Dockerfile
  .github/actions/go-report/Dockerfile
  .github/workflows/agent.yml
  .github/workflows/go-develop.yml
  .github/workflows/go-main.yml
  .github/workflows/go-production.yml
  agent/docker/Dockerfile
  docker/Dockerfile
  docker/Dockerfile.debug
  fleet/api/http/transport.go
  go.mod
  maestro/kubecontrol/kubecontrol.go
  maestro/postgres/init.go
  maestro/redis/consumer/sinker.go
  pkg/errors/types.go
  sinker/redis/consumer/sink_key_expire.go
  sinks/api/http/requests.go
  sinks/api/http/transport.go
  sinks/authentication_type/basicauth/authentication.go
Labels: github-actions, golang

#3061 feat(sinks): enable sinks with token auth.
  maestro/config/authentication_builder.go
  maestro/config/config_builder_test.go
  maestro/config/types.go
  pkg/errors/types.go
  sinks/api/http/endpoint_test.go
  sinks/api/http/requests.go
  sinks/api/http/transport.go
  sinks/authentication_type/basicauth/authentication.go
  sinks/authentication_type/basicauth/authentication_test.go
  sinks/authentication_type/bearertokenauth/authentication.go
  sinks/authentication_type/bearertokenauth/authentication_test.go
  sinks/service.go
  sinks/sinks_service.go
  ui/src/app/pages/sinks/add/sink-add.component.ts
Labels: golang, typescript

#3084 feat: remove diode backend and agent
  .github/workflows/agent.yml
  Makefile
  agent/backend/diode/diode.go
  agent/backend/diode/policy.go
  agent/backend/diode/scrape.go
  agent/backend/diode/utils.go
  agent/docker/Dockerfile.full
  agent/docker/agent_default_full.yaml
  cmd/agent/main.go
  cmd/fleet/main.go
  fleet/backend/diode/diode.go
  fleet/backend/diode/endpoint.go
  fleet/backend/diode/requests.go
  fleet/backend/diode/responses.go
  fleet/backend/diode/transport.go
  fleet/backend/diode/types.go
  go.mod
  go.sum
  policies/backend/diode/diode.go
  policies/backend/diode/types.go
  policies/service.go
  ui/src/app/common/interfaces/orb/agent.policy.interface.ts
  ui/src/app/pages/datasets/policies.agent/add/agent.policy.add.component.ts
  ui/src/app/shared/configurations/configurations_schemas.ts
Labels: github-actions, internal, golang, typescript
