Repository orb-community/orb, pull requests merged in 2024-01, with the labels that each got.

#2839 feat(agent): remove option to set otel to false in orb agent
  .gitignore
  agent/backend/pktvisor/pktvisor.go
  agent/backend/pktvisor/scrape.go
  agent/config/types.go
  cmd/agent/main.go
Labels: internal, golang

#2840 feat(sinks): add config_data and format to GET /sinks.
  sinks/api/http/openapi.yaml
  sinks/postgres/sinks.go
Labels: golang

#2919 fix(agent): remove scraper it was used on legacy code, cleaning up.
  agent/backend/pktvisor/pktvisor.go
  go.mod
  go.sum
Labels: golang

#2853 feat(sinks): remove opentelemetry:enabled from sinks tags and code that used it
  sinks/api/grpc/endpoint.go
  sinks/api/http/logging.go
  sinks/api/http/metrics.go
  sinks/api/http/openapi.yaml
  sinks/migrate/m1_upgrade_config.go
  sinks/postgres/sinks.go
  sinks/redis/producer/streams.go
  sinks/sinks.go
  sinks/sinks_internal_test.go
  sinks/sinks_service.go
Labels: golang

#2920 fix(agent): remove policy id as tap.
  agent/backend/otel/policy.go
Labels: golang

#2933 chore(go.mod): update dependencies from dependabot
  go.mod
  go.sum
Labels: golang

#2921 fix(sinks): add default format as json.
  sinks/api/http/endpoint_test.go
  sinks/postgres/sinks.go
  sinks/sinks_service.go
Labels: golang

#2934 fix(agent): Remote reset fix
  agent/agent.go
  agent/backend/diode/scrape.go
  agent/backend/otel/otel.go
  agent/backend/otel/policy.go
  agent/backend/otel/scrape.go
  agent/backend/pktvisor/pktvisor.go
  agent/backend/pktvisor/scrape.go
  agent/comms.go
  agent/heartbeats.go
  agent/otel/bridgeservice.go
  agent/rpc_from.go
Labels: golang

#2950 fix(migrate): add all migrations to orb-migrate image.
  cmd/migrate/main.go
Labels: golang

#2963 feat(deps): update deps
  go.mod
  go.sum
  python-test/requirements.txt
Labels: golang

#2965 fix: docker dependency
  go.mod
  go.sum
Labels: golang

#2966 fix(workflow): add orb-migrate to main and fix its requirements on go…
  .github/workflows/go-develop.yml
  .github/workflows/go-main.yml
Labels: github-actions

#2949 fix(agent): add more timeout for python_test
  python-test/features/steps/agents.py
Labels: golang, python
